{% if warnings %}
<ul>
  {% for warning in warnings%}
  <li>{{ warning.time }} working for {{ warning.event }} - as {{ warning.interest}},
  managed by {{ warning.lead }}</li>
  {% endfor %}
</ul>
{% else %}
  No warnings
{% endif %}
