{% extends 'base.tmpl' %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}

<h1 class="gbe-title">{% trans "Reset password / Recover Username" %}</h1>

<p>Forgotten your password or username? Enter your email address 
below.  We'll email a reminder of what your username is and 
instructions for setting a new password.</p>

<form action="" method="post">{% csrf_token %}
<p>{% if form.email.errors %}<font class="gbe-form-error">!</font>{% endif %}
<label for="id_email">{% trans 'Email address:' %}</label>
{{ form.email }}
<br>
<div style="padding-left: 5px"><font class="gbe-form-error">{% for error in form.email.errors%}
{{ error }}<br>
{%endfor%}
</font></div><br>
<input type="submit" value="{% trans 'Reset my password' %}"  class="gbe-btn-primary btn"/></p>
</form>

{% endblock %}
