{% extends 'base.html' %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}

{% if validlink %}

<h3 class="gbe-title">{% trans 'Enter new password' %}</h3>

<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

<form action="" method="post">{% csrf_token %}
<div class="row pb-2">
  <div class="col-12 col-md-3 col-lg-2 pt-1">{% trans 'New password:' %}</div>
  <div class="col-12 col-md-9 col-lg-10">
    {{ form.new_password1 }}<br>
    <font class="gbe-form-error">{{ form.new_password1.errors }}</font></div>
</div>
<div class="row pb-2">
  <div class="col-12 col-md-3 col-lg-2 pt-1">{% trans 'Confirm password:' %}</div>
  <div class="col-12 col-md-9 col-lg-10">
    {{ form.new_password2 }}<br>
    <font class="gbe-form-error">{{ form.new_password2.errors }}</font></div>
</div>
<br> 
<p>
<input type="submit" value="{% trans 'Change my password' %}" class="gbe-btn-primary btn">
</p>
</form>

{% else %}

<h1>{% trans 'Password reset unsuccessful' %}</h1>

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
