
/* ==========================================================================
   Gallery Section Style
   ========================================================================== */
#gallery .gallery-wrap {
  margin-top: 30px;
  display: inline-block;
}
#gallery .gellery-pn {
  padding-left: 5px;
  padding-right: 5px;
}
#gallery .more-btn {
  text-align: center;
}
#gallery .more-btn .btn {
  margin-top: 30px;
}
.gallery-item {
  position: relative;
  margin-bottom: 10px;
}
.gallery-item .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.57);
  opacity: 0;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.gallery-item:hover .overlay {
  opacity: 1;
}
.gallery-item img {
  width: 100%;
}
.gallery-item .icons i {
  color: #fff;
  border: 2px solid #fff;
  padding: 12px;
  margin: -42px;
  font-size: 20px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.gallery-item .icons i:hover {
  color: #e91e63;
  border-color: #e91e63;
}
.gallery-item .icons .preview {
  position: absolute;
  left: 40%;
  top: 45%;
  color: #fff;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.gallery-item .icons .link {
  position: absolute;
  left: 55%;
  margin-left: 42px;
  top: 45%;
  color: #fff;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
}
.gallery-item:hover .preview {
  left: 45%;
}
.gallery-item:hover .link {
  left: 50%;
}
