<li class='has-sub'><a href="{% url 'scheduler:calendar_view_day'  'All' 'Saturday' %}"><span>Calendar</span></a>
    <ul>
        <li class='has-sub'><a href="{% url 'scheduler:calendar_view_day'  'All' 'Friday' %}"><span>Friday</span></a>
            <ul>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Show' 'Friday' %}"><span>Shows</span></a></li>
{% comment %}
                <li><a href="{% url 'scheduler:calendar_view_day'  'Class' 'Friday' %}"><span>Classes</span></a></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Volunteer Opportunity' 'Friday' %}"><span>Volunteer Opportunities</span></a></li>
{% endcomment %}
            </ul>
        </li>
        <li class='has-sub'><a href="{% url 'scheduler:calendar_view_day'  'All' 'Saturday' %}"><span>Saturday</span></a>
            <ul>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Show' 'Saturday' %}"><span>Shows & More</span></a></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Class' 'Saturday' %}"><span>Classes</span></a></li>
{% comment %}
                <li><a href="{% url 'scheduler:calendar_view_day'  'Volunteer Opportunity' 'Saturday' %}"><span>Volunteer Opportunities</span></a></li>
 {% endcomment %}
           </ul>
        </li>
        <li class='has-sub'><a href="{% url 'scheduler:calendar_view_day'  'All' 'Sunday' %}"><span>Sunday</span></a>
            <ul>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Show' 'Sunday' %}"><span>Shows & More</span></a></li>
                <li><a href="{% url 'scheduler:calendar_view_day'  'Class' 'Sunday' %}"><span>Classes</span></a></li>
{% comment %}
                <li><a href="{% url 'scheduler:calendar_view_day'  'Volunteer Opportunity' 'Sunday' %}"><span>Volunteer Opportunities</span></a></li>
{% endcomment %}
            </ul>
        </li>
    </ul>
</li>
