{% extends 'base.tmpl' %}
{% load staticfiles %}

{% block title %}
   Events List
{% endblock %}

{% block content %}
  <p class="vanilla">{{title}} </p>
  <h2 class="review-title">Events Information</h2>
<p>Create a new <a href="{{create_url}}">event</a></p>
  <table class="events-table">
    <tr class="events-table">
      {% for header_item in header %}
        <th class="event-table">{{ header_item }}</th>
      {% endfor %}
    </tr>
    {% for event in events %}
      <tr class="event-table">

	                <td class="events-table">      
            		{{ event.title }}
          		</td>	

	                <td class="events-table">
			  {%if event.location %}
			    {{ event.location  }}
			  {%else%}
			    &nbsp;
			  {%endif%}
          		</td>	
	                <td class="events-table">      
			  {%if event.datetime %}
			    {{ event.datetime  }}
			  {%else%}
			    &nbsp;
			  {%endif%}
          		</td>	
	                <td class="events-table">      
            		{{ event.duration }}
          		</td>	
	                <td class="events-table">      
            		{{ event.type }}
          		</td>	
	                <td class="events-table">      
			  {%if event.max_volunteer %}
			    {{ event.max_volunteer  }}
			  {%else%}
			    &nbsp;
			  {%endif%}
          		</td>	
	                <td class="events-table">      
			  {%if event.volunteer_count %}
			    {{ event.volunteer_count  }}
			  {%else%}
			    &nbsp;
			  {%endif%}
          		</td>		                <td class="events-table">      
            		<a href='{{ event.detail }}'>Detail</a>
          		</td>	
	                <td class="events-table">
			  {%if event.edit %}
            		    <a href='{{ event.edit }}'>Edit</a>
			  {%elif event.create%}
            		    <a href='{{ event.create }}'>Add Session</a>
			  {%else%}
			    &nbsp;
			  {%endif%}
          		</td>	
	                <td class="events-table">
			  {%if event.edit %}
            		    <a href='{{ event.delete }}?next={{ request.get_full_path }}'>Unschedule</a>
			  {%else%}
			    &nbsp;
			  {%endif%}
          		</td>	
      </tr>
      {% if event.create %}
      <tr class=blank_row>
	<td colspan=10>&nbsp</td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
{% endblock %}

