{% extends "base.tmpl" %}
{% block title %}
    {{ name }}
{% endblock %}

{% block content %}
<h1 align='center'>{{ day }}</h1>
{% if rows %}
<table border=4, style="list-style: none;" class="calendar_table">
<CAPTION ALIGN="top">
<li><a href="{{ x_name.link }}">{{ x_name.title }}</a></li></CAPTION>

{% comment %}
    {% for row in rows %}
        <tr>
        {% for cell in row %}
            <td {
            {% for side in cell.Borders %}
                    Border-{{ side }}: Solid 4px;
            {% endfor %}
                    }
            {% if cell.link %}
                <li><a href="{{ cell.link }}">{{ cell.title }}</a><li></body></font>
            {% endif %}
                ></td>
        {% endfor %}
        </tr>
    {% endfor %}

{% endcomment %}

  {% for row in rows %}
   {% if forloop.first %}
     <tr class="cal_header">
   {% else %}
     <tr class="cal_body">
   {% endif %}
    {% for cell in row %}
      {{cell |safe}}
    {% endfor %}
     </tr>
  {% endfor %}

</table>
{% else %}
<p>This calendar is not currently available.</p>
{% endif %}
{% endblock %}
