{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
  Act Details for {{act}}
{% endblock %}

{% block content %}
<div class="container">
{% if act.accepted != 3 %}
<div class="row justify-content-center">
<span style="font-size: 1.8em; color: red;">
Act state is {{ state }}</span>
</div>{% endif %}
<div class="row">
 <div class="col-xs-12 col-md-6 col-lg-4">
  <h2 class="gbe-title">Performer: {{act.performer}}</H2>
  <h3 class="gbe-subtitle">Act Name: {{act.b_title}}</h3>
  {% if not act.tech.is_complete %}<font class="gbe-form-error">Act Tech is NOT complete</font><br>{% endif %}
  <b>Email:</b>  <a href='mailto:{{act.act.performer.contact.user_object.email}}'>
    {{act.performer.contact.user_object.email}}</a><br>
  <b>Phone:</b>  {{act.performer.contact.phone}}<br>
 </div>
 <div class="col-xs-12 col-md-6 col-lg-4">{% if act.performer.img %}
  <img src="{% thumbnail act.performer.img 300x300 crop upscale subject_location=act.performer.img.subject_location %}" class="sched_bio_image">
  <br><br>
 {% else %}&nbsp;{% endif %}</div>
 <div class="col-xs-12 col-md-6 col-lg-4">
<h4>Show:  {% for show in shows %}{{show}}, {% empty %}<font class="gbe-form-error">No Show</font>{% endfor %}</h4>
<h4>Rehearsal: {% for rehearsal in rehearsals %}{{ rehearsal.start_time }}
{% empty %}{% if act.tech.confirm_no_rehearsal %}Not Attending{% else %}<font class="gbe-form-error">No Rehearsal</font>{% endif %}{% endfor %}</h4>
{% if order >= 0 %}
<div class="act_tech_box gbe-bg-light" style="text-align:center;"><br><span style="font-size: 3em;">
  {{ order }}<br></span><br>Show Order</div>{% endif %}
 </div></div>
<div class="row">
<div class="col-11 sched_times gbe-bg-dark">
    <b>Duration</b>(hh:mm:ss): {{act.tech.duration}}<br>
    <b>Description:</b> {{act.b_description | linebreaks}}<br>
    <b>Feel of Act:</b> {{act.tech.feel_of_act | linebreaks}}<br>
</div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 act_tech_box gbe-bg-light">
  <h3 class="gbe-subtitle">Stage Crew Info:</h3>
  <b>Prop Setup:</b><br>
  <ul>
  {% for item in act.tech.prop_setup_list %}<li>{{item}}</li>{% endfor %}
  </ul>
  {{ act.tech.crew_instruct | linebreaks }}<br>
</div>
  <div class="col-xs-12 col-md-5 act_tech_box gbe-bg-light">
  <h3 class="gbe-subtitle">MC Info:</h3>
  <b>Preferred Pronouns:</b> {{act.performer.pronouns}}<br>
  {% if act.tech.read_exact %}<b>Read this exacty</b><br>{% endif %}
  {{ act.tech.introduction_text | linebreaks}}<br><br>
</div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 act_tech_box gbe-bg-light">
  <h3 class="gbe-subtitle">Lighting Info:</h3>
    <span style="font-variant: small-caps;">Costume Colors</span><br>
      &nbsp;&nbsp;<b>Primary:</b> {{act.tech.primary_color}}<br>
      &nbsp;&nbsp;<b>Secondary :</b> {{act.tech.secondary_color}}<br>
<br>
      <b>Starting Position:</b> {{act.tech.starting_position}}<br>
      <b>Starting Lights:</b> {% if act.tech.start_blackout %}Blackout{% else %}
      Lights On{% endif %}<br><br>
    {% if act.tech.follow_spot_color %}
      <b>Follow Spot:</b> {{act.tech.follow_spot_color}}<br>
      {% elif act.tech.follow_spot %}<b>Follow Spot:</b> ON<br>{% else %}
      <b>Follow Spot:</b> OFF<br>
      {% endif %}
    {% if act.tech.wash_color %}
      <b>Wash Color:</b> {{act.tech.wash_color}}<br>{% endif %}
    {% if act.tech.background_color %}
      <b>Background Color:</b> {{act.tech.background_color}}<br>{% endif %}
    {% if act.tech.special_lighting_cue %}
      <b>Special Lighting Cue:</b> {{act.tech.special_lighting_cue}}<br>{% endif %}
      <br><b>Lighting at End:</b> {% if act.tech.end_blackout %}Blackout{% else %}
      Lights On{% endif %}<br></div>
  <div class="col-xs-12 col-md-5 act_tech_box gbe-bg-light">
  <h3 class="gbe-subtitle">Audio Info:</h3>
    <b>Starting Position:</b> {{act.tech.starting_position}}<br>
    {% if act.tech.track_title %}
      <b>Track Title:</b> {{act.tech.track_title}}<br>{% endif %}
    {% if act.tech.track_artist %}
      <b>Track Artist:</b> {{act.tech.track_artist}}<br>{% endif %}
    {% if act.tech.confirm_no_music %}
      <b>No Music Needed</b>
    {% elif act.tech.track %}
      <b>Filename:</b> <a href="{{act.tech.track.url}}">{{act.tech.track}}</a>{% if not act.tech.track %}
        <font class="gbe-form-error">Music not yet provided</font>{% endif %}<br>
    {% endif %}<br>
      <b>Mic Options:</b> {{act.tech.mic_choice}}<br><br>
</div>
</div>
</div>
{% endblock %}
