{% extends 'base.tmpl' %}
{% load gbe_tags %}
{% load staticfiles sekizai_tags %}

{% block title %}
   Review Bids
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
{% endblock %}
{% block content %}


  <p class="vanilla">{{title}} </p>
  <h2 class="review-title">Act Tech Info for {{this_show}}</h2>
  <br/>
      {% include "conference_picker.tmpl" %}
  <br/>


  Also view:
  {% for show in all_shows %}
    <a href="{% url 'reporting:act_techinfo_review' show.eventitem_id%}">{{show}}</a>
    {% if not forloop.last %} | {% endif %}
  {% endfor %}
  
  {% if scheduling_link and scheduling_link|length > 0 %}
    </br></br>
    <a href="{{scheduling_link}}">Schedule Acts for this Show</a>
  {% endif %}
<br><br>
<span class="error_row">Highlighted text</span> reflects incomplete acts.<br>
<span class="error_row"><b>Bold and red names</b></span> reflects acts with
deactivated users.<br>

  {% if messages %}
      <script>
    alert("{% for message in messages %}{{message.tags|capfirst}}: {{message}}\n{% endfor %}");
      </script>
  {% endif %}

  {% if acts %}
  <div>Press the arrows to sort on a column.  To sort on an additional sub-order,
  press "Shift" to sort a secondary column.</div>
  <br/>
  <div>
    Toggle column(s):
    <a class="toggle-vis" data-column="0">
	# (Order)</a> -
    <a class="toggle-vis" data-column="1">
	Act</a> -
      <a class="toggle-vis" data-column="2">
	Performer</a> -
      <a class="toggle-vis" data-column="3">
	Contact Email</a> -
      <a class="toggle-vis" data-column="4">
	Rehearsal</a> -
      <a class="toggle-vis" data-column="5">
	Music</a> -
      <a class="toggle-vis" data-column="6">
	Action</a>
  </div>
  <br/>
  <table id="bid_review" class="order-column" cellspacing="0" width="100%">
    <thead>
      <tr class="bid-table">
        <th class="bid-table" >#</th>
        <th class="bid-table" >Act</th>
        <th class="bid-table" >Performer</th>
        <th class="bid-table" >Contact Email</th>
        <th class="bid-table" >Rehearsal</th>
        <th class="bid-table" >Music</th>
        <th class="bid-table" >Action</th>
      </tr>
    </thead>
    <tfoot>
      <tr class="bid-table">
        <th class="bid-table" >#</th>
        <th class="bid-table" >Act</th>
        <th class="bid-table" >Performer</th>
        <th class="bid-table" >Contact Email</th>
        <th class="bid-table" >Rehearsal</th>
        <th class="bid-table" >Music</th>
        <th class="bid-table" >Action</th>
      </tr>
    </tfoot>
    <tbody>
    {% for act in acts %}
      <tr  {% if not act.tech.is_complete  %}class="error_row"{%else%} class="bid-table"{% endif %} >
          <td class="bid-table">{{ act.order }}
	  <td class="bid-table">{{ act.b_title }}</td>
	  <td class="bid-table">
	    {% if not act.performer.contact.user_object.is_active  %}
	      <span class="error_row" class="bid-table"><b>
	    {% endif %}
	      {{ act.performer }}
	    {% if not act.performer.contact.user_object.is_active  %}
	      - INACTIVE</b></span>
	    {% endif %}</td>
	  <td class="bid-table"><a href='mailto:{{act.performer.contact.user_object.email}}'>
            {{act.performer.contact.user_object.email}}</a></td>
	  <td class="bid-table">{% for rehearsal in act.get_scheduled_rehearsals %}
            {{rehearsal.start_time}}<br>
            {%endfor%}
          </td>

	  <td class="bid-table">
            {% if act.tech.audio.track %}
            <a href="{{act.tech.audio.track.url}}">{{act.tech.audio.track.name | display_track_title:20 }}</a>
            {% elif act.tech.audio.confirm_no_music %}
            No audio track needed
            {% else %}
            <span class="error_row">No track provided</span>
            {% endif %}
          </td>
          <td class="bid-table">
	    <a href="{% url 'gbe:act_techinfo_edit' act.id%}">Edit</a>
	  </td>
      </tr>

    {% endfor %}
    </tbody>
  </table>
  <br><br>
  Download <a href='{% url 'reporting:act_techinfo_download' this_show.eventitem_id %}'>All Details</a>
  as a .csv file.
  <br>
  Download <a href="{% url 'reporting:download_tracks_for_show' this_show.pk %}">all audio tracks</a> for this show as a zipped tar archive</br>
  {% else %}
    <br>
    There are no available acts.  That may mean that:
    <ul>
    <li>The show has not been scheduled - check the scheduler</li>
    <li>There are no acts in the show - check bid review for acts</li>
    <li>The show identified does not exist - please pick from the list above...</li>
    </ul>
{% endif %}
{% addtoblock "js" %}
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script>
  $(document).ready(function() {
    var table = $('#bid_review').DataTable({
      "columnDefs": [
        { "width": "5%", "targets": 0 }
      ]
    } );
 
    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();
 
        // Get the column API object
        var column = table.column( $(this).attr('data-column') );
 
        // Toggle the visibility
        column.visible( ! column.visible() );
    } );
  } );
  </script>
{% endaddtoblock %}
{% endblock %}
