{% extends 'gbe/gbe_table.tmpl' %}
{% block title %}
   Review Class Interest
{% endblock %}
{% block before_table %}
  <h2 class="gbe-title">Review Class Interest</h2>
  {% include "conference_picker.tmpl" %}
  <p>{{ about }}</p>
{% endblock %}
{% block tbody %}
  {% for class in classes %}
    <tr class="gbe-table-row">
      <td width=25%>{{ class.title }}</td>	
      <td>{% for teacher in class.teachers %}{{ teacher.name }}{% endfor %}</td>	
      <td>{{ class.location }}</td>	
      <td>{{ class.maximum_enrollment }}</td>	
      <td>{{ class.type }}</td>	
      <td>{{ class.interested|length }}</td>	
      <td>
      <div class="btn-group gbe-btn-group" role="group" aria-label="...">
	    <a href="{{ class.detail_link }}" data-toggle="tooltip" title="View Event Description" class="btn gbe-btn-table btn-sm">
        <i class="far fa-eye"></i>
	    <a href="#" data-toggle="modal" title="View Interested Email Addresses" data-target="#Modal{{class.eventitem_id}}" class="btn gbe-btn-table btn-sm">
	      <i class="far fa-envelope"></i></a></div>
        {% include "gbe/interest_list.tmpl" %}
      </td>
    </tr>{% endfor %}
{% endblock %}
