{% extends 'base_print.tmpl' %}
{% load static %}

{% block title %}
   Printable Schedules
{% endblock %}

{% block content %}

{% include "conference_picker.tmpl" %}
<br>
{% for schedule in schedules %}
{% if schedule.bookings %}  
  <h2>{{ schedule.person.get_badge_name }}'s Schedule</h2>
  <i>{{welcome_message}}</i><br><br>
  
  <table class='printable-table'>
  <tr class='printable-header'>
    <th class='printable-header'>Schedule Item</th>
    <th class='printable-header'>Role</th>
    <th class='printable-header'>Location</th>
    <th class='printable-header'>Day</th>
    <th class='printable-header'>Time</th>
  {% for booking in schedule.bookings %}
  <tr class='printable-table {% if booking.role == 'Interested' %}interested-sched{% else %}dedicated-sched{% endif %}'>
    <td class='printable-table'>{% if booking.event.parent %}{{ booking.event.parent.title | safe}}: {% endif %}{{ booking.event | safe }}</td>
    <td class='printable-table'>{{booking.role|title}} </td>    
    <td class='printable-table'>{{booking.event.location}} </td>    
    <td class='printable-table'>{{booking.event.starttime.date}} </td>
    <td class='printable-table'>{{booking.event.starttime.time}} </td>
  </tr>
  {% endfor %}
  </table>
<br>
{% endif %}
{% if schedule.unsigned_forms %}
<div class="alert gbe-alert-danger p-2"><h2 class="gbe-subtitle">You have forms to Sign!!</h2>
{{ unsigned_forms_message }}<br><br><b>Forms to be signed:</b>
  <ul>{%for form in schedule.unsigned_forms%}
  <li>{{form.description}}</li>
  {% endfor %}<ul></div>
{% endif %}

{% if schedule.ticket_items or schedule.role_items%}
  <h2 class="gbe-subtitle">{{ schedule.person.get_badge_name }}'s GBE Package Checklist</h2>
  <ul>
  {% for criteria in schedule.ticket_items %}
    <li>Purchased {{criteria.count}} of {{criteria.ticket.title}}, for each item include:</li>
    <ul>
      {% for item in criteria.items%}
        <li>{{item}}</li>
      {%endfor%}
    </ul>
  {% endfor %}
  {% for role, items in schedule.role_items.items %}
    {% if role %}
    <li>Thank you for being a {{role}}, your package includes:</li>
    {% endif %}
    <ul>
      {% for item in items%}
        <li>{{item}}</li>
      {%endfor%}
    </ul>
  {% endfor %}
  </ul>
{% endif %}
-----BREAK-----
{% endfor %}
{% endblock %}

