{% extends 'base.html' %}
{% load static %}

{% block title %}
   Review Staffing
{% endblock %}

{% block content %}
  <h2 class="gbe-title">Reports</h2>

  Warning:  This area is a work in progress... if you click a link and get a 404 error, please do the following:
   <ul>
    <li>Verify with webdev@burlesque-expo.com that you have the right privilege.</li>
    <li>Verify that the link does not say "Just Teasing" - we have some work in progress.</li>
   </ul>

  {% include "conference_picker.tmpl" %}

<br><br>
  <table>
    <thead>
    <tr class="gbe-table-header">
      <th>Report</th>
      <th>Description</th>
      <th>Link</th>
    </tr>
    </thead>
    <tr class="gbe-table-row">
        <td><b>Staffing Report by Area</b></td>
        <td>
 	  <i>Heads of Staff</i> this is for you! Whether you're running a
	  staff area or a show, go here to see:
	  <ul><li>List of scheduled shifts</li>
	      <li>Volunteers for each shift</li>
	      <li>Volunter contact info</li></ul>
        </td>
        <td>
          <a href="{%url 'reporting:staff_area' %}" class="gbe-table-link">Staff Area</a>
        </td>
      </tr>
    <tr class="gbe-table-row">
        <td><b>Room Schedules</b></td>
        <td>
 	  <i>Class coordinator & Heads of Staff</i> this is for you!  Go here to see a printable report of:
	  <ul><li>Room Schedules for every room</li>
	  <li>Day by day</li>
	  <li>Schedule items and presenters</li></ul>
        <td>
          <a href="{%url 'reporting:room_schedule' %}" class="gbe-table-link">Room Schedules</a>
        </td>
      </tr>  
    <tr class="gbe-table-row">
        <td><b>Room Setup</b></td>
        <td>
 	  <i>Class coordinator</i> this is for you!  This is great for working with the hotel.
	  <ul><li>Room Schedules - every class room, every day</li>
	  <li>Class with type</li>
	  <li>Room setup requests</li></ul>
        <td>
          <a href="{%url 'reporting:room_setup' %}" class="gbe-table-link">Room Setup</a><br>
	  <i>copy to word, replace -----BREAK----- <br>
	  with a line break and make landscape.</i>
        </td>
      </tr>    
     <tr class="gbe-table-row">
        <td><b>Personal Schedules Print Run</b></td>
        <td>
 	  <i>Registration</i> this is for you! 
	  <ul><li>Schedules for everyone</li>
	  <li>In a printable format - only prints schedules for people who have
	  a personal schedule, but when it does, it does all the envelope stuffing
	  info, too.  If you need something different, look at individual schedules
	  </li>
	  </ul>
        <td>
          <a href="{%url 'reporting:welcome_letter' %}" class="gbe-table-link">Schedule of Everyone</a><br>
	  <i>copy to word, replace -----BREAK----- <br>
	  with a line break and you're good to go.</i><br>
	  <a href="{%url 'gbe:manage_users' %}" class="gbe-table-link">Per User View</a>
        </td>
      </tr>
    <tr class="gbe-table-row">
        <td><b>Envelope Stuffing Made Easy</b></td>
        <td>
 	  <i>Registration</i> this is for you!  Everything you need to get envelopes stuffed.
	  <ul><li>Person by person</li>
	  <li>Badge name</li>
	  <li>Ticket info</li>
	  <li>Teacher, moderator or panelist?</li>
	  <li>Performer?</li>
	  <li>Volunteer?</li>
	  <li>Head of Staff?</li>
	  </ul>
        <td>
	  {% if conference %}
            <a href="{%url 'reporting:env_stuff' conference.conference_slug %}" class="gbe-table-link">Big List of Everything</a><br>
	  {%else%}
            <a href="{%url 'reporting:env_stuff' %}" class="gbe-table-link">Big List of Everything</a><br>
          {%endif%}
	  <i>downloads a CSV</i>
        </td>
      </tr>
  </table>
{% endblock %}

