{% extends 'base_print.tmpl' %}
{% load static %}

{% block title %}
   Printable Schedules
{% endblock %}

{% block content %}

{% include "conference_picker.tmpl" %}

{% for entry in room_date%}

  <h3>Schedule for {{ entry.room }} - {{entry.date}}</h3>
 
  <table class="printable-table">
    <tr class="printable-header">
      <th class="printable-header">Name</th>
      <th class="printable-header">Presenter</th>
      <th class="printable-header">Start</th>
      <th class="printable-header">End</th>
    </tr>
    {% for event in entry.events %}
    <tr class="printable-table">
      <td class="printable-table">{{event.booking}}</td>
      <td class="printable-table">{% for person in event.people %}
        {{person.role}}:  {{person.person}}<br>
      {%endfor%}
      </td>
      <td class="printable-table">{{event.booking.start_time}}</td>
      <td class="printable-table">{{event.booking.end_time}}</td>
    </tr>
    {% endfor %}
  </table>
  
  <br>

-----BREAK-----
{% endfor %}
{% endblock %}

