{% extends 'base.tmpl' %}
{% load static %}

{% block title %}
   Room Bookings
{% endblock %}

{% block content %}

  {% include "conference_picker.tmpl" %}

  <h2 class="review-title">Room Schedules</h2>

{% for entry in room_date%}
  <h3>Schedule for {{ entry.room }} - {{entry.date}}</h3>
 
  <table class="bid-table">
    <tr class="bid-table">
      <th class="bid-table">Name</th>
      <th class="bid-table">Start</th>
      <th class="bid-table">End</th>
      <th class="bid-table">Type</th>
      <th class="bid-table">Space Needs</th>
    </tr>
    {% for booking in entry.bookings%}
    <tr class="bid-table">
      <td class="bid-table">{{booking.event}}</td>
      <td class="bid-table">{{booking.event.start_time}}</td>
      <td class="bid-table">{{booking.event.end_time}}</td>
      <td class="bid-table">{{booking.class.type}}</td>
      <td class="bid-table">{{booking.class.get_space_needs}}</td>
    </tr>
    {% endfor %}
  </table>
{% endfor %}
{% endblock %}

