{% extends 'base.html' %}
{% load static %}

{% block title %}
   Room Bookings
{% endblock %}

{% block content %}

  {% include "conference_picker.tmpl" %}
  
  <h2 class="gbe-title">Room Schedules</h2>

{% for entry in room_date%}
  <h3>Schedule for {{ entry.room }} - {{entry.date}}</h3>
 
  <table><thead><tr  class="gbe-table-header">
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Type</th>
      <th>Space Needs</th>
    </tr></thead><tbody>
    {% for booking in entry.bookings%}
    <tr  class="gbe-table-row">
      <td>{{booking.event}}</td>
      <td>{{booking.event.start_time}}</td>
      <td>{{booking.event.end_time}}</td>
      <td>{{booking.class.type}}</td>
      <td>{{booking.class.get_space_needs}}</td>
    </tr>
    {% endfor %}
  </tbody></table><br>
{% endfor %}
{% endblock %}

