{% extends 'base.tmpl' %}
{% load static %}

{% block title %}
   Review Staffing for {{area}}
{% endblock %}

{% block content %}


  <h2 class="review-title">Staff Schedules for {{area}}
    <a href="?filter={{other_option}}" role="button" class="btn btn-primary float-right">Display {{other_option}} Staff</a>{% if edit_link %}
    <a href="{{edit_link}}" style="margin-right: 4px; "role="button" class="btn btn-primary float-right">Edit</a>{% endif %}</h2>
<p>
<font color="red">Red text</font> shows a user that has deactivated their account.
</p>
<ul>
    {% if area.staff_lead %}<li>Staff Lead - {{area.staff_lead}}</li>{% else %}
        {% for worker in area.people %}
        <li>{{worker.role}} - {{worker.user.profile}}</li>
        {% endfor %}
    {% endif %}
</ul>

{% for opp in opps%}
<div class="panel panel-primary">
  <div class="panel-heading"><h3>{{ opp.starttime}} - {{ opp.eventitem.event.e_title}}
    {% if conference.status != "completed" %}<a href="{% url 'scheduling:edit_event' conference.conference_slug opp.pk %}" role="button" class="btn btn-primary float-right">Edit</a>{% endif %}</h3></div>
  <div class="panel-body"><b>Location:</b>  {{opp.location}}<br>{% if opp.role_count("Volunteer") %}{{opp.role_count}}{% endif %}</div>
  <table class="table">
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Role</th>
      <th>Mail</th>
      <th>Number</th>
    </tr>
    {% for contact in opp.people%}
    {% if contact.role in visible_roles %}
    <tr {% if not contact.user.profile.is_active %}style="color:red;"{% endif %}>
      <td>{% for role, commit in role_commit_map.items %}{% if role == contact.role %}
        &nbsp;<i class="{{commit.1}}">
          {% endif %}{% endfor %}</td>
      <td>{{contact.user.profile}}</td>
      <td>{{contact.role}}</td>
      <td>{{contact.user.email}}</td>
      <td>{{contact.user.profile.phone}}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endfor %}
{% endblock %}

