{% extends 'gbe/gbe_table.tmpl' %}

{% block before_table %}
  <h2 class="review-title gbe-title">{{ view_title }}</h2>
  <br/>
  <i>{{ intro_text }}</i>
  <br/><br/>
{% endblock %}

{% block tbody %}
{% for user in object_list %}
<tr class="gbe-table-row">
  <td><b>Username:</b>  {{ user }}<br>
      <b>Display Name:</b>  {{ user.profile.get_badge_name }}
    {% if user.is_staff %}<br>Admin{% endif %}</td>
  <td>{{ user.last_login|date:"M j, Y, g:i A" }}</td>
  <td>{% for group in user.groups.all %}{{group}}<br>{% endfor %}</td>
  <td>{% for role in user.profile.get_priv_roles %}{{role}}<br>{% endfor %}</td>
</tr>
{% endfor %}
{% endblock %}