{% extends 'gbe/gbe_table.tmpl' %}
{% block title %}
   Vendors for All Conferences
{% endblock %}

{% block tbody %}
{% for biz in businesses %}
<tr class="gbe-table-row">
  <td>{{ biz.name }}
  {% if biz.website %}
    <a class="social" href="{{vendor.business.website}}" target="_blank">
      <i class="fa fa-link"></i></a>{% endif %}
  <td>{% for bid in biz.vendor_set.all %}
    {{ bid.b_conference.conference_slug }}{% if bid.level %} - {{ bid.level }}{% elif not bid.submitted %} - DRAFT{% endif %}<br>
  {% endfor %}</td>
  <td>{% for bid in biz.vendor_set.all %}{% if bid.b_conference.status != "completed" %}
    {% if bid.submitted %}{{ bid.get_accepted_display }}
    {% else %}DRAFT{% endif %}<br>{% endif %}
  {% endfor %}</td>
  <td>{{ biz.show_owners }}{% if biz.show_owners|length == 0 %}<span class="gbe-form-error gbe-inactive"><i>All owners are inactive</i></span>{% endif %}</td>
  <td>{{ biz.description|safe }}</td>
  <td>EMAIL!</td>
  </tr>
{% endfor %}
{% endblock %}
