  {% if costumes %}
   <div class='gbe-medium-light gbe-no-border'>
    <span class='sched_detail'>Costume Display Proposals</span><br>
    {% for costume in costumes %}
      <div>
        {% if costume.submitted or historical %}
          <a class="gbe-link" href='{% url 'gbe:costume_view' costume.id%}'> 
            {{ costume }}
          </a>(Click to view)
          {% for value, state in acceptance_states %}
            {% if value == costume.accepted %}
              - {{state}}
            {%endif%}
          {% endfor %}
          <br>
        {% else %}
          <a class="gbe-link" href='{% url 'gbe:costume_edit' costume.id %}'> 
            {{ costume }} 
          </a>(Click to edit)
          <br>
      {% endif %}
      </div> 
      {% for alert in costume.alerts %}
        <span class='gbe-alert'> {{ alert|safe}}</span> <br>	      	 
      {% endfor %}

    {% endfor %}
    <br>
<div class="container">
  <div class="row">
    <div class="col text-center">
        <a class="btn gbe-btn-primary" role="button" href="{% url 'gbe:costume_create' %}">Propose Costume Display</a></li>
    </div>
  </div>
</div><br>
   </div>
  {% endif %}

