<div class='gbe-medium-light gbe-no-border'>
  {% if shows %}
  <span class='sched_detail'>Shows {{ profile.display_name }} is appearing in:</span><br>
    {% for show, act in shows %}
      {% if show.is_current %}{% ifchanged show %}
        {% if not forloop.first %}</ul></div>{% endif %}
        <div> 
           <a class="gbe-link" href="{% url 'scheduling:detail_view' show.eventitem_id%}">
            {{ show }}</a>
           <ul>{% endifchanged %}
        <li>{{ act }}</li>
      {% endif%}
    {% endfor %}
    </ul></div>
  {% else %}
    {{ profile.display_name }} is not scheduled for any shows at this time.
    <br>
  {% endif %}
</div>

