<div class='performer_section'>
  {% if personae or troupes %}
    <span class='heading performers'>
      <b>Performer Items</b>
    </span>
  <br>
    {% if personae or troupes %}
      {% for performer in personae %}
        {% with edit_view_name='gbe:persona_edit' view_name='gbe:persona_edit' %}
          {% include 'gbe/profile/incl_performer_block.tmpl' %}
	      {% endwith %}
      {% endfor %}
      {% for performer in troupes %}
        {% with edit_view_name='gbe:troupe_edit' view_name='gbe:troupe_view' %}
          {% include 'gbe/profile/incl_performer_block.tmpl' %}
	      {% endwith %}
      {% endfor %}
    {%endif%}
  {% else %}
    {{ profile.display_name }} has no stage personae listed.<br>
  {% endif %}
  <br>
  <a href='{% url 'gbe:persona_create' %}' class="btn btn-secondary btn-sm">New Bio</a>
  <a href='{% url 'gbe:troupe_create' %}' class="btn btn-secondary btn-sm">New Troupe</a>
</div>
