<div class='gbe-medium-light gbe-no-border pb-1'>
  {% if proposed_classes %} 
  <span class='sched_detail'>Class Bids</span><br>
    {% for class in proposed_classes %}
      <div>
        {% if class.submitted %}
          <a class="gbe-link" href='{% url 'gbe:class_view' class.id%}'> {{ class }} </a>
          (Click to view) 
          {% for value, state in acceptance_states %}
            {% if value == class.accepted %}
              - {{state}}
            {%endif%}
          {% endfor %}
          <br>
        {% else %}
       	  <a class="gbe-link" href='{% url 'gbe:class_edit' class.id %}'>{{ class }} </a>
	  (Click to edit)<br>
        {% endif %}
    {% if historical %}
    <ul>
      <li><a class="gbe-link" href='{% url 'gbe:clone_bid' bid_type='Class' bid_id=class.id %}'>Clone this class</a></li>
    </ul>
    {% endif %}</div>
  {% endfor %}
  {% else %}
    {{ profile.display_name }} has not proposed any classes<br>
  {% endif %}
</div>