{% load thumbnail %}
<div>
  {% if performer.img %}
    <div class="gbe_thumb_block">
    <button role="button" class="gbe_thumb_button" data-toggle="modal" 
     data-target="#performer-promo-image-{{performer.pk}}">
      <img src="{% thumbnail performer.img 20x20 crop upscale subject_location=performer.img.subject_location %}"
       class="gbe_thumbnail">
      </button>
    </div>
     <div class="modal" id="performer-promo-image-{{performer.pk}}" tabindex="-1" role="dialog">
       <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content gbe-modal-content">
           <div class="modal-header gbe-modal-header">
            <h3 class="gbe-title">{{ performer }}</h3>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body mx-auto">
	   <img src="{% thumbnail performer.img 450x450 crop upscale subject_location=performer.img.subject_location %}">
           </div>
         </div>
       </div>
     </div>
   {% else %}
     <div class="gbe_no_pic">&nbsp;</div>
  {% endif %}
  <div class="performer_text">
    {% if performer.contact == profile and admin_message is None %}
      <a class="gbe-link" href='{% url "gbe:persona-update" performer.pk 1 %}'>
        {{ performer }}
      </a><br>
    (Click to edit)
    {% else %}
      <a class="gbe-link" href='{% url "gbe:bio_view" performer.pk %}'>
        {{ performer }}
      </a><br>
    {% endif %}
  </div>
</div>
