
<div class='act_section'>
{% if acts %}
    <span class='heading acts'>
      <b>Act Bids</b>
    </span><br>
    {% for act in acts %}
      <div class='act'>
        {% if act.submitted %}
	        <i class="fas fa-check-circle text-success"></i> {{ act }} - {{act.get_accepted_display}} 
          <ul>
            <li> 
              <a href = '{% url 'gbe:act_view' act.id %}'>View</a> act
            </li>
    {% if act.get_accepted_display == 'Accepted' and not historical %}
    <li>{% if act.performer.contact == profile %}
	     <a href = '{% url 'gbe:act_tech_wizard' act.id %}'>View/edit</a> 
       {% else %}
       <a href = '{% url 'reporting:act_techinfo_detail' act.pk %}'>View</a> 
       {% endif %}
        Act Tech Info and rehearsal schedule     
    </li>{% endif %}
        {% elif act.performer.contact == profile %}
	  <span class="text-danger"><i class="fas fa-arrow-alt-circle-right"></i> 
      <b>{{ act }}</b></span> - {% if act_paid %}Fee has been paid, submit NOW!
      {% else %}Not submitted{% endif %}
	<ul>
	    <li><a href = '{% url 'gbe:act_edit' act.id %}'> View/edit </a>
	       this act bid</li>{% endif %}
	  {% if historical and act.performer.contact == profile %}
      <li><a href='{% url 'gbe:clone_bid' bid_type='Act' bid_id=act.id %}'>Clone this act</a></li>
    {% endif %}
	  </ul></div>
    {% endfor %}
{% else %}
  {{ profile.display_name }} has no acts listed.	   
  {% endif %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <a class="btn btn-dark" role="button" href='{% url 'gbe:act_create' %}'>Propose Act</a>
    </div>
  </div>
</div><br>
</div>
