<div class='performer_section'>
  {% if bios %}
    <span class='sched_detail'>Bios</span>
  <br>
    {% for performer in bios %}
      {% include 'gbe/profile/incl_performer_block.tmpl' %}
    {% endfor %}
  {% else %}
    {{ profile.display_name }} has no stage personae listed.<br>
  {% endif %}
  <br>
  <a href='{% url 'gbe:persona-add' %}' class="btn gbe-btn-secondary btn-sm">New Bio</a>
</div>
