  {% if vendors %}
   <div class='vendor_section'>
    <span class='heading vendors'>
      <b>Vendor Bids</b>
    </span><br>
    {% for vendor in vendors %}

      <div class='vendor'>
        {% if vendor.submitted %}
          <a href = '{% url 'gbe:vendor_view' vendor.id%}'> 
            <i class="fas fa-check-circle text-success"></i> {{ vendor }} 
          </a>(Click to view)
          {% for value, state in acceptance_states %}
            {% if value == vendor.accepted %}
              - {{state}}
            {%endif%}
          {% endfor %}
          <br>
        {% else %}
          <a href='{% url 'gbe:vendor_edit' vendor.id %}' class='text-danger'> 
            <i class="fas fa-arrow-alt-circle-right"></i> <b>{{ vendor }}</b>
          </a>(Click to edit){% if vendor_paid %} - Fee has been paid, submit NOW!{% else %} - Fee not received{% endif %}<br>
      {% endif %}
      </div>
    {% endfor %}
<br>
<div class="container">
  <div class="row">
    <div class="col text-center">
    <a class="btn btn-dark" href='{% url 'gbe:vendor_create' %}' role="button">
        Propose Business</a>  
    </div>
  </div>
</div><br>
   </div>
  {% endif %}

