<div class='volunteer_section'>
  <span class='heading volunteers'>
    <b>Volunteering</b>
  </span>
  <br>
  {% if volunteering and not historical %}
    {% for volunteer in volunteering %}
      <div class='volunteer'>
        <a href = '{% url 'gbe:volunteer_edit' volunteer.id%}'>    
          Submitted {{ volunteer.created_at }} 
        </a>(Click to edit)<br>
      </div> 
      {% for alert in volunteer.alerts %}
      	<span class='alert'> {{ alert|safe}}</span> <br>	      	 
      {% endfor %}
    {% endfor %}
  {% else %}
    <br/>
    <a href='{% url 'gbe:volunteer_create' %}'>
      Volunteer at the Expo!
    </a>
    <br>
  {% endif %}
</div>	
