<div class='performer_section'>
  {% if personae or troupes %}
    <span class='sched_detail'>Bios</span>
  <br>
    {% if personae or troupes %}
      {% for performer in personae %}
        {% with is_troupe=0 %}
          {% include 'gbe/profile/incl_performer_block.tmpl' %}
	      {% endwith %}
      {% endfor %}
      {% for performer in troupes %}
        {% with is_troupe=1 %}
          {% include 'gbe/profile/incl_performer_block.tmpl' %}
	      {% endwith %}
      {% endfor %}
    {%endif%}
  {% else %}
    {{ profile.display_name }} has no stage personae listed.<br>
  {% endif %}
  <br>
  <a href='{% url 'gbe:persona-add' 1 %}' class="btn gbe-btn-secondary btn-sm">New Bio</a>
  <a href='{% url 'gbe:troupe-add' %}' class="btn gbe-btn-secondary btn-sm">New Troupe</a>
</div>
