{% if user.is_staff %}
  <div class = "bid_review_section">
  {% if review_items %}
    <b>Reviews</b>
    <br> 
      <span class='heading to_review'> 
        {{ profile.display_name }} has these bids to review
      </span><br>
      <ul>
      {% for review_item in review_items %}
        <li>
	  <div class='review_item'>
	    {{review_item.bid_type}}:  
                {{ review_item.bid }} - 
                    <a href="{{review_item.url}}">
                        {{ review_item.action }}
                    </a>
	  </div>
	</li>
      {% endfor %}
      </ul>
  {% else %}
    {{ profile.display_name }} has no items to review
  {% endif %}
  </div>
{% endif %}
