<div class='act_section'>
{% if acts %}
    <span class='heading acts'>
      <b>Act Bids</b>
    </span><br>
    {% for act in acts %}
      <div class='act'>
        {% if act.submitted %}
	        {{ act }} - {{act.get_accepted_display}} 
          <ul>
            <li> 
              <a href = '{% url 'gbe:act_view' act.id %}'>View</a> act
            </li>
            {% if act.get_accepted_display == 'Accepted' and not historical %} 
	    <li> <a href = '{% url 'gbe:act_techinfo_edit' act.id %}'>View/edit</a> 
		      Act Tech Info and rehearsal schedule
            </li>
            {% endif %}
        {% elif act.performer.contact == profile %}
	  <span class="shadow-red"><b>{{ act }}</b></span> - Not submitted
	<ul>
	    <li><a href = '{% url 'gbe:act_edit' act.id %}'> View/edit </a>
	       this act bid</li>
      <li>{% if act_paid %}Fee has been paid, submit NOW!{% else %}
          <a href = '{{act_pay_link}}'>Pay Fee</a>{% endif %}
	  {% endif %}
	  {% if historical and act.performer.contact == profile %}
      <li><a href='{% url 'gbe:clone_bid' bid_type='Act' bid_id=act.id %}'>Clone this act</a></li>
    {% endif %}
	  </ul>
       </div> 	         
        {% for alert in act.alerts %}
          <span class='alert'> {{ alert|safe}}</span> <br>	      	 
        {% endfor %}
    {% endfor %}
{% else %}
  {{ profile.display_name }} has no acts listed.	   
  {% endif %}
    <a href='{% url 'gbe:act_create' %}'>Propose an{% if acts %}other{% endif %} act</a>
</div>
