{% extends "base.tmpl" %}
{% block title %}
  Great Burlesque Exposition: {{ act.act_name }}
{% endblock %}

{% block content %}
  Act:
  <div id=act_name> {{act.act_name}}
  </div>

  <div id=act_bio> {{act.bio}}
  </div>
  <div id=event_short_desc> {{event.short_desc}}  
  </div>
  <div id=event_long_desc> {{event.long_desc}}  
  </div>
  

{% endblock %}
