{% extends 'gbe/gbe_table.tmpl' %}
{% load static sekizai_tags %}
{% block title %}
   Review Bids
{% endblock %}
{% block before_table %}
  <h2 class="review-title">Bid Information for {{conference}}</h2>
  <br/>
      {% include "conference_picker.tmpl" %}
  <br/>
  <div>Red background indicates a user that has become inactive.</div>
  <div>Blue background indicates bids that are awaitng your review.
  Search for "Needs Review" to find them easily.</div>

  <div>Press the arrows to sort on a column.  To sort on an additional sub-order,
  press "Shift" to sort a secondary column.</div>
  <br/>
  <div>
    Toggle column(s):
    {% for header_item in header %}
      <a class="toggle-vis" id="gbe-table-select" data-column="{{ forloop.counter0 }}">
	{{ header_item }}</a>{% if not forloop.last %} - {% endif %}
    {% endfor %}
  </div>
  <br/>
{% endblock %}
{% block tbody %}
  {% for row in rows %}
    <tr class="gbe-table-row {{ row.status }}">
      {% for value in row.bid %}<td>{{ value|linebreaks }}</td>{% endfor %}
    	{% for review in row.reviews %}<td>{{ review }}</td>{% endfor %}
	    <td>{{ row.total_average }}</td>
      <td><div class="btn-group" role="group" aria-label="...">
    	  <a href="{{ row.review_url }}" role="button" class="btn gbe-btn-table btn-sm" >
           Review</a></div></td>
    </tr>
  {% endfor %}
{% endblock %}
