{% extends 'gbe/gbe_wizard.tmpl' %}
{% block intro %}
<h2 class="gbe-title">Technical Info for {{act.b_title}}</h2>
{% for show in shows %}
<b>Booked for: {{show}}</b>
{% for show_id, rehearsal in rehearsals.items %}
  {% if show.pk == show_id %}
  <ul><li>Current Rehearsal Reservation: {{ rehearsal.event }}, at {{ rehearsal.event.starttime|date:"D, M j g:i A" }}</li></ul>
  {% endif %}
 {% endfor %}
{% endfor %}
<p><b>Submitted Description: </b>{{act.b_description}}</p>
{% endblock %}
{% block first_form %}
<p>{{ rehearsal_instructions }}</p>
<form action="" method="post" enctype="multipart/form-data">
  <div class="container">
{% include "form_table_wrapper.tmpl" with forms=rehearsal_forms %}
  <div class="float-right">
  <input type="submit" name="book" class="gbe-btn-secondary btn" value="Book Rehearsal">
  <input type="submit" name="book_continue" class="gbe-btn-primary btn" value="Book & Continue">
  </div></div>
</form>
{% endblock %}
{% block second_form %}
<p>{{ basic_instructions }}</p>
<font class="gbe-form-required">*</font> indicates a required field
<form action="" method="post" enctype="multipart/form-data">
  <div class="container">
{% include "form_table.tmpl" with form=second_form %}
  <div class="float-right">
  <input type="submit" name="finish_basics" class="gbe-btn-primary btn" value="Complete Form">
  <input type="submit" name="finish_to_advanced" class="gbe-btn-secondary btn" value="Proceed to Advanced">
  </div></div>
</form>
{% endblock %}
{% block third_form %}
<p>{{ advanced_instructions }}</p>
<font class="gbe-form-required">*</font> indicates a required field
<form action="" method="post" enctype="multipart/form-data">
  <div class="container">
{% include "form_table.tmpl" with form=third_form %}
  <div class="float-right">
  <input type="submit" name="submit" class="gbe-btn-primary btn" value="Finish">
  </div></div>
</form>
{% endblock %}