{% extends 'gbe/gbe_wizard.tmpl' %}

{% block first_form %}
<p>{{ basic_instructions }}</p>
<form action="" method="post" enctype="multipart/form-data">
{% include "form_table_wrapper.tmpl" with forms=basic_forms %}
  <div class="form-row pull-right">
  <input type="submit" name="submit" value="Book Rehearsal & Save Basics">
  </div>
</form>
{% endblock %}
