{% extends 'gbe/bid_review_list.tmpl' %}
 {% block header %}
  <div class="row"><div class="col-md-8">
    <h2 class="gbe-title">{{view_title}}</h2>
    <h3>{{conference}}</h3>
   </div><div class="col-md-4 text-right">
    {% if perms.gbe.assign_act %}
    <div class="dropdown show">
      <a class="btn gbe-btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Comp Act Options</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'gbe:act_coord_create' %}">Create & Comp Act</a>
        <a class="dropdown-item" href="{% url 'ticketing:comp_ticket' %}?next={{ request.get_full_path }}">Send a Comp</a>
      </div></div>{% endif %}
  </div></div>
 {% endblock %}
{% block tbody %}
  {% for row in rows %}
    <tr class="gbe-table-row {{ row.status }}">
      {% for value in row.bid %}<td>{{ value|linebreaks }}</td>{% endfor %}
    	{% for review in row.reviews %}<td>{{ review }}</td>{% endfor %}
	    <td>{{ row.total_average }}</td>
      <td><a href="{{ row.review_url }}" role="button" class="btn gbe-btn-table btn-sm">
           Review</a></td>
    </tr>
  {% endfor %}
{% endblock %}
