{% extends 'base.tmpl' %}

{% block title %}
  GBE: Profile
{% endblock %}

{% block content %}
<p class="whatever-class">{{profile.display_name}}'s Profile (admin view)</p><br>
<p>Display Name: </p> {{profile.display_name}}<br>

     
</form>


{% endblock %}
