{% extends 'base.tmpl' %}
{% load staticfiles %}

{% block title %}
  Assign Volunteer Slots
{% endblock %}

{% block head %}
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
<div class="special_functions">
  <a href="{% url 'gbe:volunteer_review_list' %}">Review All Volunteers</a> <br/>
  --> <a href="{% url 'gbe:volunteer_review' volunteer.id %}">Review Volunteer Details</a> <br/>
  --> <a href="{% url 'gbe:volunteer_edit' volunteer.id %}">Edit Volunteer Bid</a>
</div>
<div>
  <div>
    <h2>Assign Volunteer to Opportunities</h2>
    <h3><b>Volunteer:  </b> {{volunteer}}<br></h3>
    <table>
      <tr>
        <td># of Hours</td>
        <td>{{volunteer.number_shifts}}</td>
      </tr>
      <tr>
        <td class="form_label">Interests:</td>
        <td>
          {% for interest in volunteer.volunteerinterest_set.all %}
            {% if interest.rank > 0 %}
              {% if interest.rank > 3 %}<b>{% endif %}
                {{interest.interest}} - {{interest.rank_description}}{% if not forloop.last %},<br>{% endif %}
              {% if interest.rank > 3 %}</b>{% endif %}
            {% endif %}
          {% endfor %}
        </td>
      </tr>
      <tr>
        <td>Don't Schedule During:</td>
        <td>{{volunteer.opt_outs}}</td>
      </tr>
      <tr>
        <td>Pre Event Prep?:</td>
        <td>{{volunteer.pre_event}}</td>
      </tr>
      <tr>
        <td>Background:</td>
        <td>{{volunteer.background}}</td>
      </tr>
    </table>
    <br/>
    <ul>
      <li><b>Prefer</b> = relates to volunteer preferences.  Measured by start of the event vs.
          volunteer windows provided in the volunteer form.</li>
      <ul>
        <li><b>Free</b> = volunteer is listed as available</li>
        <li><b>Not</b> = volunteer is listed as not available</li>
        <li><b>Interest</b> = this event volunteer category matches the volunteer's interests</li>
      </ul>
      <li><b>H</b> = how many volunteers does this event <b>have</b>?</li>
      <li><b>N</b> = how many volunteers does this event <b>need</b>?</li>
      <li><b>Full</b> = are the volunteer positions <b>full</b> (have >= need)?</li>
    </ul>
    <p>
    <font color='red'>*</font> Using this form to assign the volunteer to
    opportunities will cause their bid state to change to 'Accepted'.  To
    remove the volunteer from scheduling and reject the bid, use the "Review"
    page and reject the bid there.</p>
    <br/>
  </div>
  <div>
    Toggle column(s):
    <a class="toggle-vis" data-column="1">
	Window</a> -
      <a class="toggle-vis" data-column="2">
	Pref</a> -
      <a class="toggle-vis" data-column="3">
	Event</a> -
      <a class="toggle-vis" data-column="4">
	Start</a> -
      <a class="toggle-vis" data-column="5">
	End</a> -
      <a class="toggle-vis" data-column="6">
	Parent</a> -
      <a class="toggle-vis" data-column="7">
	Have</a> -
      <a class="toggle-vis" data-column="8">
	Need</a> -
      <a class="toggle-vis" data-column="9">
	Full</a>
  </div>
  <div>
  <form action="{{ actionURL }}" method="post">
    {% csrf_token %}
    <input type='hidden' id="id_accepted" name="accepted" value="3">
    <table id="assign_volunteer" class="order-column" cellspacing="0" width="100%">
      <thead>
        <tr class="bid-table">
            <th class="bid-table">&nbsp;</th>
            <th class="bid-table">Window</th>
            <th class="bid-table">Prefer</th>
            <th class="bid-table">Event</th>
            <th class="bid-table">Start</th>
            <th class="bid-table">End</th>
            <th class="bid-table">Parent</th>
            <th class="bid-table">H</th>
            <th class="bid-table">N</th>
            <th class="bid-table">Full</th>
        </tr>
      </thead>
      <tfoot>
        <tr class="bid-table">
            <th class="bid-table">&nbsp;</th>
            <th class="bid-table">Window</th>
            <th class="bid-table">Prefer</th>
            <th class="bid-table">Event</th>
            <th class="bid-table">Start</th>
            <th class="bid-table">End</th>
            <th class="bid-table">Parent</th>
            <th class="bid-table">H</th>
            <th class="bid-table">N</th>
            <th class="bid-table">Full</th>
        </tr>
      </tfoot>
      <tbody>
        {% for event_window in volunteer_event_windows %}
        <tr class="bid-table">
            <td class="bid-table">
              <input id="id_events_{{ forloop.counter0 }}"
                name="events" type="checkbox" value="{{event_window.occurrence.pk}}"
                {% if event_window.booked %}checked="checked"{% endif %}/>
            </td>
            <td class="bid-table">
              {% if event_window.window %}
                {{event_window.window.day.day|date:_("DATE_FORMAT")}},
                {{event_window.window.start|date:_("TIME_FORMAT") }} -
                {{event_window.window.end|date:_("TIME_FORMAT")}}
              {% endif %}
            </td>
            <td class="bid-table">
              {% if event_window.window in volunteer.available_windows.all%}
                Free<br>
              {% endif %}
              {% if event_window.window in volunteer.unavailable_windows.all%}
                Not Free<br>
              {% endif %}
{% if event_window.eventitem.child.volunteer_category_description in interests %}
                Interested<br>
              {% endif %}
            </td>
            <td class="bid-table">
<a href="{% url 'scheduling:detail_view' event_window.eventitem.eventitem_id%}">
                {{event_window.eventitem}}
              </a></td>
            <td class="bid-table">{{event_window.occurrence.start_time|date:_("SHORT_DATETIME_FORMAT") }}</td>
            <td class="bid-table">{{event_window.occurrence.end_time|date:_("SHORT_DATETIME_FORMAT") }}</td>
            <td class="bid-table">
              {% if event_window.parent_event %}
<a href="{% url 'scheduling:edit_event' event_window.eventitem.child.e_conference.conference_slug event_window.parent_event.pk%}">
                {{event_window.parent_event}},
              </a><br>
	      {% endif %}
              {% for area in event_window.staff_areas %}
<a href="{% url 'scheduling:edit_staff' area.id %}">
                {{area}},
              </a><br>
	    {% endfor %}
            </td>
            <td class="bid-table">{{event_window.occurrence.volunteer_count|cut:" volunteers"}}</td>
            <td class="bid-table">{{event_window.occurrence.max_volunteer}}</td>
            <td class="bid-table">
              {% if event_window.occurrence.max_volunteer <= event_window.occurrence.volunteer_count|cut:" volunteers"|add:"0" %}
              Y
              {%else%}
              N
              {% endif %}
            </td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    <br><br>
    <input type="submit" value="Submit Form"> 
  </div>
</div>
<script>
  $(document).ready(function() {
    var table = $('#assign_volunteer').DataTable();
 
    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();
 
        // Get the column API object
        var column = table.column( $(this).attr('data-column') );
 
        // Toggle the visibility
        column.visible( ! column.visible() );
    } );
} );
  </script>
</form>

{% endblock %}
