{% extends 'base.html' %}
{% load static sekizai_tags %}
{% block title %}
   {{page_title}}
{% endblock %}
{% block head %}
{% for form in forms %}
 {{ form.media.css }}
{% endfor %}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
    <script>{% include "tiny-mce-user-settings.tmpl" %}</script>
{% endblock %}
{% block content %}
<h2 class="gbe-title">{{view_title}}</h2>
<h3 class="gbe-subtitle">{{conference.conference_name}}</h3>
{% if view_header_text != "&nbsp;" %}
<p>{{view_header_text | safe}}</p>
{% endif %}
  {% if errors %}
    {% for error in errors %}
    <p class="gbe-form-error">{{error}}</p>
    {% endfor %}
  {% endif %}

   {% if popup_text %}
   <div class="alert gbe-alert-info">{{popup_text |safe }}</div>
   {% endif %}
   <form action="" method="post" enctype="multipart/form-data">

   {% include "form_table_wrapper.tmpl" %}

   {% if nodraft %}
    <input type="submit" name="submit" value="{{nodraft}}" class="btn gbe-btn-primary">
   {% else %}
   <input type="submit" name="draft" formnovalidate value="Save Draft" class="btn gbe-btn-secondary">
     {% if fee_paid %}
     <input type="submit" name="submit" value="Submit For Approval" class="btn gbe-btn-primary">
     {% else %}
     <input type="submit" name="submit" formnovalidate value="Proceed to Payment" class="btn gbe-btn-primary">
     {% endif %}
   {% endif %}
   </form>
{% addtoblock "js" %}
{% for form in forms %}
 {{ form.media.js }}
{% endfor %}
<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>
{% endaddtoblock %}
{% endblock %}