{% extends 'base.tmpl' %}
{% block title %}
   {{page_title}}
{% endblock %}
{% block head %}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
    <script>{% include "tiny-mce-user-settings.tmpl" %}</script>
{% endblock %}
{% block content %}
<h2 class="subtitle">{{view_title}}</h2>
<h3>{{conference.conference_name}}</h3>
<p>{{view_header_text | safe}}

  {% if errors %}
    {% for error in errors %}
    <p style= "color:red">{{error}}</p>
    {% endfor %}
  {% endif %}

   {% if popup_text %}
   <div class="alert alert-info">{{popup_text |safe }}</div>
   {% endif %}
   <form action="" method="post" enctype="multipart/form-data">

   {% include "form_table_wrapper.tmpl" %}

   {% if nodraft %}
    <input type="submit" name="submit" value="{{nodraft}}">
   {% else %}
   <input type="submit" name="draft" formnovalidate value="Save Draft">
     {% if fee_paid %}
     <input type="submit" name="submit" value="Submit For Approval">
     {% else %}
     <input type="submit" name="submit" formnovalidate value="Proceed to Payment">
     {% endif %}
   {% endif %}
   </form>
{% endblock %}
