{% extends 'gbe/gbe_table.tmpl' %}
{% block before_table %}
  <h2 class="gbe-title">{{view_title}}</h2>
  <p>{{intro_text}}</p>
<form action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
{% endblock %}
{% block tbody %}
  <tr class="gbe-table-row">
    <td><b>Bios</b><br>This is all bios for the two users - showing all bids over all expos.  You can choose to move the whole bio to the merged profile, along with all its bids, or you can pick a target bio to merge all bids to.  The second option lets us avoid replication of bios.</td>
    <td class="gbe-flat-list"><ul class="p-1">{% for bio in targetprofile.bio_set.all %}<li>{{bio}}<ul>{% for bid in bio.related_bids %}<li>{{ bid.b_conference.conference_slug }} - {{ bid.class_name }}: {{ bid }} - state: {{ bid.get_accepted_display }}</li>{% empty %}<li>No related bids</li>{% endfor %}</ul></li>{% empty %}No Bios{% endfor %}</ul></td>
    <td class="gbe-flat-list"><ul class="p-1">{% for bio in otherprofile.bio_set.all %}<li>{{bio}}<ul>{% for bid in bio.related_bids %}<li>{{ bid.b_conference.conference_slug }} - {{ bid.class_name }}: {{ bid }} - state: {{ bid.get_accepted_display }}</li>{% empty %}<li>No related bids</li>{% endfor %}</ul></li>{% empty %}No Bios{% endfor %}</ul></td>
    <td class="gbe-flat-list">{% for field in form.visible_fields %}
    {% if 'id_bio_' in field.id_for_label %}
    {{ field.label_tag }}<br>{{ field }}
    {% if field.errors %}
        <br><font class="gbe-form-error gbe-flat-list">{{ field.errors }}</font>
    {% endif %}<br><br>{% endif %}
    {% endfor %}
    </td>
  </tr>
  <tr class="gbe-table-row">
    <td><b>Businesses</b><br>This is all the businesses for the two users - showing all vendor bids over all expos.  You can choose to move the ownership of the business to the merged profile, along with all its bids, or you can pick a target business to merge all bids to.  The second option lets us avoid replication of businesses.</td>
    <td class="gbe-flat-list"><ul class="p-1">{% for biz in targetprofile.business_set.all %}<li>{{biz}}<ul>{% for bid in biz.vendor_set.all|dictsortreversed:"b_conference.conference_slug" %}<li>{{ bid.b_conference.conference_slug }} - {{ bid.class_name }}: {{ bid }} - state: {{ bid.get_accepted_display }}</li>{% empty %}<li>No related bids</li>{% endfor %}</ul></li>{% empty %}No Businesses{% endfor %}</ul></td>
    <td class="gbe-flat-list"><ul class="p-1">{% for biz in otherprofile.business_set.all %}<li>{{biz}}<ul>{% for bid in biz.vendor_set.all|dictsortreversed:"b_conference.conference_slug" %}<li>{{ bid.b_conference.conference_slug }} - {{ bid.class_name }}: {{ bid }} - state: {{ bid.get_accepted_display }}</li>{% empty %}<li>No related bids</li>{% endfor %}</ul></li>{% empty %}No Businesses{% endfor %}</ul></td>
    <td class="gbe-flat-list">{% for field in form.visible_fields %}
    {% if 'id_business_' in field.id_for_label %}
    {{ field.label_tag }}<br>{{ field }}
    {% if field.errors %}
        <br><font class="gbe-form-error gbe-flat-list">{{ field.errors }}</font>
    {% endif %}<br><br>{% endif %}
    {% endfor %}
    </td>
  </tr>
  <tr class="gbe-table-row">
    <td><b>Staff Leadership</b><br>These are the staff leadership roles assigned to each profile.  Provided as an FYI.</td>
    <td class="gbe-flat-list"><ul class="p-1">{% for area in targetprofile.staffarea_set.all|dictsortreversed:"conference.conference_slug" %}<li>{{ area.conference.conference_slug }} - {{ area }}{% empty %}<li>No staff lead responsiblities</li>{% endfor %}</ul></td>
    <td class="gbe-flat-list"><ul class="p-1">{% for area in otherprofile.staffarea_set.all|dictsortreversed:"conference.conference_slug" %}<li>{{ area.conference.conference_slug }} - {{ area }}{% empty %}<li>No staff lead responsiblities</li>{% endfor %}</ul></td>
    <td class="gbe-flat-list">All staff leadership current/past info will be merged automatically.  If anything should be removed, it can altered in scheduling after the merge.
    </td>
  </tr>
  <tr class="gbe-table-row">
    <td><b>Permissions</b><br>Roles granted to each user, these roles will be merged.  Provided as FYI</td>
    <td class="gbe-flat-list">
    <b>Groups:</b><br><ul>
    {% for group in targetprofile.user_object.groups.all %}<li>{{group}}</li>{% endfor %}</ul>
    <b>Roles:</b><br><ul>
    {% for role in targetprofile.get_priv_roles %}<li>{{role}}</li>{% endfor %}</ul>
    </td>
    <td class="gbe-flat-list">
    <b>Groups:</b><br><ul>
    {% for group in otherprofile.user_object.groups.all %}<li>{{group}}</li>{% endfor %}</ul>
    <b>Roles:</b><br><ul>
    {% for role in otherprofile.get_priv_roles %}<li>{{role}}</li>{% endfor %}</ul>
    </td>
    <td class="gbe-flat-list">Groups and Roles will be automatically merged, and the resulting profile will get the combination of ALL privileges.  HOWEVER - if staff or superuser permissions are required, go to the Django Admin User settings and set the account.
    </td>
  </tr>
  <tr class="gbe-table-row">
    <td colspan=4><b>Scheduling</b><br>All schedule items assigned to {{ otherprofile.display_name }} will be transferred to {{ targetprofile.display_name }} automatically.</td>
  </tr>
{% endblock %}
{% block after_table %}
<div class="float-right pt-2">
<input type="submit" name="cancel" value="Cancel" class="btn gbe-btn-light" formnovalidate>
<input type="submit" name="merge" class="gbe-btn-primary btn" value="Merge">
</div>
</form>
{% endblock %}