{% if form.errors %}
<p class="gbe-form-error"> There is an error on the form.</p>
{% endif %}
{% if errors %}
  {% for error in errors %}
    <p class="gbe-form-error">{{error}}</p>
  {% endfor %}
{% endif %}

<form action="{{bid_destination}}" method="post" enctype="multipart/form-data">

{% include "form_table_wrapper.tmpl" %}

<input type="submit" name="submit" value="{{nodraft}}" class="btn gbe-btn-primary">

</form>
