{% extends 'base.html' %}
{% load static sekizai_tags %}

{% block title %}
   {{page_title}}
{% endblock %}

{% block content %}
  
  {% if form.errors %}
    <p class="gbe-form-error"> There is an error on the form.  </p>
  {% endif %}
  <p class="vanilla">{{title}} </p>
  <div class="border_box review-pane gbe-bg-light">
    <h2 class="review-title gbe-title">{{view_title}}</h2>
    <h3>{{ conference.conference_name }}</h3>
<div class="container">
  {% if readonlyform %}
    {% include "readonly_form_table.tmpl" %}
  {% endif %}
    {% include "gbe/act_review.tmpl"%}
    {% include "gbe/class_review.tmpl"%}
    {% include "gbe/vendor_review.tmpl"%}
    {% include "gbe/performer_review.tmpl"%}
</div>
  </div>
  <div class="bid_review container">
    <div class="row mb-3">
 
    {% block review_form %}
    {% endblock %}

    {% if actionURL %}
    {% block review_results %}
    {% endblock %}
    </div>
    <div class="row">
    <div class="border_box gbe-bg-light col-11 pt-2">
      <h2 class="gbe-title">{{controller_heading}}</h2>
        {% if actionform.errors %}
        <p class="gbe-form-error"> There is an error on the form.  </p>
          {% for field in actionform.visible_fields %}
            <ul>
              {% if field.errors %}
              <li>{{ field.errors }}</li>
              {% endif %}
            </ul>
          {% endfor %}
        {% endif %}
        <form action="{{ actionURL }}" method="post">
        {% csrf_token %}
        <table class="gbe-flat-list">
          {{ actionform.as_table }}
        </table>
        <br><br>
        {% if extra_button %}
        <input type="submit" name="extra_button" value="{{extra_button}}" class="gbe-btn-primary">&nbsp;
        {% endif %}
        <input type="submit" value="Submit Form" class="gbe-btn-primary"><br><br>
        </form>
    </div></div>
    {% endif %}
    </div>
  </div>
{% addtoblock "js" %}
{{ actionform.media }}
{% endaddtoblock %}
{% endblock %}
