{% extends 'gbe/bid_review_frame.tmpl' %}
{% block review_form %}
    <div class="col-md-6 col-sm-12">
      <h2 class="gbe-title">Review Information</h2>
      <p><font class="gbe-form-required">*</font> indicates a required field</p>
      <form action="" method="post">
      {% include "form_table.tmpl" %}
      <input type="submit" value="Submit Form" class="gbe-btn-primary"> 
      </form>
    </div>
{% endblock %}
