{% extends 'base.html' %}
{% load static %}
{% block title %}
   {{page_title}}
{% endblock %}
{% block head %}
{% if awaiting_payment %}<meta http-equiv="refresh" content="10">{% endif %}
{% endblock %}
{% block content %}
  {% if form.errors %}
    <p class="gbe-form-error"> There is an error on the form.  </p>
  {% endif %}
    {% if error %}
    <p class="gbe-form-error"> {{ error }}  </p>
    {% endif %}
{% if not_submit_message %}
<div class="review-pane gbe-bg-light">
  {{ not_submit_message | safe }}<br><br>
  {% if edit_url %}
  <div class="text-center">
  <a href="{{edit_url}}" role="button" class="btn btn-default gbe-btn-primary">
  Edit & Submit</a></div>
  {% endif %}
</div>
{% endif %}
{% if submit_message %}
<p class="lead text-center">{{ submit_message | safe }}</p>
{% endif %}
  <div class="review-pane gbe-bg-light">
    <h2 class="review-title gbe-title">{{view_title}}</h2>
     Submitted proposals cannot be modified, please contact the expo for any issues or concerns.  We'll be in contact during or after our review process.
<div class="container">
  {% if readonlyform %}
    {% include "readonly_form_table.tmpl" %}
  {% endif %}
    {% include "gbe/act_review.tmpl"%}
    {% include "gbe/class_review.tmpl"%}
    {% include "gbe/vendor_review.tmpl"%}
    {% include "gbe/performer_review.tmpl"%}
</div>
  </div>
{% endblock %}
