{% spaceless %}
{% with widget=widget.subwidgets.0 main_widget=widget %}<div{% if id %} id="{{ id }}"{% endif %}{% if widget.attrs.class %} class="{{ widget.attrs.class }}"{% endif %}>{% for group, options, index in widget.optgroups %}{% if group %}
  <div><label>{{ group }}</label>{% endif %}{% for option in options %}<div>
    {% include option.template_name with widget=option %}{% if forloop.parentloop.last %}&nbsp;&nbsp;<input type="{{ main_widget.subwidgets.1.type }}" name="{{ main_widget.subwidgets.1.name }}"{% if main_widget.subwidgets.1.value != None %} value="{{ main_widget.subwidgets.1.value|stringformat:'s' }}"{% endif %}{% for name, value in widget.attrs.items %}{% if name != 'required' %}{% if value is not False %} {{ name }}{% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}{% endif %}{% endfor %}>{% endif %}</div>{% endfor %}{% if group %}
  </div>{% endif %}{% endfor %}
</div>{% endwith %}
{% endspaceless %}
