{% extends 'base.tmpl' %}
{% load static %}

{% block title %}
   {{ page_title }}
{% endblock %}

{% block content %}
<h2 class="subtitle">{{ view_title }}</h2>
{% if rows and rows|length > 0 %}


  
  <form action="" method="post">
  {% csrf_token %}


{% for row in rows %}
      
{% ifchanged row.conf_item.2 %}
{% if not forloop.first %}</table>{% endif %}
<h3 class="font_large">{{row.conf_item.2}}</h3>

<p>
{% if row.conf_item.2 == "Class" %}
    The Great Burlesque Exposition is looking for Teachers for the following
    Classes.  Classes will run as part of our conference tracks and are taught
    by individuals with subject matter expertise in the class topic.
{% elif row.conf_item.2 == "Panel" %}
<P>The Great Burlesque Exposition is looking for Moderators and Panelists for
the panels listed below. <strong>Moderators</strong> are expected to recruit
and organize the other panelists, prepare to guide the discussion ahead of
time by creating key questions and topic suggestions, and keep the conversation
moving and civil at the panel. <strong>Panelists</strong> are expected to
provide a unique perspective on the topic of the panel and to be able to
participate eloquently in a focused discussion.</P>
<P>In order to be a panelist or moderator, please indicate which panels
interest you, what role you'd like to commit to, and any qualifications or
personal connection you have to that particular panel.</P>
<P>If you would like to <em>suggest an idea for a panel</em>, please do that
<a href="{% url 'gbe:class_propose' %}">here</a>.
{% elif row.conf_item.2 == "Either" %}
    The following opportunities may be provided as a Class or a Panel.  The
    Great Burlesque Exposition is open to both interested teachers and panelists
    and will make the decision based on the level of interest and degree of
    expertise of it's volunteers.
  {% endif %}
</p>
  <table class="bid-table">
     <tr class="bid-table">
      {% for header_item in header %}
        <th class="bid-table">{{ header_item }}</th>
      {% endfor %}
     </tr>
{% endifchanged %}
      
      
      <tr class="bid-table">
          {# Skip the type - it's shown as a header #}
	  <td class="title">      
              {{ row.conf_item.0 }}
          </td>	
	  <td class="describe">      
              {{ row.conf_item.1 }}
          </td>
          {# Include the visible fields #}
          {% for field in row.form.visible_fields %}
	  <td class="bid-form">
              {% if field.errors %}
              <font color="red">!</font>&nbsp;&nbsp;
              {% endif %}
              {{ field }}
              {% if field.errors %}
              </br>
              <font color="red">{{ field.errors }}</font>
              {% endif %}
          </td>
        {% endfor %}
        
        {# Include the hidden fields #}
        {% for hidden in row.form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
      </tr>
    {% endfor %}
  </table>
  <br/>
  <input type="submit" value="Submit"> 
  </form>
  {% else %}
    There are no conference presentation opportunities at this time.
    <br/><br/>
    If you have a class you would like to teach - please propose it on our
    <a href='{% url 'gbe:class_create' %}'>class proposal form</a>.
    <br/>
    If you have an idea for a panel, please
    <a href='{% url 'gbe:class_propose' %}'>let us know</a>.
  </br></br>

  {% endif %}

{% endblock %}

