{% load sekizai_tags %}
{% addtoblock "js" %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=205626929604237&autoLogAppEvents=1"></script>
{% endaddtoblock %}

<div class="fb-like" data-href="https://www.facebook.com/burlesque.expo/" data-width="" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>
