{% extends "base.html" %}
{% block title %}
  Great Burlesque Exposition: Fashion Fair
{% endblock %}

{% block head %}
      {% include "gray_grids_css.tmpl" %}
{% endblock head %}

{% block content %}

   <h1 class="gbe-title">Shop 'til You Drop!</h1>
      {{ user_message.description|safe}}
{% if featured_vendors %}
    <section id="team" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 gbe-header-band">
            <h2 class="gbe-head fadeInUp" data-wow-delay="0s">Featured Vendors</h2>
          </div></div>
    {% include "gbe/vendor_box.tmpl" with vendors=featured_vendors featured=1%}
      </div>
{% endif %}
</section>
    <section id="team" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 gbe-header-band">
            <h2 class="gbe-head fadeInUp" data-wow-delay="0s">Vendors</h2>
          </div></div>
{% include "gbe/vendor_box.tmpl" with featured=0%}
      </div>
    </section>
{% endblock %}
