{% extends 'base.tmpl' %}

{% block title %}
{{page_title}}
{% endblock %}

{% block content %}
{% block intro %}
{% endblock %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% if second_form and not hide_first %}<a data-toggle="collapse" href="#collapse1">{% endif %}
      {% block first_title %}
        {{ first_title }}
      {% endblock %}
      {% if second_form and not show_first %}</a>{% endif %}
    </h3>
  </div>
  {% if second_form and not show_first %}<div id="collapse1" class="panel-collapse collapse">{% endif %}
  <div class="panel-body">
  {% block first_form %}
  {% endblock %}
  </div>{% if second_form and not show_first %}</div>{% endif %}
</div>
{% if second_form %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% if third_form %}<a data-toggle="collapse" href="#collapse2">
      {{ second_title }}</a>
      {% else %}{{ second_title }}{% endif %}
    </h3>
  </div>
  {% if third_form %}<div id="collapse2" class="panel-collapse collapse">{% endif %}
  <div class="panel-body">
    {% block second_form %}
    {% endblock %}
  </div>{% if third_form %}</div>{% endif %}
</div>
{% endif %}
{% if third_form %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ third_title }}</h3>
  </div>
  <div class="panel-body">
    {% block third_form %}
    {% endblock %}
  </div>
</div>
{% endif %}
{% endblock %}
