<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="258" height="338" title="Click Here to donate!" type="application/x-shockwave-flash">
<param name="movie" value="//funds.gofundme.com/Widgetflex.swf" />
<param name="quality" value="high" /><param name="flashvars" value="page=burlexpo&template=4" />
<param name="wmode" value="transparent" />
<embed allowScriptAccess="always" src="//funds.gofundme.com/Widgetflex.swf" quality="high" flashVars="page=burlexpo&template=4" type="application/x-shockwave-flash" wmode="transparent" width="258" height="338">
</embed>
</object>