
<div class = 'ticket_section'>
  <h3 class="gbe-title">
    {% if profile.display_name %}
      {{ profile.display_name }}'s
    {% else %}
      Your
    {% endif %} Tickets
  </h3>	
  {% if tickets %}
    {% for conf in tickets %}
      <div><span class='sched_detail'>
      {{conf.conference}}:</span><br>
      {% for ticket in conf.tickets %}
    	&nbsp;&nbsp;&nbsp;{{ticket.title}} - {{ticket.number_of_tickets}}<br>
      {% endfor %}
      </div>
    {% endfor %}
  {% else %}
      No tickets have been purchased, if {{profile.purchase_email}} is not 
      the email you used when  purchasing tickets, please contact us for an update.
      <br>
  {% endif %}
</div>
