<div class = "schedule_section">
  {% if not historical %}
     <a href="{% url 'scheduling:volunteer_signup' %}" style="padding:1px 5px;" class="btn gbe-btn-primary btn-sm float-right">Volunteer</a>{%endif%}
  <h3 class="gbe-title">{% if profile.display_name %}
      {{ profile.display_name }}'s
    {% else %}Your{% endif %} Schedule
  </h3>	
    {% for booking in bookings %}
      {% with cs=booking.conference.status %}
        {% if cs != "completed" and not historical or cs == "completed" and historical %}
          {% ifchanged booking.conference %}
	    <h4>{{booking.conference}}</h4>
          {% endifchanged%}
          <div class='event'>
	    {% if booking.role == "Interested"%}
	    <a href="{% url 'scheduling:set_favorite' booking.id "off" %}?next={{ request.get_full_path }}"
	       class="detail_link" data-toggle="tooltip" title="Remove from Schedule">
            <i class="fa fa-star" aria-hidden="true"></i></a>
	    {% else %}
	    <a href="#"
	       class="detail_link-disabled" data-toggle="tooltip" title="Contact the Coordinator to Change Booking">
            <i class="fa fa-star" aria-hidden="true"></i></a>
	    {% endif %}
            {{booking.starttime}}, 
          <a href="{% url 'scheduling:detail_view' booking.id %}" class="gbe-link">
            {{ booking.title }}</a>
	    {% if not historical %}
	      {% if booking.role == "Teacher" or booking.role == "Moderator" %}
              <a href="#" data-toggle="modal" data-target="#Modal{{booking.id}}" data-backdrop="true" title="View Attendee Contact Info">
		<span class="badge gbe-badge">{{ booking.interested|length }}</span>
	      </a>
              {% include "gbe/interest_list.tmpl" with class=booking %}
	    {% endif %}{% endif %}
            {% include "gbe/scheduling/evaluate_icon.tmpl" with evaluate=booking.evaluate %}
	  </div>
        {%endif%}
      {% endwith %}
    {% empty %}
      {{ profile.display_name }} is not scheduled for anything at this time.
    {% endfor %}
    {% for show in manage_shows %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <a class="btn gbe-btn-primary mt-3" role="button" href='{% url 'scheduling:show_dashboard' show.pk%}'>Manage {{ show.title }}</a>
    </div>
  </div>
</div><br>
    {% endfor %}
</div>

