<div class="sidebar {% if historical %} history {% endif %}">
<h3 class="gbe-title">
  {% if profile.display_name %}
    {{ profile.display_name }}'s
  {% else %}
    Your
  {% endif %}
    Stuff
</h3>

{% if historical %}
<h4 class="gbe-subtitle">
Showing Historical Bids
</h4>
<div class="sidebar-text history">
<p>
{{right_side_intro}}
</p>
<a href="{{request.path}}" class="gbe-link">View current bids</a>
</div>
{% else %}

<div class="sidebar-text">
<p>
{{right_side_intro}}
</p>
<a href="{{request.path}}?historical=1" class="gbe-link">View older bids</a>
</div>
{% endif %}

{% for alert in alerts %}
  <div class='gbe-alert'>{{alert|safe}}</a> <br><br> </div>
{% endfor %}
{% include 'gbe/profile/incl_acts.tmpl' %}
{% include 'gbe/profile/incl_classes.tmpl' %}
{% include 'gbe/profile/incl_vendors.tmpl' %}
{% include 'gbe/profile/incl_costumes.tmpl' %}
{% include 'gbe/profile/incl_shows.tmpl' %}
{% include 'gbe/profile/incl_bids.tmpl' %}
</div>
