    <div class="modal" id="Modal{{class.eventitem_id}}" role="dialog">
      <div class="modal-dialog modal-dialog-centered modal-lg"><div class="modal-content gbe-modal-content">
        <div class="modal-header gbe-modal-header">
        <h4 class="gbe-title">{{class.title}} - Interested Attendee Contact List</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
      <div class="modal-body">
	<div class="row"><div class="col-12">
	  {{ interested_info |safe }}<br><br>
	  <ul style="list-style: none;">
	{% for person in class.interested %}
	  <li>{{ person.user.profile.display_name }} &lt;{{person.user.email}}&gt;;</li>
	{% endfor %}
	  </ul>
        </div></div>
	<div class="row"><div class="col-12">
	  <br><b>Want more attendees?</b>  Advertise early and often!  Let your fans know you
	  can be found here, at the Great Burlesque Expo!
	    <a href="{% url 'scheduling:detail_view' class.eventitem_id %}" class="gbe-link">
	      http://{{request.get_host}}{% url 'scheduling:detail_view' class.eventitem_id %}</a>
        </div></div>
      </div>
      <div class="modal-footer gbe-modal-header">
        <button type="button" class="btn gbe-btn-light" data-dismiss="modal">Close</button>
      </div>
    </div></div></div>