{% extends "base.html" %}
{% block title %}
   Welcome to GBE
{% endblock %}
{% block content %}
<div class="container three-column-container">
  <div class="row mb-2">
    {% if "Volunteer" in current_conf.accepting_bids %}
    <div class="ml-auto col-sm-auto col-4 text-center">
     <a href="{% url 'scheduling:volunteer_signup' %}" class="btn gbe-btn-primary h-100 text-center d-inline-flex align-items-center" role="button">Volunteer</a>
    </div>{% endif %}
    {% if "Class" in current_conf.accepting_bids %}
    <div class="col-sm-auto col-4 text-center">
      <a class="btn gbe-btn-primary" role="button" href='{% url 'gbe:class_create' %}'>Apply to Teach</a>
    </div>{% endif %}
    {% if "Act" in current_conf.accepting_bids %}
    <div class="col-sm-auto col-4 text-center">
      <a class="btn gbe-btn-primary" role="button" href='{% url 'gbe:act_create' %}'>Apply to Perform</a>
    </div>{% endif %}
  </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs device-small landing-tabs pt-3" role="tablist">
        <li role="presentation">
	  <a class="gbe-tab m-1 active" href="#news" aria-controls="home" role="tab" data-toggle="tab">News</a>
	</li>
        <li role="presentation">
	  <a class="gbe-tab m-1" href="#on_site" aria-controls="profile" role="tab" data-toggle="tab">On Site</a>
	</li>
        <li role="presentation">
	  <a class="gbe-tab m-1" href="#to-do" aria-controls="messages" role="tab" data-toggle="tab">To-Do List</a>
	</li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content row">
      <div role="tabpanel" class="tab-pane active col col-12 col-sm-12 col-md-4" id="news" style="padding: 4px">
	    {% include 'gbe/incl_lp_left.tmpl' %}
	    </div>
      <div role="tabpanel" class="tab-pane col-12 col-sm-12 col-md-4" id="on_site" style="padding: 4px">
	     {% if profile %}<div class='landing_box'>
          {% include 'gbe/incl_schedule.tmpl' %}</div>&nbsp;
  	   {% endif %}
          {% if profile and tickets %}<div class='landing_box'>
            {% include 'gbe/incl_tickets.tmpl' %}</div>
    	    {% endif %}
          {% include 'gbe/profile/incl_performer.tmpl' %}
          {% if businesses %}{% include 'gbe/profile/incl_business.tmpl' %}{% endif %}
      </div>
      <div role="tabpanel" class="tab-pane col-12 col-sm-12 col-md-4" id="to-do" style="padding: 4px">
  	  {% if profile %}
        <div class='landing_box'>
          {% include 'gbe/incl_lp_right.tmpl' %}
        </div>
     {% endif %}
	    </div>
    </div><!-- end tab panes -->
</div>
{% endblock %}
