{% extends "base.tmpl" %}
{% block title %}
   Profile View
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/font-awesome.min.css">
{% endblock %}
{% block content %}
<div class="container three-column-container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs device-small" role="tablist">
        <li role="presentation" class="active">
	  <a href="#news" aria-controls="home" role="tab" data-toggle="tab">News</a>
	</li>
        <li role="presentation">
	  <a href="#on_site" aria-controls="profile" role="tab" data-toggle="tab">On Site</a>
	</li>
        <li role="presentation">
	  <a href="#to-do" aria-controls="messages" role="tab" data-toggle="tab">To-Do List</a>
	</li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active col col-xs-12 col-sm-4" id="news" style="padding: 4px">
	  {% include 'gbe/incl_lp_left.tmpl' %}
	</div>
        <div role="tabpanel" class="tab-pane col-xs-12 col-sm-4" id="on_site" style="padding: 4px">
	  {% if profile and bookings %}
             <div class='landing_box'>
               {% include 'gbe/incl_schedule.tmpl' %}
             </div>
  	     &nbsp;
  	  {% endif %}
          {% if profile and tickets %}
            <div class='landing_box'>
               {% include 'gbe/incl_tickets.tmpl' %}
    	      </div>
    	    {% endif %}
          {% include 'gbe/profile/incl_performer.tmpl' %}
        </div>
        <div role="tabpanel" class="tab-pane col-xs-12 col-sm-4" id="to-do" style="padding: 4px">
	  {% if profile %}
            <div class='landing_box'>
                {% include 'gbe/incl_lp_right.tmpl' %}
            </div>
          {% endif %}
	</div>
    </div>
</div>
{% endblock %}
