{% extends "base.tmpl" %}
{% load static sekizai_tags %}
{% block title %}
    {{title}}
{% endblock %}
{% block head %}

    {# Include Bootstrap 4 and jQuery #}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<style>
 .bootstrap-datetimepicker-widget table td.day, .bootstrap-datetimepicker-widget table th.dow, .bootstrap-datetimepicker-widget table th.picker-switch {
    font-size: 70%;
 }
</style>
<!-- Form media -->
  {{forms.0.1.media}}
<!-- end form media -->
{% endblock %}
{% block content %}
<h2>{{header}}</h2>
<p>
{{intro}}
</p>
  <table>
    {% for day, form in forms %}
<form method="POST" action="{% url 'scheduling:schedule_conference' day.pk %}" enctype="multipart/form-data">
{% csrf_token %}
  <tr><td colspan=3><h4>{{day.conference.conference_slug}}</h4></td>
  <tr>
    <td style="padding: 3px"><b>Current Start Day:</b> {{day.day|date:"l - M j, Y"}}</td>
    <td style="padding: 3px">{{form.day}}</td>
    <td style="padding: 3px">
      <input class="btn btn-primary" type="submit" name="submit" value="{{button}}">
    </td>
  </tr>
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
</form>
    {% endfor %}
   </table> 
{% endblock %}
