<!DOCTYPE html>{% load i18n static cms_tags cms_static menu_tags sekizai_tags %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{page_title}}</title>

    <!-- Bootstrap -->
     {{ form.media.css }}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    {% render_block "css" %}
    {{ ALDRYN_SNAKE.render_head }}
    <link rel="stylesheet" type="text/css" href='{% static "styles/gbe_bootstrap.min.css" %}' media="all"/>
    <link rel="stylesheet" type="text/css" href='{% static "styles/base.css" %}' media="all"/>
    <link rel="stylesheet" type="text/css" href='{% static "styles/gallery.css" %}' media="all"/>
    <link rel="shortcut icon" href='{% static "img/favicon.ico" %}' type="image/x-icon"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Vast+Shadow&display=swap" rel="stylesheet">
    {% block theme %}
    <link href="{% url 'themes:theme_style' %}" rel="stylesheet">
    {% endblock theme %}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
    <script>{% include "tiny-mce-user-settings.tmpl" %}</script>
  </head>
  <body class="gbe-bg-light">
    <div class="container">
      &nbsp;<br><br>
 <ul class="nav nav-tabs" id="inner">
  <li role="presentation"><a href="{% url 'gbe:persona-add' %}" class="{% if mode == 'performer' %}gbe-tab-active{% else %}gbe-tab{% endif %}">Performer Bio</a></li>
  <li role="presentation"><a href="{% url 'gbe:troupe-add' %}" class="{% if mode == 'troupe' %}gbe-tab-active{% else %}gbe-tab{% endif %}">Troupe</a></li>
 </ul>
<div class="gbe-tab-area">
  <h3 class="gbe-title">{{view_title}}</h3>
   <form action="" method="post" enctype="multipart/form-data" name="perf_form">
   <p><font class="gbe-form-error">*</font> indicates a required field</p>
  {% if form.errors %}
    <p> There is an error on this here form.  {{ form.errors }}</p>
  {% endif %}
    {% include "form_table.tmpl" %}
  <input type="submit" name="cancel" value="Cancel" class="btn gbe-btn-light" onclick="window.open('','_self').close();">
  <input type="submit" name="submit" value="Save" class="btn gbe-btn-primary" >
  </form>
</div>
&nbsp;<br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 {{ form.media.js }}
<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>
</div></body></html>