{% load thumbnail %}
{% if performer %}
 <div class="row top-buffer">
  <div class="col-12"><h3 class="readonlyform">The Presenter</h3></div>
  {% if performer.img %}
  <div class="col-lg-4 col-md-5 col-12">
    <img src="{% thumbnail performer.img 350x350 crop=scale subject_location=performer.img.subject_location %}" class="sched_bio_image">
  </div>
  <div class="col-lg-8 col-md-7 col-12">

  {% else %}<div class="col-12">{% endif %}
  <div class="row"><div class="col-md-3 col-sm-3 col-12 read-only-label">Stage Name:</div>
  <div class="col-md-9 col-sm-9 col-12 read-only-info">{{performer.name}}</div></div>
  <div class="row"><div class="col-md-3 col-sm-3 col-12 read-only-label">Web Site:</div>
  <div class="col-md-9 col-sm-9 col-12 read-only-info">{% if performer.homepage %}
   <a href="{{performer.homepage}}">Web Site{%else%}No Website{% endif %}</a></div></div>
  <div class="row"><div class="col-md-3 col-sm-3 col-12 read-only-label">Experience:</div>
  <div class="col-md-9 col-sm-9 col-12 read-only-info">{{performer.experience}}</div></div>
  <div class="row"><div class="col-md-3 col-sm-3 col-12 read-only-label">Awards:</div>
  <div class="col-md-9 col-sm-9 col-12 read-only-info">{{performer.awards}}</div></div>
  <div class="row"><div class="col-md-3 col-sm-12 col-12 read-only-label">Bio:</div>
  <div class="col-md-9 col-sm-12 col-12 read-only-info">{{performer.bio|safe}}</div></div>
 </div></div>
 {% if display_contact_info %}
 <div class="row top-buffer">
  <div class="col-12"><h3 class="readonlyform">Contact Information</h3></div>
  <div class="col-md-3 col-sm-4 col-12 read-only-label">Legal Name:</div>
  <div class="col-md-9 col-sm-8 col-12 read-only-info">
   {{performer.contact.user_object.first_name}} {{performer.contact.user_object.last_name}}</div>
  <div class="col-md-3 col-sm-4 col-12 read-only-label">Badge Name:</div>
  <div class="col-md-9 col-sm-8 col-12 read-only-info">{{performer.contact.display_name}}</div>
  <div class="col-md-3 col-sm-4 col-12 read-only-label">Email:</div>
  <div class="col-md-9 col-sm-8 col-12 read-only-info">
   <a href="mailto:{{performer.contact.user_object.email}}">{{performer.contact.user_object.email}}</a></div>
  <div class="col-md-3 col-sm-4 col-12 read-only-label">Address:</div>
  <div class="col-md-9 col-sm-8 col-12 read-only-info">
   {{performer.contact.address1}}<br>
   {% if performer.contact.address2 %}{{performer.contact.address2}}<br>{% endif %}
   {{performer.contact.city}}, {{performer.contact.state}} {{performer.contact.zip_code}}<br>
   {{performer.contact.country}}
  </div>
  <div class="col-md-3 col-sm-4 col-12 read-only-label">Phone:</div>
  <div class="col-md-9 col-sm-8 col-12 read-only-info">{{performer.contact.phone}}</div>
  <div class="col-md-3 col-sm-4 col-12 read-only-label">Best Time to Call:</div>
  <div class="col-md-9 col-sm-8 col-12 read-only-info">{{performer.contact.get_best_time_display}}</div>
  <div class="col-md-3 col-sm-4 col-12 read-only-label">How did you hear about The Expo?:</div>
  <div class="col-md-9 col-sm-8 col-12 read-only-info"><ul>
   {% for how_heard in performer.contact.how_heard_list %}
    <li>{{how_heard}}</li>
   {% endfor %}</ul></div>
 </div>
{% endif %}
{% endif %}