{% extends 'gbe/gbe_table.tmpl' %}
{% block title %}
   Manage Users
{% endblock %}
{% block before_table %}
  <h2 class="gbe-title">Manage Users</h2>

  <p>This list includes only active users.  Inactive users can be viewed only
  in the administration pages.  To reactivate a missing user, contact an
  admin.</p>
{% endblock %}
{% block tbody %}
  {% for row in rows %}
  <tr class="gbe-table-row">
    {% for value in row.profile %}
      <td>{{ value }}</td>{% endfor %}
  	<td>
	  {{ row.contact_info.contact_email }}<br/>
	  ({{ row.contact_info.purchase_email}})<br/>
	  {{ row.contact_info.phone }}
  	</td>
    <td>
  	  <div class="btn-group" role="group" aria-label="...">
      {%for action in row.actions %}
	      <a href="{{ action.url }}" data-toggle="tooltip" title="{{ action.text }}">
            <button type="button" class="btn gbe-btn-table btn-sm">
	      {% if action.text == 'Update' %}
	        <i class="fas fa-edit"></i>
	      {% elif action.text == 'Welcome Letter' %}
	        <i class="fas fa-list"></i>
	      {% elif action.text == 'Delete' %}
	        <i class="fas fa-trash"></i>
	      {% elif action.text == 'View Landing Page' %}
	        <i class="far fa-eye"></i>
	      {% elif action.text == 'Email' %}
	        <i class="far fa-envelope"></i>
	      {% endif %}
	      </button></a>
      {%endfor%}
      </div></td>
  </tr>
  {% endfor %}
{% endblock %}

