{% extends 'gbe/gbe_table.tmpl' %}
{% block before_table %}
  <h2 class="gbe-title">{{view_title}}</h2>
  <p>{{intro_text}}</p>
{% endblock %}
{% block tbody %}
  {% for row in rows %}
  <tr class="gbe-table-row">
    {% for value in row.profile %}
      <td>{{ value | safe }}</td>{% endfor %}
  {% if row.contact_info %}
  	<td>
	  {{ row.contact_info.contact_email }}<br/>
	  ({{ row.contact_info.purchase_email}})<br/>
	  {{ row.contact_info.phone }}
  	</td>
  {% endif %}
    <td>
     {% if row.actions|length > 1 %}
     <div class="dropdown show pb-2">
      <a class="btn btn-sm gbe-btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      {% for action in row.actions %}
        <a class="dropdown-item" href="{{ action.url }}">{{ action.text }}</a>
      {%endfor%}
      </div></div>
      {% elif row.actions|length == 1 %}
      <a class="btn btn-sm gbe-btn-secondary" href="{{ row.actions.0.url }}" role="button">{{ row.actions.0.text }}</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
{% endblock %}

