{% extends 'base.html' %}
{% load recaptcha2 %}

{% block head %}
      {% recaptcha_init %}
{% endblock %}

{% block title %}
   {{page_title}}
{% endblock %}

{% block content %}
<H3 class="gbe-title">{{view_title}}</H3>

{{intro_text|safe}}


  {% if form.errors %}
    <p class="gbe-form-error"> We've experienced an error, please try again, or contact our support team. </p>

  {% endif %}
   <form action="" method="post">
<br><br>
   {% include "form_table.tmpl" %}
   <input type="submit" value="Register" class="gbe-btn-primary btn"> 
   </form>

{% endblock %}
