{% extends 'base.tmpl' %}
{% load staticfiles %}

{% block title %}
   {{page_title}}
{% endblock %}

{% block content %}
<FONT SIZE="+2">Thank you for submitting your work for The Great Burlesque Expo!</FONT>

<P><font color=red>This draft has not yet been submitted.</font><P>

<H3>Fee has not been Paid</H3>

Thank you for participating in The Great Burlesque Exposition!  Our records show
that you have not paid your related fees.  You can pay at Brown Paper Tickets by
following the below link.<br><br>

If you have just paid the fee, please note it may take up to 5 minutes
to show in our system.  If, after 10 minutes, you continue to have problems, please mail
to <a href="mailto:registrar@burlesque-expo.com?subject=[Fee Payment problem]">The Registrar</a> for help with your problem.<br><br>

<a href="{{link}}" target="_blank">Make Payment at Brown Paper Tickets</a>

The steps to successfully submitting a bid are:
<br><br>
1) Pay your application fee.  This happens at BrownPaper Tickets (in another window).
Once you’ve paid your fee, you’ll be able to create a draft application, save it and
revise it until you’re satisfied with it, and then submit it.  Once your application
fees and application have been submitted, you won’t be able to revise or edit your
application (but you will be able to view it so you know which act you applied with!)<br>
2) Fill out your application<br>
3) Click “save Draft’.  You’ll see your act listed in your personal pane with the
notation “click to edit”.<br>
4) Re-read your application to make sure you’re happy with it and all required
information is complete.<br>
5) Click ‘Submit Application’.  Once you click “Submit Application” you will not
be able to edit or revise your application!<br>
6) Your successfully submitted act will be viewable as a link in your personal pane;
it’ll be displayed with a link which says “click to view”, but you will no longer be
able to edit it.<br>
<br>
If you encounter an error which seems to indicate that you haven’t paid your application
fee, please wait 5 minutes and re-submit your act (go to your personal pane, click
“Click to Edit”, and once your act is displayed, click the ‘Submit’ button).  If the
problem persists, please contact the registrar.<br>

{% endblock %}
