{% extends "base.tmpl" %}
{% block title %}
  Great Burlesque Exposition: TechInfo
{% endblock %}

{% block content %}
  Event:
  <div id=event_title> TechInfo
  </div>

{% for f in form.formset %}

  {{f}}
{% endfor %}
  

{% endblock %}
