{% extends 'base.tmpl' %}

{% block title %}
  Update Your Profile
{% endblock %}

{% block content %}
<p class="vanilla">
<span class='header'><h3>{%if display_name%}{{display_name}}'s{%else%}Your{%endif%} Profile</h3></span><br>

Your privacy is very important to us. We promise that your information
will not be sold or traded. That said, we need your complete and
accurate contact information in order to alert you to important
aspects of the event: your ticket purchases and personal schedule,
news, events, and deadlines. Your profile information will be visible
to the department head associated with any role or activity you've
elected to be involved with (that is, if you're performing, our
selection committee and stage managers will be able to see your
profile information. If you're teaching, the conference committee
members and staff will be able to see your profile information,
etc.).
</p>
 
<form method="POST" action="" enctype="multipart/form-data">
  {% for form in left_forms %}
    {% if form.errors %}
      <p style= "color:red"> There is an error on the form.  </p>
    {% endif %}
  {% endfor %}
<div class="container">
<div class="row">
<div class="col-md-6">
  {% for form in left_forms %}
    {% include "form_table.tmpl" %}
  {% endfor %}
</div>
<div class="col-md-4">
  {% for form in right_forms %}
  {%include "form_table.tmpl" %}
  {% endfor %}
</div>
</div>
</div>
  <input type="submit" value="Update my account"> 

</form>

{% endblock %}
