{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h3 class="gbe-title">{{ header }}</h3><br>
<p>
{{ email_note }}
</p>
 
<form method="POST" action="" enctype="multipart/form-data">
  {% for form in left_forms %}
    {% if form.errors %}
      <p class="gbe-form-error"> There is an error on the form.  </p>
    {% endif %}
  {% endfor %}
<div class="container">
<div class="row">
<div class="col-md-6">
  {% for form in left_forms %}
    {% include "form_table.tmpl" with two_col=True %}
  {% endfor %}
</div>
<div class="col-md-6">
<div class="card card-body gbe-bg-light">
  <h3 class="gbe-subtitle">Email Options</h3>
  {% for field in email_form.visible_fields%}
  <div class="row {% if field.name == email_focus %}font-weight-bold shadow-highlight{% endif %}">
    <div class="col-lg-1 col-md-1 col-xs-1">{{ field }}</div>
    <div class="col-lg-11 col-md-10 col-xs-10">
      {{ field.label }}{% if field.help_text %}
      <span class="dropt" title="Help">
        <img src= "{% static "img/question.png" %}" alt="?"/>
          <span style="width:200px;float:right;text-align:left;">
          {{ field.help_text }}
          </span></span>{% endif %}</div>
  </div>
  {% endfor %}
</div>
<br>
  {% for form in right_forms %}
    {% include "form_table.tmpl" with two_col=True %}
  {% endfor %}
</div>
</div>
</div>
  <input type="submit" value="{{button}}" class="btn gbe-btn-primary"> 

</form>

{% endblock %}
