{% extends 'base.html' %}
{% load static %}
{% load recaptcha2 %}
{% block title %}{{ title }}{% endblock %}
{% block head %}
  {% recaptcha_init %}
{% endblock %}
{% block content %}
<h3 class="gbe-title">{{ header }}</h3>
<p>
{{ email_note }}
</p>
 
<form method="POST" action="" enctype="multipart/form-data">
<div class="container">
<div class="row">
<div class="col-md-12 col-lg-6">
<div class="card card-body gbe-bg-light {% if email_focus %}gbe-box-shadow gbe-border-danger{% endif %}">
  {% if view_title %}<h3 class="gbe-subtitle">{{view_title}}</h3>{% endif %}
  {% if email_form.errors %}
    <p class="gbe-form-error"> There is an error on the form.</p>
  {% endif %}
  {% for hidden in email_form.hidden_fields %}
    {{ hidden }}
  {% endfor %}
  {% for field in email_form.visible_fields %}
  <div class="row {% if field.name == email_focus %}font-weight-bold shadow-highlight{% endif %}">
  {% if not field.name == "inform_about" %}
    <div class="col-lg-2 col-md-2 col-xs-2 text-right">{% if field.label == "" %}<br>{% endif %}
    {{ field }}</div>
    <div class="col-lg-10 col-md-9 col-xs-9">
      {{ field.label }}{% if field.help_text %}
      <span class="dropt" title="Help">
        <img src= "{% static "img/question.png" %}" alt="?"/>
          <span style="width:200px;float:right;text-align:left;">
          {{ field.help_text }}
          </span></span>{% endif %}
  {% else %}</div>
  <br>
  <h3 class="gbe-subtitle">{{field.label}}</h3>
  <div class="row"><div class="col-12 gbe-flat-list">
  {{ field }}{% endif %}
  {% if field.errors %}<br>
  <font class="gbe-form-error">{{ field.errors }}</font>{% endif %}</div></div>
  {% endfor %}
  {% include "form_table.tmpl" %}
</div>
</div>
</div>
</div>
<br><input type="submit" value="{{button}}" class="btn gbe-btn-primary"> 
</form>
{% endblock %}
