{% load thumbnail %}
{% for vendor in vendors %}
  {%if featured %}
    {% cycle True True False False as img_right silent %}
    {% cycle '<div class="row">' '' '<div class="row">' '' %}
    {% cycle 300 300 as text_cap silent %}
          <div class="col-lg-6 col-sm-12 col-12">
  {% else %}
    {% cycle True True as img_right silent %}
    {% cycle '<div class="row">' '' '' '' '' '' %}
    {% cycle 70 70 as text_cap silent %}
          <div class="col-lg-4 col-md-6 col-sm-12 col-12">
  {% endif %}
            <div class="single-member wow fadeInRight" data-wow-delay="0.2s">
    {% if img_right %}
              <div class="team-desc">
                <h3 class="vendor-header">{{vendor.business.name}}</h3>
                <p>{{vendor.business.description | safe | truncatechars:text_cap }}
		{% if vendor.business.description|length > text_cap %}
		<a class="more-link" href="#" data-toggle="modal" data-target="#Modal{{vendor.business.pk}}" data-backdrop="true" >(more)</a>
		{% endif %}</p>
              </div>
    {% endif %}
              <div class="team-img {% if featured %}featured-{%endif%}vendor-img {% if img_right %}vendor-right{%else%}vendor-left{% endif %}">
      {% if vendor.business.img %}
                <img src="{% thumbnail vendor.business.img 250x250 %}" alt="">
      {% else %}
                <img src="/static/img/defaultvendorlogo.png" alt="">
      {% endif %}
                <div id="vendor-icon" class="social-icon">
            {% if vendor.business.img %}
                  <a class="social" href="{{vendor.business.img.url}}">
                    <i class="far fa-eye"></i>
                  </a>
	    {% endif %}
            {% if vendor.business.website %}
                  <a class="social" href="{{vendor.business.website}}" target="_blank">
                    <i class="fa fa-link"></i>
                  </a>
            {% endif %}
                  <a class="social" href="#" data-toggle="modal" data-target="#Modal{{vendor.business.pk}}" data-backdrop="true" >
                    <i class="fa fa-external-link"></i>
                  </a>
            {% if request.user.is_superuser %}<br><br>{% if vendor.business.img %}
                  <a class="social" href="/admin/filer/image/{{vendor.business.img.pk}}/?_pick=file&_popup=1" target="_blank">
                    <i class="fas fa-pencil-alt"></i>
                  </a>{% endif %}
                  <a class="social" href="/admin/gbe/vendor/{{vendor.pk}}" target="_blank">
                    <i class="far fa-edit"></i>
                  </a>
            {% endif %}
                </div>
              </div>
    {% if not img_right %}
              <div class="team-desc">
                <h3 class="vendor-header">{{vendor.business.name}}</h3>
                <p>{{vendor.business.description | safe | truncatechars:text_cap }}
	       {% if vendor.business.description|length > text_cap %}
		<a class="more-link" href="#" data-toggle="modal" data-target="#Modal{{vendor.business.pk}}" data-backdrop="true" >
                    (more)</a>
		{% endif %}</p>
                </p>
              </div>
    {% endif %}
                {% include "people_modal.tmpl" with item=vendor.business scale=True %}
            </div>
          </div>
  {%if featured %}
    {% cycle '' '</div>' '' '</div>' %}
  {% else %}
    {% cycle '' '' '' '' '' '</div>' %}
  {% endif %}
{% endfor %}
