{% extends "base.tmpl" %}
{% block title %}
   Profile View  
{% endblock %}

{% block content %}
   <div class='left_col'>
   	{{ profile.display_name }}'s Profile
	<br>
	{% for alert in profile.alerts %}
	   <span class='alert'>{{alert}}</a> <br>
	{% endfor %}
	<br>
   <p> Performs as/with:<p><br>
   {% for performer in profile.get_performers %}
   {{performer}}<br>
   {% endfor %}

   </div>
   

   <div class='right_col'>

   </div>
{% endblock %}
