{% extends "base.tmpl" %}
{% load static %}
{% block title %}
    {{title}}
{% endblock %}

{% block content %}
<h2>{{title}}</h2>
<p><font color="red">RED</font> highlighting means that the owner of this act has deactivated their account.</p>
<form method="POST" action="" enctype="multipart/form-data">
{% csrf_token %}
  <table>
   <tr>
    <th>Performer</th>
    <th>Act Title</th>
    <th>Show</th>
    <th>Order</th>
   </tr>   

    {% for form, state in forms %}
      <tr {% if not state %}bgcolor="red"{% endif %}>
      	{% for field in form.visible_fields %}<td>{{ field }}
      		{% if field.errors %}<br><font color="red">{{ field.errors }}</font>
        {% endif %}</td>{% endfor %}
      </tr>
      {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
    {% endfor %}
   </table> 
  <input type = "submit" name="submit" value="Submit">
 </form>
{% endblock %}
