{% load sekizai_tags gbe_tags %}
<h3 class="gbe-title">Act Tech Info & Rehearsal Slots</h3>
<br><br>
{% if acts %}
<span class="gbe-form-error">Highlighted text</span> reflects incomplete acts.<br>
<span class="gbe-form-error gbe-inactive">Bold and red names</span> reflects acts with
deactivated users.<br>

  <div>Press the arrows to sort on a column.  To sort on an additional sub-order,
  press "Shift" to sort a secondary column.</div>
  <br/>
  <div>
    Toggle column(s):
    {% for column in columns %}
    <button type="button" class="btn btn-sm gbe-btn-secondary toggle-vis" data-toggle="button" aria-pressed="false" autocomplete="off" data-column="{{ forloop.counter0 }}">{{column}}</button>
    {% endfor %}
  </div>
  <br/>
<form method="POST" action='' enctype="multipart/form-data">
  <div class="float-right pb-2">
  <input type = "submit" name="submit" value="Set Act Order" class="btn gbe-btn-primary">
  </div>
{% csrf_token %}
  <table id="gbe-table" style="width:100%">
    <thead>
      <tr class="gbe-table-header">
    {% for column in columns %}
      <th>{{column}}</th>{% endfor %}
      </tr>
    </thead>
    <tfoot>
      <tr class="gbe-table-header">
    {% for column in columns %}
          <th>{{column}}</th>{% endfor %}
      </tr>
    </tfoot>
    <tbody>
    {% for act in acts %}
    <tr  class="gbe-table-row {% if not act.act.tech.is_complete  %}gbe-form-error{% endif %}" >
      <td data-order='{% if act.order %}{{ act.order }}{% endif %}'>{{ act.form.order }}<span class="opps-errors gbe-form-error">{{ act.form.order.errors }}</span>
      </td>
      <td>{{ act.act.b_title }}</td>
      <td>{% if not act.act.performer.contact.user_object.is_active  %}
        <span class="gbe-form-error gbe-inactive">
        {% endif %}{{ act.act.performer }}
        {% if not act.act.performer.contact.user_object.is_active  %}- INACTIVE</span>
        {% endif %}<br>
        <a href='mailto:{{act.act.performer.contact.user_object.email}}' class="gbe-table-link">{{act.act.performer.contact.user_object.email}}</a></td>
      <td>{% for rehearsal in act.rehearsals %}{{rehearsal.start_time}}<br>{%endfor%}</td>
      <td>{% if act.act.tech.track %}
            <a href="{{act.act.tech.track.url}}" class="gbe-table-link" >{{act.act.tech.track.name | display_track_title:20 }}</a>
          {% elif act.act.tech.confirm_no_music %}
            No audio track needed
          {% else %}
            <span class="gbe-form-error">No track provided</span>
          {% endif %}
          </td>
      <td><div class="btn-group">
    <a href="{% url 'reporting:act_techinfo_detail' act.act.pk%}" title="View Tech Info" class="btn gbe-btn-table btn-sm"><i class="fa fa-eye"></i></a>
  {% if act.act.video_link and act.act.video_choice != "1" %}
    <a href="{{ act.act.video_link }}" title="Watch Act Video" class="btn gbe-btn-table btn-sm"><i class="fas fa-video"></i></a>{% endif %}
    {% if change_acts %}<a href="{% url 'gbe:act_tech_wizard' act.act.id%}?next={{ request.get_full_path }}" title="Edit Act Tech Info" class="btn gbe-btn-table btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i>
</a>
    <form action="{% url 'gbe:act_changestate' act.act.id%}" method="post">
      {% csrf_token %}
      <input type="hidden" id="id_accepted" name="accepted" value="4">
      <input type="hidden" id="id_next" name="next" value="{{ request.get_full_path }}">
    <button title="Remove Act from Show" type="submit" class="btn gbe-btn-table btn-sm">
        <i class="fa fa-trash" aria-hidden="true"></i></button></form>{% endif %}</div>
    </td>
      </tr>
  {% endfor %}
    </tbody>
  </table>
  <div class="float-right py-2">
  <input type = "submit" name="submit" value="Set Act Order" class="btn gbe-btn-primary">
  </div>
</form>
  {% else %}
    <br>
    There are no available acts.  That may mean that:
    <ul>
    <li>The show has not been scheduled - check the scheduler</li>
    <li>There are no acts in the show - check bid review for acts</li>
    <li>The show identified does not exist - please pick from the list above...</li>
    </ul>
  {% endif %}
{% addtoblock "js" %}
  <script charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
  <script>
  $(document).ready(function() {
    $.fn.dataTable.moment( 'MMM D, YYYY, H:mm A' );
    var table = $('#gbe-table').DataTable({
      "paging": false,
      "columnDefs": [
        { "width": "5%", "targets": 0 }],
      "order": [[ 0, "asc" ]]
    } );
    $('button.toggle-vis').on( 'click', function (e) {
        e.preventDefault();
 
        // Get the column API object
        var column = table.column( $(this).attr('data-column') );
 
        // Toggle the visibility
        column.visible( ! column.visible() );
    } );
  } );
  </script>
{% endaddtoblock %}
