{% load sekizai_tags %}
{% comment %}

included in event edit flow. Show WorkerAllocationForms

{% endcomment %}

  <h2 class="gbe-subtitle">Volunteer Allocation </h2>
  <p>Note that removing the worker name will remove the original worker from the volunteer assignments.</p>
  <i class="fa fa-pencil" aria-hidden="true"></i> - Edit &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-times" aria-hidden="true"></i> - Delete &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-plus" aria-hidden="true"></i> - Create
  <br><br>
  <table class="striped_table">
    <tr> 
    {% for header in worker_alloc_headers %}
      <th> {{ header }} </th>
    {% endfor %}
      <th>Action</th>
    </tr>
    {% for role_commit, form in worker_alloc_forms %}
    <tr class="{% if changed_id == form.alloc_id.value %}gbe-table-success {% endif %}striped_table_row">
      <form method="POST" action="{{manage_worker_url}}" 
      	    enctype="multipart/form-data">
        {% csrf_token %}
    <td>&nbsp;<i class="{{role_commit.1}}"></i></td>
	{% for field in form.visible_fields %}
	  <td>
            {{ field }}
          {% if field.errors %}
            <br>
            <font color="red">{{ field.errors }}</font>
          {% endif %}
	  </td>
	{% endfor %}	    	
	{% for field in form.hidden_fields %}
	  {{field}}
	{% endfor %}
	  {% if form.alloc_id.value > 0 and form.alloc_id.value != "-1" %}
	  <td>
	    <div class="btn-group gbe-btn-group" role="group" aria-label="...">
        <button class="btn gbe-btn-light gbe-btn-xs" data-toggle="tooltip" title="Edit" type="submit" name="edit" value="Edit">
	         <i class="fa fa-pencil" aria-hidden="true"></i></button>
	      <button class="btn gbe-btn-light gbe-btn-xs" data-toggle="tooltip" title="Delete" type="submit" name="delete" value="Delete">
           <i class="fa fa-times" aria-hidden="true"></i></button>
	    </div>
	  </td>
	  {% else %}
	  <td>
	  <div class="btn-group" role="group" aria-label="...">
      <button class="btn gbe-btn-light gbe-btn-xs" data-toggle="tooltip" title="Create New" type="submit" name="create" value="Create">
	        <i class="fa fa-plus" aria-hidden="true"></i></button>
	  </div>
	  </td>
	  {% endif %}
      </form>	      
    </tr>
  {% endfor %}
  </table>
  <br>

{% addtoblock "js" %}
{{ worker_alloc_forms.0.1.media }}
<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>
{% endaddtoblock %}
