{% comment %}

included in event edit flow. Show WorkerAllocationForms

{% endcomment %}

  <h2 class="gbe-subtitle">Volunteer Allocation </h2>
  <p>Note that removing the worker name will remove the original worker from the volunteer assignments.</p>
  <i class="fa fa-pencil" aria-hidden="true"></i> - Edit &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-times" aria-hidden="true"></i> - Delete &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-plus" aria-hidden="true"></i> - Create
  <br><br>
  <table class="striped_table">
    <tr> 
    {% for header in worker_alloc_headers %}
      <th> {{ header }} </th>
    {% endfor %}
      <th>Action</th>
    </tr>
    {% for role_commit, form in worker_alloc_forms %}
    <tr class="{% if changed_id == form.alloc_id.value %}changed{% else %}striped_table_row{% endif %}">
      <form method="POST" action="{{manage_worker_url}}" 
      	    enctype="multipart/form-data">
        {% csrf_token %}
    <td>&nbsp;<i class="{{role_commit.1}}"></i></td>
	{% for field in form.visible_fields %}
	  <td>
            {{ field }}
          {% if field.errors %}
            <br>
            <font color="red">{{ field.errors }}</font>
          {% endif %}
	  </td>
	{% endfor %}	    	
	{% for field in form.hidden_fields %}
	  {{field}}
	{% endfor %}
	  {% if form.alloc_id.value > 0 and form.alloc_id.value != "-1" %}
	  <td>
	    <div class="btn-group gbe-btn-group" role="group" aria-label="...">
	      <a href="#" data-toggle="tooltip" title="Edit">
                <button class="btn gbe-btn-light btn-sm" type="submit" name="edit" value="Edit">
	          <i class="fa fa-pencil" aria-hidden="true"></i>
	        </button>
	      </a>
	      <a href="#" data-toggle="tooltip" title="Delete">
	        <button class="btn gbe-btn-light btn-sm" type="submit" name="delete" value="Delete">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
	      </a>
	    </div>
	  </td>
	  {% else %}
	  <td>
	  <div class="btn-group" role="group" aria-label="...">
	    <a href="#" data-toggle="tooltip" title="Create New">
              <button class="btn gbe-btn-light btn-sm" type="submit" name="create" value="Create">
	        <i class="fa fa-plus" aria-hidden="true"></i>
	      </button>
	    </a>
	  </div>
	  </td>
	  {% endif %}
      </form>	      
    </tr>
  {% endfor %}
  </table>
  <br>
