{% extends 'gbe/gbe_table.tmpl' %}
{% block title %}
   {{page_title}}
{% endblock %}
{% block before_table %}
<div>
  <div>
    <h2 class="gbe-title">{{view_title}}</h2>
    <h3>{{ conference.conference_name }}</h3>
<div class="pb-3">{% include "conference_picker.tmpl" %}</div></div>
  # = Number of current volunteers
  <br/>
  <i class="far fa-thumbs-up"></i> - Approve &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fas fa-clock"></i> - Put on a Waitlist &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fas fa-window-close"></i> - Reject<br/><br/>
{% endblock %}
{% block tbody %}
        {% for row in rows %}
        <tr class="gbe-table-row {{ row.status }}">
            <td><a href="{{row.action_links.email}}" data-toggle="tooltip" title="Email" class="gbe-table-link">
              {{ row.volunteer }}</a>
            </td>
            <td>
<a href="{% url 'scheduling:edit_event' conference.conference_slug row.occurrence.pk %}" class="gbe-table-link">
              {{ row.occurrence }}</a>
            </td>
            <td>{{row.occurrence.start_time|date:"M j, Y, g:i A"}}</td>
            <td>
            {{row.occurrence.end_time|date:"M j, Y, g:i A"}}</td>
            <td>{{row.occurrence.role_count|cut:" volunteers"}}</td>
            <td>{{row.occurrence.max_volunteer}}</td>
            <td> {% if row.parent_event %}
<a href="{% url 'scheduling:edit_event' conference.conference_slug row.parent_event.pk%}" class="gbe-table-link">
              {{row.parent_event}}</a><br>{% endif %}
              {% for area in row.staff_areas %}
<a href="{% url 'scheduling:edit_staff' area.id %}" class="gbe-table-link">
                {{area}}
              </a><br>
      {% endfor %}</td>
            <td>{{row.state}}{% if row.label %}<br>
              <b>Notes:</b> {{row.label}}{% endif %}</td>
            <td><div class="btn-group" role="group" aria-label="...">
              <a href="{{row.action_links.approve}}" class="btn gbe-btn-table gbe-btn-xs"data-toggle="tooltip" title="Approve">
              <i class="far fa-thumbs-up"></i></a>
              <a href="{{row.action_links.waitlist}}" class="btn gbe-btn-table gbe-btn-xs{% if not row.action_links.waitlist %} disabled{% endif %}" data-toggle="tooltip" title="Waitlist">
              <i class="fa fa-clock" aria-hidden="true"></i></a>
              <a href="{{row.action_links.reject}}" class="btn gbe-btn-table gbe-btn-xs{% if not row.action_links.reject %} disabled{% endif %}" data-toggle="tooltip" title="Reject">
              <i class="fas fa-window-close" aria-hidden="true"></i></a>
            </div></td>
        </tr>
        {% endfor%}
{% endblock %}
{% block after_table %}
    <br><br>
    <input type="submit" value="Submit Form" class="btn gbe-btn-primary"> 
</div>
{% endblock %}
