{% extends "base.html" %}
{% load static %}
{% block title %}
  Calendar
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/calendar.css">
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/font-awesome.min.css">
{% endblock %}

{% block content %}
<div style="text-align: center; padding-bottom: 10px">
{% include 'conference_list.tmpl' with conf_slug=conference.conference_slug %}
</div>
<div class="container calendar-container">
 <div class="row header1">
    <div class="col-lg-12">{{conference.conference_name}} - {{ calendar_type }} Calendar</div>
 </div>
 <div class="row header2">
  {% if this_day %}
   <div class="col-1 backward">
    {% if prev_date %}<a href="?day={{ prev_date }}" data-toggle="tooltip" title="{{ prev_date }}">
      <button class="btn" type="submit" name="{{ prev_date }}" value="{{ prev_date }}">
    {% else %}<a href="#">
      <button class="btn disabled">
    {% endif %}
        <i class="fa fa-step-backward" aria-hidden="true"></i>
      </button>
    </a></div>
    <div class="col-10">{{ this_day.day | date:"l" }} - {{ this_day }}</div>
    <div class="col-1 forward">
     {% if next_date %}<a href="?day={{ next_date }}" data-toggle="tooltip" title="{{ next_date }}">
      <button class="btn" type="submit" name="{{ next_date }}" value="{{ next_date }}">
    {% else %}<a href="#">
      <button class="btn disabled">
    {% endif %}
        <i class="fa fa-step-forward" aria-hidden="true"></i>
      </button>
    </a></div>
  {% else %}
    <div class="col-12">This calendar is not currently available.</div>
  {% endif %}
 </div>
{% for occurrence in occurrences %}
  {% ifchanged occurrence.hour %}
   {% if not forloop.first %}</div>{% endif %}
   <div class="row time-row">
    <div class="col-lg-12">{{occurrence.hour}}</div>
   </div>
   <div class="row event-row">
  {% endifchanged %}
    <div class="col-lg-{{grid_size}} col-md-{% if grid_size > 4 %}{{grid_size}}{% else %}4{% endif %} col-sm-{% if grid_size > 6 %}{{grid_size}}{% else %}6{% endif %} col-12{% if occurrence.highlight %} {{occurrence.highlight|slugify}}{% endif %}">
     {% include "gbe/scheduling/favorite_star.tmpl" with sched_event=occurrence %}
      {% include "gbe/scheduling/volunteer_link_display.tmpl" with sched_event=occurrence icon_class="volunteer-icon" %}
     {% include "gbe/scheduling/evaluate_icon.tmpl" with evaluate=occurrence.evaluate %}
     {{ occurrence.start }}-{{ occurrence.end }}<br>
     <b><a href="{{occurrence.detail_link}}" class="detail_link">{{ occurrence.title}}</a></b><br>
     {% for role, teacher in occurrence.teachers %}{{ role }}:  {{ teacher.name }}
     {% if not forloop.last %}, {% endif %}{% endfor %}<br>
     <i>{{ occurrence.location }}</i>
     {% if occurrence.show_dashboard %}
       <a href="{{occurrence.show_dashboard}}" class="btn gbe-btn-secondary btn-sm mb-2 float-right">Dashboard</a>{% endif %}
    </div>
{% endfor %}
{% if not occurrences %}
   <div class="row event-row" style="text-align: center;">
    <div class="col-lg-12">There are no {{ calendar_type | lower }} events scheduled for this day.</div>
  </div>
{% endif %}
  </div>

</div>
{% endblock %}