{% extends 'gbe/scheduling/event_wizard.tmpl' %}

{% block title %}
  Copy Events
{% endblock %}

{% block first_title %}
  {{ first_title }}
{% endblock %}
{% block first_form %}
  <form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if copy_solo_mode %}
    {% if copy_solo_mode.errors %}<p class="gbe-form-error"> There is an error on the form.</p>{% endif %}
    <font class="gbe-form-error">{{ copy_solo_mode.non_field_errors }}</font>
      <div class="form-row"><div class="form-group"><div class="col-12">
  <label for="{{copy_solo_mode.copy_mode.name}}" class="control-label">   
          {{ copy_solo_mode.copy_mode.label_tag }}
        </label>
        <br>
          {{ copy_solo_mode.copy_mode.0.tag }}
          {{ copy_solo_mode.copy_mode.0.choice_label }} {{ copy_solo_mode.target_event }}
        {% if copy_solo_mode.target_event.errors %}
          <font class="gbe-form-error"><ul>{{ copy_solo_mode.target_event.errors }}</ul></font>
        {% endif %}
        <br>
          {{ copy_solo_mode.copy_mode.1.tag }}
          {{ copy_solo_mode.copy_mode.1.choice_label }} {{ copy_solo_mode.area }}
        {% if copy_solo_mode.area.errors %}
          <font class="gbe-form-error"><ul>{{ copy_solo_mode.area.errors }}</ul></font>
        {% endif %}
        <br>
          {{ copy_solo_mode.copy_mode.2.tag }}
          {{ copy_solo_mode.copy_mode.2.choice_label }} {{ copy_solo_mode.copy_to_day }}
        <br>
          {% if copy_solo_mode.copy_to_day.errors or copy_solo_mode.copy_mode.errors %}
            <font class="gbe-form-error"><ul>
            {{ copy_solo_mode.copy_to_day.errors }}
            {{ copy_solo_mode.copy_mode.errors }}
            </ul></font>
          {% endif %}
      </div>
      <div class="col-12"><label for="{{copy_solo_mode.room.name}}" class="control-label">
        <br>
          {% if copy_solo_mode.room.errors %}<font class="gbe-form-error">!
          {% elif copy_solo_mode.room.css_classes == 'required' %}<font class="gbe-form-required">*</font>
          {% endif %} 
          {{ copy_solo_mode.room.label_tag }}&nbsp;&nbsp;
          {% if copy_solo_mode.room.errors %}</font>{% endif %} 
      </label>{{ copy_solo_mode.room }}
      {% if copy_solo_mode.room.errors or copy_solo_mode.room.errors %}
            <br/><font class="gbe-form-error"><ul>
            {{ copy_solo_mode.room.errors }}
            </ul></font>
          {% endif %}
    </div>
    <div class="col-12">The default room is used for any case where the original
      room isn't available for the target conference.
    </div></div></div>
  {% elif copy_mode %}
    {% if copy_mode.errors %}<p class="gbe-form-error"> There is an error on the form.</p>{% endif %}
    <font class="gbe-form-error">{{ copy_mode.non_field_errors }}</font>
      <div class="form-row"><div class="form-group"><div class="col-12">
	<label for="{{copy_mode.copy_mode.name}}" class="control-label">   
          {{ copy_mode.copy_mode.label_tag }}
        </label>
        <br>
          {{ copy_mode.copy_mode.0.tag }}
          {{ copy_mode.copy_mode.0.choice_label }} {{ copy_mode.target_event }}
        {% if copy_mode.target_event.errors %}
          <font class="gbe-form-error"><ul>{{ copy_mode.target_event.errors }}</ul></font>
        {% endif %}
        <br>
          {{ copy_mode.copy_mode.1.tag }}
          {{ copy_mode.copy_mode.1.choice_label }} {{ copy_mode.copy_to_day }}
        <br>
          {% if copy_mode.copy_to_day.errors or copy_mode.copy_mode.errors %}
            <font class="gbe-form-error"><ul>
            {{ copy_mode.copy_to_day.errors }}
            {{ copy_mode.copy_mode.errors }}
            </ul></font>
          {% endif %}
      </div>
      <div class="col-12"><label for="{{copy_mode.room.name}}" class="control-label">
        <br>
          {% if copy_mode.room.errors %}<font class="gbe-form-error">!
          {% elif copy_mode.room.css_classes == 'required' %}<font class="gbe-form-required">*</font>
          {% endif %} 
          {{ copy_mode.room.label_tag }}&nbsp;&nbsp;
          {% if copy_mode.room.errors %}</font>{% endif %} 
      </label>{{ copy_mode.room }}
      {% if copy_mode.room.errors or copy_mode.room.errors %}
            <br/><font class="gbe-form-error"><ul>
            {{ copy_mode.room.errors }}
            </ul></font>
          {% endif %}
    </div>
    <div class="col-12">The default room is used for any case where the original
      room isn't available for the target conference.
    </div></div></div>
    {% endif %}
    <div class="form-row pull-right">
      <input type="submit" class="btn gbe-btn-primary" name="pick_mode" value="Next">
    </div>
  </form>
{% endblock %}
{% block second_form %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if second_form.errors %}
    <p class="gbe-form-error"> There is an error on the form.</p>
  {% endif %}
    <div class="form-group single-radio">
      <h4>Choose Sub-Events to be copied</h4>
      Uncheck any sub-events that should not be copied.
      The dates shown here are the dates that the events will have after they are copied.
      All details about the event and it's location will
      be copied, but no staffing assignments will be copied.
      {{ second_form}}
    </div>
  <div class="form-row pull-right">
    <input type="submit" class="btn gbe-btn-primary" name="pick_event" value="Finish">
  </div>
</form>
{% endblock %}
