{% extends 'gbe/scheduling/event_wizard.tmpl' %}

{% block title %}
  Copy Events
{% endblock %}

{% block first_title %}
  {{ first_title }}
{% endblock %}
{% block first_form %}
  {% if pick_day %}
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ pick_day }}
  {% elif copy_mode %}
    {% if copy_mode.errors %}<p style= "color:red"> There is an error on the form.</p>{% endif %}
    <font color="red">{{ copy_mode.non_field_errors }}</font>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-row"><div class="form-group"><div class="col-xs-12">
	<label for="{{copy_mode.copy_mode.name}}" class="control-label">	      
          {{ copy_mode.copy_mode.label_tag }}
        </label>
        <br>
          {{ copy_mode.copy_mode.0.tag }}
          {{ copy_mode.copy_mode.0.choice_label }} {{ copy_mode.target_event }}
        {% if copy_mode.target_event.errors %}
          <font color="red"><ul>{{ copy_mode.target_event.errors }}</ul></font>
        {% endif %}
        <br>
          {{ copy_mode.copy_mode.1.tag }}
          {{ copy_mode.copy_mode.1.choice_label }} {{ copy_mode.copy_to_day }}
        <br>
          {% if copy_mode.copy_to_day.errors or copy_mode.copy_mode.errors %}
            <font color="red"><ul>
            {{ copy_mode.copy_to_day.errors }}
            {{ copy_mode.copy_mode.errors }}
            </ul></font>
          {% endif %}
      </div></div></div>
    {% endif %}
    <div class="form-row pull-right">
      <input type="submit" class="event_wizard_button" name="pick_mode" value="Next">
    </div>
  </form>
{% endblock %}
{% block second_form %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if second_form.errors %}
    <p style= "color:red"> There is an error on the form.</p>
  {% endif %}
    <div class="form-group single-radio">
      <h4>Choose Sub-Events to be copied</h4>
      Uncheck any sub-events that should not be copied.
      The dates shown here are the dates that the events will have after they are copied.
      All details about the event and it's location will
      be copied, but no staffing assignments will be copied.
      {{ second_form}}
    </div>
  <div class="form-row pull-right">
    <input type="submit" class="next" name="pick_event" value="Finish">
  </div>
</form>
{% endblock %}
