{% extends "base.html" %}
{% block title %}
  Great Burlesque Exposition: {{title}}
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/font-awesome.min.css">
{% endblock %}
{% block content %}
<div class="container"> <div class="row">
<div class="col-12">  
   <H1 class="gbe-title">{{title}}</H1>
   <div>
     {{view_header_text | safe}}
   </div>
   {% include "conference_list.tmpl" %}<br><br>
</div></div>
<div class="row"><div class="col-12">
   {% for event in events %}
<div class="card round gbe-panel-list mx-2 my-4">
  <div class="card-header gbe-bg-dark">
    <h2 class="card-title">
      <a href='{{event.detail}}' class="gbe-panel-link">{{ event.occurrence.title }}</a>
      <div class="pull-right">
	<a href='{{event.detail}}' class="detail_link" title="More information">
          <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
      </a></div>
    </h2>
  </div>
  <div class="card-body">
    <div class="card card-body rounded gbe-bg-light">
	{% if event.presenters|length > 0%}
	<div class="row">
	<div class="col-xs-12 col-sm-2">
	  <label class="sched_detail">Presented by:</label></div>
 	  <div class="col-xs-12 col-sm-10">
 	  {% for person in event.presenters %}
	    {{ person.name }},
	  {% endfor %}
	</div></div>
	{% endif %}
	<div class="row">
	<div class="col-xs-12 col-sm-2">
	  <label class="sched_detail">Time/Place:</label></div>
 	  <div class="col-xs-12 col-sm-10">
      {% include "gbe/scheduling/favorite_star.tmpl" with sched_event=event%}
      {% include "gbe/scheduling/volunteer_link_display.tmpl" with icon_class="volunteer-icon" sched_event=event %}
      {% include "gbe/scheduling/evaluate_icon.tmpl" with evaluate=event.evaluate %}
      {{ event.occurrence.start_time|date:_("DATETIME_FORMAT") }} -
	    {{ event.occurrence.end_time|date:_("TIME_FORMAT") }} - {{ event.occurrence.location }}
	  <br/>
          </div></div>
	{% if event.bid and event.bid.fee %}
	<div class="row">
	<div class="col-xs-12 col-sm-2">
	  <label class="sched_detail">Materials Fee:</label></div>
 	<div class="col-xs-12 col-sm-10">
          ${{event.bid.fee}}</div></div>
	{% endif %}
    </div>
    <br>
    {{event.occurrence.description | safe}}
  </div>
</div>
   {% empty %}
     <div><b>Stay tuned! Updates coming soon!</b></div>
   {% endfor %} 
</div></div></div>
{% endblock %}
