{% extends "base.tmpl" %}
{% load thumbnail %}

{% block title %}
  Great Burlesque Exposition: {{eventitem.event.e_title}}
{% endblock %}

{% block head %}
      {% include "gray_grids_css.tmpl" %}
{% endblock head %}

{% block content %}
{% if tickets %}
  <div class="sched_block font_regular">
  {% include "ticket_link.tmpl" %}
  </div>
{% endif %}  
    <H1 class="sched_detail_title">{{eventitem.event.e_title}}</H1>
    <div class="sched_block font_regular">
      <div class="sched_desc">
	{{eventitem.event.e_description |safe}}
        <div class="sched_details">
        <label class="sched_detail">Type:</label>
	{{eventitem.event.type}}<br>
	{% if eventitem.event.fee %}
          <label class="sched_detail">Materials Fee:</label>
  	  ${{eventitem.event.fee}}<br>
        {% endif %}
      </div>
    </div>
      {% if eventitem.scheduled_events %}
      <div class="sched_times container-fluid">
	{% for sched_event in schedule_items %}
	<div class="col-12 sched-sub-box">
	  <div class="col-1 sched-sub-box">
  	    {% include "gbe/scheduling/favorite_star.tmpl" with size="fa-2x" disable_style="detail_link-detail_disable"%}
  	    {% include "gbe/scheduling/evaluate_icon.tmpl" with size="fa-2x" disable_style="detail_link-detail_disable" evaluate=sched_event.evaluate%}
	  </div>
	  <div class="col-11 ">
      <div class="row">
        <div class="col-3 col-md-2 col-lg-1"><label class="sched_detail">Time:</label></div>
        <div class="col-8 col-md-9 col-lg-10">{{ sched_event.occurrence.start_time|date:_("DATETIME_FORMAT")}} - 
        {{ sched_event.occurrence.end_time|date:_("TIME_FORMAT")}}</div>
      </div><div class="row">
	      <div class="col-3 col-md-2 col-lg-1"><label class="sched_detail">Location:</label></div>
        <div class="col-8 col-md-9 col-lg-10">{{ sched_event.occurrence.location }}
          {% if sched_event.occurrence.location.as_subtype.address %}
            <br>{{sched_event.occurrence.location.as_subtype.address}}{% endif %}
          {% if sched_event.occurrence.location.as_subtype.map_link %}
            <br><a href="{{sched_event.occurrence.location.as_subtype.map_link}}">
              Link to Map</div>{% endif %}
        </div>
	    </div>
    </div>
	</div>
	{% endfor %}
      </div>
      {% endif %}

    </div>
    {% if eventitem.featured_grid_list %}
      {% include "featured_people.tmpl" with featured_items=eventitem.featured_grid_list%}
    {% endif %}

    {% if eventitem.bio_grid_list %}
      {% include "people_gallery.tmpl" with heading="Check out our fabulous Performers!" grid_items=eventitem.bio_grid_list%}

    {% elif eventitem.people %}
    <div class="bio_block font_regular container">
      {% for worker in eventitem.people %}
      <div class="row bio_row">
        <div class="col-lg-7 col-md-5 col-12">
	{%if worker.role == "Staff Lead"%}
	  <h2 class="bio_name subtitle">{{worker.role}} - {{worker.person.display_name}}</h2>
        {%else%}
          <h2 class="subtitle">About the {{worker.role}} - {{worker.person.name}}</h2>
          {{worker.person.bio |safe}}
	{%endif%}
        <br><br>
        </div>
        {% if worker.person.img %}
          <div class="col-md-3 col-12">
          <img src="{% thumbnail worker.person.img 300x300 crop upscale subject_location=worker.person.img.subject_location %}" class="sched_bio_image">
          </div>
        {% endif %}
      </div>
      {% endfor %}
      </div>
    {% endif %}


  <div style="height: 300px">&nbsp;</div>
{% endblock %}
