{% extends "base.html" %}
{% block title %}
  Great Burlesque Exposition: {{title}}
{% endblock %}
{% block content %}
<div class="container"> <div class="row">
<div class="col-12">  
   <H1 class="gbe-title">{{title}}</H1>
   <div>
     {{view_header_text | safe}}
   </div>
   {% include "conference_list.tmpl" %}<br><br>
   {% if filter_form %}
   <div>
   <form class="form-inline" action="" method="get" enctype="multipart/form-data">
    {% if conf_slug %}<input type="hidden" name="conference" value="{{conf_slug}}">{% endif %}
    <ul class="list-group list-group-flush"><li class="list-group-item gbe-bg-light">
    <div class="row email-select">
    {% include "filter_checkbox_horizontal.tmpl" with field=filter_form.staff_area %}
    <div class="form-group col-md-1 col-12">
      <button class="btn gbe-btn-primary" type="submit" name="filter" value="Filter">Filter</button>
    </div></div>
    </li></ul>
   </form>
   </div>
   {% endif %}
</div></div>
<div class="row"><div class="col-12">
   {% for bid in unscheduled %}
   {% if forloop.first %}
   <h2>Coming soon...</h2>
   {% endif %}
<div class="card round gbe-panel-list mx-2 my-4">
  <div class="card-header gbe-bg-dark">
    <h2 class="card-title">
      {{ bid.b_title }}
      {% if bid.labels.count > 0 %}
          {% for label in bid.labels.all %}<span class="badge badge-pill gbe-badge">{{label.text }}</span>{% endfor %}{% endif %}
    </h2>
  </div>
  <div class="card-body">
    <div class="card card-body rounded gbe-bg-light">
  <div class="row">
  <div class="col-xs-12 col-sm-2">
    <label class="sched_detail">Presented by:</label></div>
    <div class="col-xs-12 col-sm-10">
    {{bid.teacher.name}}
  </div></div>
  {% if bid.fee %}
  <div class="row">
  <div class="col-xs-12 col-sm-2">
    <label class="sched_detail">Materials Fee:</label></div>
  <div class="col-xs-12 col-sm-10">
          ${{bid.fee}}</div></div>
  {% endif %}
    </div>
    <br>
    {{bid.b_description | safe}}
  </div>
</div>
   {% endfor %} 
</div></div>
<div class="row"><div class="col-12">
   {% for event in events %}
<div class="card round gbe-panel-list mx-2 my-4">
  <div class="card-header gbe-bg-dark">
    <div class="row">
    <div class="col-10 col-md-11"><h2 class="card-title">
      <a href='{{event.detail}}' class="gbe-panel-link">{% if event.occurrence.parent %}{{ event.occurrence.parent.title | safe}}: {% endif %}{{ event.occurrence.title }}</a>{% if event.bid.labels.count > 0 %}
          {% for label in event.bid.labels.all %}<span class="badge badge-pill gbe-badge">{{label.text }}</span>{% endfor %}{% endif %}
    </h2></div>
    <div class="text-right ml-auto align-self-center col-2 col-md-1 pt-1 px-md-0">
      <h2 class="card-title">
        <a href='{{event.detail}}' class="detail_link" title="More information">
        <i class="fas fa-info-circle fa-lg"></i>
    </a></h2></div>
  </div></div>
  <div class="card-body">
    <div class="card card-body rounded gbe-bg-light">
	{% if event.presenters|length > 0%}
	<div class="row">
	<div class="col-xs-12 col-sm-2">
	  <label class="sched_detail">Presented by:</label></div>
 	  <div class="col-xs-12 col-sm-10">
 	  {% for person in event.presenters %}
	    {{ person.name }}{% if not forloop.last %},{% endif %}
	  {% endfor %}
	</div></div>
	{% endif %}
	<div class="row">
	<div class="col-xs-12 col-md-3 col-lg-2">
	  <label class="sched_detail">Time/Place:</label></div>
 	  <div class="col-1">
      {% include "gbe/scheduling/favorite_star.tmpl" with sched_event=event%}
      {% include "gbe/scheduling/volunteer_link_display.tmpl" with icon_class="volunteer-icon" sched_event=event occurrence=event.occurrence %}
      {% include "gbe/scheduling/evaluate_icon.tmpl" with evaluate=event.evaluate %}
      </div><div class="col-10 col-sm-11 col-md-8 p-0">
      {% if event.occurrence.peer %}
        <ul class="my-0">
        <li>{{ event.occurrence.start_time|date:_("DATETIME_FORMAT") }} - {{ event.occurrence.end_time|date:_("TIME_FORMAT") }} - {{ event.occurrence.location }}</li>
        <li>{{ event.occurrence.peer.start_time|date:_("DATETIME_FORMAT") }} - {{ event.occurrence.peer.end_time|date:_("TIME_FORMAT") }} - {{ event.occurrence.peer.location }}</li>
        </ul>
      {% else %}
          {{ event.occurrence.start_time|date:_("DATETIME_FORMAT") }} -
	        {{ event.occurrence.end_time|date:_("TIME_FORMAT") }} - {{ event.occurrence.location }}
        <br/>
    {% endif %}

          </div></div>
	{% if event.bid %}
  {% if event.bid.fee %}
	<div class="row">
	<div class="col-xs-12 col-sm-2">
	  <label class="sched_detail">Materials Fee:</label></div>
 	<div class="col-xs-12 col-sm-10">
          ${{event.bid.fee}}</div></div>{% endif %}
  {% if event.bid.difficulty %}
  <div class="row">
  <div class="col-xs-12 col-sm-2">
    <label class="sched_detail">Difficulty:</label></div>
  <div class="col-xs-12 col-sm-10">
          {{event.bid.difficulty}}</div></div>{% endif %}
	{% endif %}
    </div>
    <br>
    {{event.occurrence.description | safe}}
    {% if event.occurrence.peer %}<div class="alert gbe-alert-info">
        {{ paired_event_alert }}
    </div>{% endif %}
  </div>
</div>
   {% empty %}
     <div><b>Stay tuned! Updates coming soon!</b></div>
   {% endfor %} 
</div></div></div>
{% endblock %}
