{% extends "base.html" %}
{% load thumbnail %}

{% block title %}
  {{conference.conference_slug}}: {{eventitem.occurrence.title}}
{% endblock %}
{% block head %}
      <script src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"></script>
      {% include "gray_grids_css.tmpl" %}
{% endblock head %}
{% block content %}
<div class="container"><div class="row">
{% if tickets %}
<div class="col-12">{% include "ticket_link.tmpl" %}</div>
{% endif %}

<div class="mt-5 col-12">
  <h2 class="gbe-title">{{eventitem.occurrence.title}}</h2></div>
    <div class="mx-3 col-12">
      {{eventitem.occurrence.description |safe}}
        <label class="sched_label">Type:</label>&nbsp;&nbsp;{{eventitem.occurrence.event_style}}<br>
	      {% if bid and bid.fee %}
          <label class="sched_label">Materials Fee:</label>&nbsp;&nbsp;${{bid.fee}}<br>
        {% endif %}
      </div>
      {% if schedule_items %}
<div class="m-3 sched_times gbe-bg-dark container">
	{% for sched_event in schedule_items %}
	<div class="row px-4">
	  <div class="col-1 col-sm-2 col-md-3 col-lg-1 pt-3 pr-3">
      {% include "gbe/scheduling/favorite_star.tmpl" with size="fa-2x" disable_style="detail_link-detail_disable"%}
      {% include "gbe/scheduling/volunteer_link_display.tmpl" with size="fa-2x" icon_class="volunteer-icon-large" disable_style="detail_link-detail_disable" occurrence=eventitem.occurrence %}
      {% include "gbe/scheduling/evaluate_icon.tmpl" with size="fa-2x" disable_style="detail_link-detail_disable" evaluate=sched_event.evaluate%}
	  </div>
	  <div class="col-11 col-sm-10 col-md-9 col-lg-4">
      <div class="row">
        <div class="col-3"><label class="sched_label">Time:</label></div>
        <div class="col-8">{{ eventitem.occurrence.start_time|date:_("DATETIME_FORMAT")}} - 
        {{ eventitem.occurrence.end_time|date:_("TIME_FORMAT")}}</div>
      </div>
      <div class="row">
	      <div class="col-3"><label class="sched_label">Location:</label></div>
        <div class="col-8">{{ eventitem.occurrence.location }}
          {% if eventitem.occurrence.location.as_subtype.address %}
            <br>{{eventitem.occurrence.location.as_subtype.address | safe}}<br><br>
          {% endif %}
        </div>
	    </div>
    </div>
    {% if eventitem.occurrence.location.as_subtype.map_embed %}
    <div class="col-12 col-lg-7 text-center sched-sub-box">
      {{eventitem.occurrence.location.as_subtype.map_embed | safe}}
    </div>
    {% endif %}
	</div>
	{% endfor %}
</div>
      {% endif %}
    {% if eventitem.featured_grid_list %}
      {% include "featured_people.tmpl" with featured_items=eventitem.featured_grid_list%}
    {% endif %}

    {% if eventitem.bio_grid_list %}
      {% include "people_gallery.tmpl" with grid_items=eventitem.bio_grid_list%}

    {% elif eventitem.people %}
    <div class="bio_block container">
      {% for worker in eventitem.people %}
      <div class="row">
        <div class="col-lg-7 col-md-6 col-12">
	{%if worker.role == "Staff Lead"%}
	  <h2 class="bio_name gbe-subtitle">{{worker.role}} - {{worker.person.display_name}}</h2>
        {%else%}
    <h2 class="gbe-subtitle">About the {{worker.role}} - {{worker.person.name}}</h2>
        {{worker.person.bio |safe}}
        {% include "social_media.tmpl" with item=worker.person %}
	{%endif%}
        <br><br>
        </div>
        {% if worker.person.img %}
          <div class="col-lg-5 col-md-6 col-12">
          <img src="{% thumbnail worker.person.img 300x300 crop upscale subject_location=worker.person.img.subject_location %}">
          </div>
        {% endif %}
      </div>
      {% endfor %}
      </div>
    {% endif %}


  <div style="height: 300px">&nbsp;</div>
</div></div>
{% endblock %}
