{% extends "base.tmpl" %}
{% block title %}
  Great Burlesque Exposition: {{title}}
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/font-awesome.min.css">
{% endblock %}
{% block content %}
   
   <H1 class="listheader">{{title}}</H1>
   <div class="body font_regular">
     {{view_header_text | safe}}
   </div>
   {% include "conference_list.tmpl" %}<br><br>
   {% for event in events %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title listsubheader">
      <a href='{{event.detail}}'>{{ event.eventitem.e_title }}</a>
      <div class="pull-right">
	<a href='{{event.detail}}' class="detail_link" title="More information">
          <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
      </a></div>
    </h2>
  </div>
  <div class="panel-body">
    <div class="well">
	{% if event.presenters|length > 0%}
	<div class="row">
	<div class="col-xs-12 col-sm-2">
	  <label class="listlabel">Presented by:</label></div>
 	  <div class="col-xs-12 col-sm-10">
 	  {% for person in event.presenters %}
	    {{ person.name }},
	  {% endfor %}
	</div></div>
	{% endif %}
	{% if event.scheduled_events|length > 0%}
	<div class="row">
	<div class="col-xs-12 col-sm-2">
	  <label class="listlabel">Time(s):</label></div>
 	  <div class="col-xs-12 col-sm-10">
	  {% for sched_event in event.scheduled_events %}
      {% include "gbe/scheduling/favorite_star.tmpl"%}
      {% include "gbe/scheduling/volunteer_link_display.tmpl" with icon_class="volunteer-icon" %}
      {% include "gbe/scheduling/evaluate_icon.tmpl" with evaluate=sched_event.evaluate %}
      {{ sched_event.occurrence.start_time|date:_("DATETIME_FORMAT") }} -
	    {{ sched_event.occurrence.end_time|date:_("TIME_FORMAT") }}
	  <br/>
	  {% endfor %}
          </div></div>
	{% endif %}
	{% if event.eventitem.fee %}
	<div class="row">
	<div class="col-xs-12 col-sm-2">
	  <label class="listlabel">Materials Fee:</label></div>
 	<div class="col-xs-12 col-sm-10">
          ${{event.eventitem.fee}}</div></div>
	{% endif %}
    </div>
    {{event.eventitem.e_description | safe}}
  </div>
</div>
   {% empty %}
     <div><b>Stay tuned! Updates coming soon!</b></div>
   {% endfor %} 

{% endblock %}
