{% extends 'gbe/gbe_wizard.tmpl' %}

{% block title %}
  Create Event
{% endblock %}

{% block first_title %}
  {% if selection_form %}
    Select Event Type: {{ event_type }}
  {% else %}Select Event Type{% endif %}
{% endblock %}

{% block first_form %}
  {% if selection_form %}
    {% if selection_form.errors %}<p class="gbe-form-error"> There is an error on the form.</p>{% endif %}
    <font class="gbe-form-error">{{ selection_form.non_field_errors }}</font>
    <form action="{% url 'scheduling:create_event_wizard' conference_slug %}" method="get" enctype="multipart/form-data">
      <div class="form-row"><div class="form-group gbe-choice-list">
        {{ selection_form.event_type }}
        {% if selection_form.event_type.errors %}
          <font class="gbe-form-error">{{ selection_form.event_type.errors }}</font>
        {% endif %}
      </div></div>
  {% endif %}
  <div class="form-row justify-content-end">
    <input type="submit" class="btn gbe-btn-primary" name="pick_event" value="Next">
  </div>
</form>
{% endblock %}
