{% extends "base.tmpl" %}
{% load staticfiles %}
{% block title %}
  Great Burlesque Exposition: {{eventitem.event.e_title}}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/font-awesome.min.css">
    {{ form.media }}
{% endblock %}
{% block content %}
 
<div><H1 class="sched_detail_title">{{eventitem.event.e_title}}</H1>
  <div class="sched_block">
      <div class="sched_desc">
	 {{eventitem.event.e_description|safe}}
       <div class="sched_details">
        {% for name, value in eventitem.event.payload.details.items %}
        <label class="sched_detail">
	{% autoescape off %}
	  {% for label_name, label_value in eventitem.labels.items%}
	       {% if name == label_name %}
	          {{label_value | safe}}:
	       {% endif %}
	  {% empty %}
	      {{value |safe}}:
	  {% endfor %}
	</label> {{value}}<br>
	{% endautoescape %}{% endfor %}
       </div>
      </div>
      <div class='sched_sidebar'>
      {% if eventitem.scheduled_events %}
      <div class="sched_side">
	  <h3>All Scheduled Times...</h3>
	  {% for sched_event in eventitem.scheduled_events %}
	    <label class="sched_detail">Time:</label> {{ sched_event.start_time|date:_("DATETIME_FORMAT")}} - {{ sched_event.end_time|date:_("TIME_FORMAT")}}<br>
	      <label class="sched_detail">Location:</label> {{ sched_event.location }}<br>
	  <br>
	  {% endfor %}
      </div>
      {% endif %}
      {% if scheduling_info %}
      <div class="sched_times">
	  <h3>Booking Information</h3>
	  {% for label, details in scheduling_info.display_info %}
	    <label class="sched_detail">{{label}}:</label></br>{{ details }}</br></br>
	  {% endfor %}
	  <br>
	  <a href="{{ scheduling_info.reference }}">More information</a>
      </div>
      {% endif %}
      </div>
  </div>
  {% if form %}
  <form method="POST" action="{{event_edit_url}}" enctype="multipart/form-data">

  {% include "form_table.tmpl" %}
  <input type = "submit" name="submit" value="Submit">
  </form>
    {% if event_id and event_type == 'Show'  %}
    <table> 
    <tr>
    <td><a href="{%url 'scheduler:schedule_acts' eventitem.event.pk %}">Schedule acts</a>
    </td>
    </tr>
    </table>
    {% endif %}
  {% endif %}


  {% if worker_alloc_forms %}
  {% include "gbe/scheduling/allocate_volunteers.tmpl" %}

  {% elif event_id %}
  {% include "gbe/scheduling/manage_opps.tmpl" %}


  {% endif %}
  <div style="height: 300px">&nbsp;</div>
{% endblock %}
