{% load static sekizai_tags %}
    
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
<div class="form-row"><div class="col-12">
<h3 class="gbe-title">Event Details</h3>
</div>
<div class="col-12">
  <font class="gbe-form-required">*</font> indicates a required field<br><br>
  {% if form.errors or scheduling_form.errors or tickets.errors %}
    <p class="gbe-form-error"> There is an error on the form.</p>
  {% endif %}
  <font class="gbe-form-error">
  {{ form.non_field_errors }}
  {{ scheduling_form.non_field_errors }}
  {{ association_form.non_field_errors }}
  {{ tickets.non_field_errors }}</font>
<p>
The following fields are common to all scheduled items for this event.
Changing fields in this section will change them in all calendar items.</p>
</div>
{# Include the visible fields #}
  {% for field in form.visible_fields %}
    <div class="form-group col-12"><div class="row">
      <div class="col-lg-3 col-xs-12">
	<label for="{{field.name}}" class="control-label">	      
          {% if field.errors %}
            <font class="gbe-form-error">!&nbsp;&nbsp;
	  {% elif field.css_classes == 'required' %}
            <font class="gbe-form-required">*</font>
          {% endif %} 
          {{ field.label_tag }}
          {% if field.errors %}</font>{% endif %} 
          {% if field.help_text %}<span class="dropt" title="Help">
            <img src= "{% static "img/question.png" %}" alt="?"/>
            <span style="width:200px;float:right;text-align:left;">
              {{ field.help_text }}
          </span></span>{% endif %}
      </label></div>
      <div class="col-lg-9 col-xs-12">
	{{ field }}
        {% if field.errors %}
      </div>
    </div>
    <div class="row"><div class="col-md-3 col-12">&nbsp;</div>
      <div class="col-md-9 col-12">
 	<label>
	  <font class="gbe-form-error">{{ field.errors }}</font>
        </label>{% endif %}
      </div>
    </div></div>
    {% endfor %}</div>
  {% if association_form %}
  <div class="form-row">
    <div class="col-12 ml-auto">
    <h3>Associations</h3>
    <div class="form-row">
    {% include "gbe/scheduling/event_booking_field.tmpl" with field=association_form.parent_event header_size="col-lg-2 col-md-3 col-12" field_size="col-lg-5 col-md-9 col-12" %}
    {% include "gbe/scheduling/event_booking_field.tmpl" with field=association_form.staff_area header_size="col-lg-2 col-md-3 col-12" field_size="col-lg-3 col-md-9 col-12" %}
  </div></div></div>
  {% endif %}
  <div class="form-row">
  {% if scheduling_form %}
    {% if scheduling_info %}
    <div class="sched_times gbe-bg-dark col-md-5 col-sm-6 col-12 mr-auto">
    <h3>Booking Information</h3>
    {% for label, details in scheduling_info.display_info %}
      <label class="sched_detail">{{label}}:</label><br>{{ details }}<br><br>
    {% endfor %}
    <br>
    <a href="{{ scheduling_info.reference }}" class="gbe-link">More information</a>
      </div>
    {% endif %}
    <div class="{% if scheduling_info %}col-md-7 col-sm-6 {% endif %}col-12 ml-auto">
      <h4 class="gbe-subtitle">Booking Details</h4>
      Set the time and place for this occurence of this event.<br><br>
      {% for hidden in scheduling_form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
    <div class="form-row">
    {% if scheduling_form.day %}
      {% include "gbe/scheduling/event_booking_field.tmpl" with field=scheduling_form.day header_size="col-lg-1 col-md-2 col-sm-3 col-5" field_size="col-lg-2 col-md-3 col-sm-3 col-7" %}
    {% endif %}
    {% if scheduling_form.time %}
      {% include "gbe/scheduling/event_booking_field.tmpl" with field=scheduling_form.time header_size="col-lg-2 col-md-2 col-sm-3 col-5" field_size="col-lg-2 col-md-4 col-sm-3 col-7" %}
    {% endif %}
    {% if scheduling_form.duration %}
      {% include "gbe/scheduling/event_booking_field.tmpl" with field=scheduling_form.duration header_size="col-lg-3 col-md-3 col-sm-5 col-5" field_size="col-lg-2 col-md-2 col-sm-7 col-7" %}
    {% endif %}
    {% if scheduling_form.max_volunteer in scheduling_form.visible_fields %}
      <div class="clearfix visible-md"></div>
      {% include "gbe/scheduling/event_booking_field.tmpl" with field=scheduling_form.max_volunteer header_size="col-lg-2 col-md-3 col-sm-5 col-5" field_size="col-lg-1 col-md-3 col-sm-3 col-7" %}
    {% endif %}
    {% if scheduling_form.approval in scheduling_form.visible_fields %}
      <div class="clearfix visible-sm"></div>
      {% include "gbe/scheduling/event_booking_field.tmpl" with field=scheduling_form.approval header_size="col-lg-2 col-md-3 col-sm-2 col-5" field_size="col-lg-1 col-md-2 col-sm-2 col-7" %}
    {% endif %}
    {% if not scheduling_info %}<div class="clearfix visible-sm"></div>{% endif %}
      {% include "gbe/scheduling/event_booking_field.tmpl" with field=scheduling_form.location header_size="col-lg-2 col-md-3 col-sm-5 col-5" field_size="col-lg-3 col-md-3 col-sm-7 col-7" %}
    </div>
    </div>
  {% endif %}
<div><br><br><br></div>
<!-- this br thing above is here to make it possible to click on and edit the 
     fields above this section.  If you hate it, then fix it, but make sure 
     all fields can be clicked on and edited in the 2-3 most common browsers -->
</div>
{% if worker_formset %}
<div class="form-row">
    <div class="col-12 mt-4">
      <h4 class="gbe-subtitle">Staffing</h4>
      Assign people to this booking.<br><br>
    </div></div>
 {% for worker_form in worker_formset %}
  <div class="form-row">
    <div class="col-lg-4 col-md-3 col-sm-3 col-6 text-right">
    {{ worker_form.role }}
    </div>
    <div class="col-lg-6 col-md-9 col-sm-9 col-6">
    {{ worker_form.worker }}
    {% if worker_form.errors or worker_form.non_field_errors %}
      <br>{{ worker_form.errors }}{{ worker_form.non_field_errors }}
    {% endif %}
    </div>
  </div>
{% endfor %}
{% endif %} <!-- if scheduling_form -->

<div class="form-row">
{% if tickets %}
   <div class="col-12 mt-4">
      <h4 class="gbe-subtitle">Set Tickets for Event</h4>
      Choose from any number of existing BPT event tickets, and/or create a new one.
      You can do any or all of these options, or skip it and set the tickets later.<br><br>
    </div>
  <div class="form-row">
      <div class="col-12 event-booking-cell gbe-flat-list">
	<label for="{{tickets.bpt_events.name}}" class="control-label">	      
          {% if tickets.bpt_events.errors %}
            <font class="gbe-form-error">!&nbsp;&nbsp;{% endif %}
          {{ tickets.bpt_events.label_tag }}
          {% if tickets.bpt_events.errors %}</font>{% endif %} 
        </label>
	{{ tickets.bpt_events }}
        {% if tickets.bpt_events.errors %}
 	<br><label>
	  <font class="gbe-form-error">{{ tickets.bpt_events.errors }}</font>
        </label>{% endif %}
      </div>
      <div class="col-md-2 col-sm-3 col-12 event-booking-cell">
	<label for="{{tickets.bpt_event_id.name}}" class="control-label">	      
          {% if tickets.bpt_event_id.errors %}
            <font class="gbe-form-error">!&nbsp;&nbsp;
          {% endif %} 
          {{ tickets.bpt_event_id.label_tag }}
          {% if tickets.bpt_event_id.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-3 col-sm-9 col-12 event-booking-cell">
	{{ tickets.bpt_event_id }}
        {% if tickets.bpt_event_id.errors %}
 	<br><label>
	  <font class="gbe-form-error">{{ tickets.bpt_event_id.errors }}</font>
        </label>{% endif %}
      </div>
      <div class="col-md-2 col-sm-3 col-12 event-booking-cell">
	<label for="{{tickets.display_icon.name}}" class="control-label">	      
          {% if tickets.display_icon.errors %}
            <font class="gbe-form-error">!&nbsp;&nbsp;
          {% endif %} 
          {{ tickets.display_icon.label_tag }}
          {% if tickets.display_icon.errors %}</font>{% endif %} 
      </label>
      {% if tickets.display_icon.help_text %}<span class="dropt" title="Help">
            <img src= "{% static "img/question.png" %}" alt="?"/>
            <span style="width:200px;float:right;text-align:left;">
              {{ tickets.display_icon.help_text }}
          </span></span>{% endif %}
      </div>
      <div class="col-md-3 col-sm-9 col-12 event-booking-cell">
	{{ tickets.display_icon }}
        {% if tickets.display_icon.errors %}
 	<br><label>
	  <font class="gbe-form-error">{{ tickets.display_icon.errors }}</font>
        </label>{% endif %}
      </div>
  </div>
{% endif %}
</div>
{% addtoblock "js" %}
{{ worker_formset.0.media }}
{{ form.media }}
<script>
(function($) {
    $('#add-form').click(function() {
        var index = $('#id_inline_test_models-TOTAL_FORMS').val()
        var newTable = $('#id_inline_test_models-__prefix__-DELETE').parents('table').clone()
        newTable.find(':input').each(function() {
            for (attr of ['name', 'id'])
                $(this).attr(
                    attr,
                    $(this).attr(attr).replace('__prefix__', index)
                )
        })
        newTable.insertBefore($(this))
        $('#id_inline_test_models-TOTAL_FORMS').val(
            parseInt($('#id_inline_test_models-TOTAL_FORMS').val()) + 1
        )
        newTable.slideDown()
    })
})($)
</script>
{% endaddtoblock %}