  {% load staticfiles %}
    
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
  <font color=red>*</font> indicates a required field
  {% if form.errors or scheduling_form.errors or tickets.errors %}
    <p style= "color:red"> There is an error on the form.</p>
  {% endif %}
  <font color="red">
  {{ form.non_field_errors }}
  {{ scheduling_form.non_field_errors }}
  {{ tickets.non_field_errors }}</font>
<div class="event_booking">
<h4>Event Details</h4>
The following fields are common to all scheduled items for this event.
Changing fields in this section will change them in all calendar items.
{# Include the visible fields #}
  {% for field in form.visible_fields %}
    <div class="form-group"><div class="row">
      <div class="col-md-3 col-12">
	<label for="{{field.name}}" class="control-label">	      
          {% if field.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif field.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ field.label_tag }}
          {% if field.errors %}</font>{% endif %} 
          {% if field.help_text %}<span class="dropt" title="Help">
            <img src= "{% static "img/question.png" %}" alt="?"/>
            <span style="width:200px;float:right;text-align:left;">
              {{ field.help_text }}
          </span></span>{% endif %}
      </label></div>
      <div class="col-md-9 col-12">
	{{ field }}
        {% if field.errors %}
      </div>
    </div>
    <div class="row"><div class="col-md-3 col-12">&nbsp;</div>
      <div class="col-md-9 col-12">
 	<label>
	  <font color="red">{{ field.errors }}</font>
        </label>{% endif %}
      </div>
    </div></div>
    {% endfor %}</div>
<div class="event_booking">
  {% if scheduling_form %}

  <div class="row d-block">
    <div class="{% if scheduling_info %}col-md-7 col-sm-6 {% endif %}col-12">
      <h4>Booking Details</h4>
      Set the time and place for this occurence of this event.<br><br>
      {% for hidden in scheduling_form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
    </div>
    {% if scheduling_info %}
      <div class="sched_side col-md-5 col-sm-6 col-12 float-right">
	  <h3>Booking Information</h3>
	  {% for label, details in scheduling_info.display_info %}
	    <label class="sched_detail">{{label}}:</label></br>{{ details }}</br></br>
	  {% endfor %}
	  <br>
	  <a href="{{ scheduling_info.reference }}">More information</a>
      </div>
    {% endif %}
    <div class="form-group">
      {% if scheduling_form.day %}
      <div class="col-md-1 col-sm-3 col-5 event-booking-cell">
	<label for="{{scheduling_form.day.name}}" class="control-label">	      
          {% if scheduling_form.day.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif scheduling_form.day.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ scheduling_form.day.label_tag }}
          {% if scheduling_form.day.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-2 col-sm-3 col-7 event-booking-cell">
	{{ scheduling_form.day }}
        {% if scheduling_form.day.errors %}
 	<br/><label>
	  <font color="red">{{ scheduling_form.day.errors }}</font>
        </label>{% endif %}
      </div>
      {% endif %}
      {% if scheduling_form.time %}
      <div class="col-md-2 col-sm-3 col-5 event-booking-cell">
	<label for="{{scheduling_form.time.name}}" class="control-label">	      
          {% if scheduling_form.time.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif scheduling_form.time.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ scheduling_form.time.label_tag }}
          {% if scheduling_form.time.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-2 col-sm-3 col-7 event-booking-cell">
	{{ scheduling_form.time }}
        {% if scheduling_form.time.errors %}
 	<br/><label>
	  <font color="red">{{ scheduling_form.time.errors }}</font>
        </label>{% endif %}
      </div>
      {% endif %}
      {% if scheduling_form.duration %}
      <div class="col-md-3 col-sm-3 col-12 event-booking-cell">
	<label for="{{scheduling_form.duration.name}}" class="control-label">	      
          {% if scheduling_form.duration.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif scheduling_form.duration.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ scheduling_form.duration.label_tag }}
          {% if scheduling_form.duration.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-2 col-sm-3 col-12 event-booking-cell">
	{{ scheduling_form.duration }}
        {% if scheduling_form.duration.errors %}
 	<br/><label>
	  <font color="red">{{ scheduling_form.duration.errors }}</font>
        </label>{% endif %}
      </div>
      {% endif %}
      {% if scheduling_form.max_volunteer in scheduling_form.visible_fields %}
      <div class="col-md-3 col-sm-3 col-12 event-booking-cell">
	<label for="{{scheduling_form.max_volunteer.name}}" class="control-label">	      
          {% if scheduling_form.max_volunteer.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif scheduling_form.max_volunteer.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ scheduling_form.max_volunteer.label_tag }}
          {% if scheduling_form.max_volunteer.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-3 col-sm-3 col-12 event-booking-cell">
	{{ scheduling_form.max_volunteer }}
        {% if scheduling_form.max_volunteer.errors %}
 	<label>
	  <font color="red">{{ scheduling_form.max_volunteer.errors }}</font>
        </label>{% endif %}
      </div>
      {% endif %}
    {% if not scheduling_info %}<div class="clearfix visible-sm"></div>{% endif %}
      <div class="col-md-3 col-sm-3 col-12 event-booking-cell">
	<label for="{{scheduling_form.location.name}}" class="control-label">	      
          {% if scheduling_form.location.errors %}
            <font color="red">!&nbsp;&nbsp;
	  {% elif scheduling_form.location.css_classes == 'required' %}
            <font color="red">*</font>
          {% endif %} 
          {{ scheduling_form.location.label_tag }}
          {% if scheduling_form.location.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-3 col-sm-6 col-12 event-booking-cell">
	{{ scheduling_form.location }}
        {% if scheduling_form.location.errors %}
 	<br/><label>
	  <font color="red">{{ scheduling_form.location.errors }}</font>
        </label>{% endif %}
      </div>
    </div>
  {% endif %}

<div><br><br></div>
<!-- this br thing above is here to make it possible to click on and edit the 
     fields above this section.  If you hate it, then fix it, but make sure 
     all fields can be clicked on and edited in the 2-3 most common browsers -->

{% if worker_formset %}
    <div class="event_booking {% if scheduling_info %}col-md-7 col-sm-6 {% endif %}col-12">
      <h4>Staffing</h4>
      Assign people to this booking.<br><br>
    </div>
   <div class="clearfix visible-sm"></div>
 {% for worker_form in worker_formset %}
  <div class="form-group">
    <div class="col-lg-2 col-md-3 col-sm-3 col-6">
    {{ worker_form.role }}
    </div>
    <div class="{% if scheduling_info %}col-lg-5 col-md-4{% else %}col-md-9 col-lg-10{% endif %} col-sm-9 col-6">
    {{ worker_form.worker }}
    {% if worker_form.errors or worker_form.non_field_errors %}
      <br>{{ worker_form.errors }}{{ worker_form.non_field_errors }}
    {% endif %}
    </div>
  </div>
{% endfor %}
{% endif %}
</div>

<div class="row">
{% if tickets %}
   <div class="event_booking col-12">
      <h4>Set Tickets for Event</h4>
      Choose from any number of existing BPT event tickets, and/or create a new one.
      You can do any or all of these options, or skip it and set the tickets later.<br><br>
    </div>
  <div class="form-group">
      <div class="col-12 event-booking-cell checkbox-ticketing">
	<label for="{{tickets.bpt_events.name}}" class="control-label">	      
          {% if tickets.bpt_events.errors %}
            <font color="red">!&nbsp;&nbsp;{% endif %}
          {{ tickets.bpt_events.label_tag }}
          {% if tickets.bpt_events.errors %}</font>{% endif %} 
        </label>
	{{ tickets.bpt_events }}
        {% if tickets.bpt_events.errors %}
 	<br/><label>
	  <font color="red">{{ tickets.bpt_events.errors }}</font>
        </label>{% endif %}
      </div>
      <div class="col-md-2 col-sm-3 col-12 event-booking-cell">
	<label for="{{tickets.bpt_event_id.name}}" class="control-label">	      
          {% if tickets.bpt_event_id.errors %}
            <font color="red">!&nbsp;&nbsp;
          {% endif %} 
          {{ tickets.bpt_event_id.label_tag }}
          {% if tickets.bpt_event_id.errors %}</font>{% endif %} 
      </label></div>
      <div class="col-md-3 col-sm-9 col-12 event-booking-cell">
	{{ tickets.bpt_event_id }}
        {% if tickets.bpt_event_id.errors %}
 	<br/><label>
	  <font color="red">{{ tickets.bpt_event_id.errors }}</font>
        </label>{% endif %}
      </div>
      <div class="col-md-2 col-sm-3 col-12 event-booking-cell">
	<label for="{{tickets.display_icon.name}}" class="control-label">	      
          {% if tickets.display_icon.errors %}
            <font color="red">!&nbsp;&nbsp;
          {% endif %} 
          {{ tickets.display_icon.label_tag }}
          {% if tickets.display_icon.errors %}</font>{% endif %} 
      </label>
      {% if tickets.display_icon.help_text %}<span class="dropt" title="Help">
            <img src= "{% static "img/question.png" %}" alt="?"/>
            <span style="width:200px;float:right;text-align:left;">
              {{ tickets.display_icon.help_text }}
          </span></span>{% endif %}
      </div>
      <div class="col-md-3 col-sm-9 col-12 event-booking-cell">
	{{ tickets.display_icon }}
        {% if tickets.display_icon.errors %}
 	<br/><label>
	  <font color="red">{{ tickets.display_icon.errors }}</font>
        </label>{% endif %}
      </div>
  </div>
{% endif %}
</div></div>
