     {% if sched_event.favorite_link and sched_event.favorite_link != "disabled" %}
      <a href="{{sched_event.favorite_link}}?next={{ request.get_full_path }}"
         class="detail_link cal-favorite" data-toggle="tooltip"
         title="{%if sched_event.highlight == "interested" %}Remove from Schedule{% else %}Add to Schedule{% endif %}">
       <i class="fa {%if sched_event.highlight == "interested" %}fa-star{% else %}fa-star-o{% endif %} {{size}}" aria-hidden="true"></i></a>
      </a>
     {% elif sched_event.favorite_link %}
      <a href="#" class="detail_link-disabled cal-favorite {{ disable_style }}" data-toggle="tooltip"
         title="You are a {{ sched_event.highlight }} - contact the coordinator to change your schedule">
       <i class="fa fa-star {{size}}" aria-hidden="true"></i></a>
     {% endif %}
