<div class=side_box>
  <h2>Rehearsal Slot Management</h2>
  <p># = Number of Acts Allowed in Slot</p>
  <i class="fa fa-pencil" aria-hidden="true"></i> - Edit &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-clone" aria-hidden="true"></i> - Copy &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-times" aria-hidden="true"></i> - Delete &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-plus" aria-hidden="true"></i> - Create
  <br><br>
  <table class="striped_table">
    <tr> 
    {% for header in slotactionheaders %}
      <th>{{ header }}</th>
    {% endfor %}
      <th>Action</th>
    </tr>
    {% for form in slotactionform %}
    <tr class="{% if changed_id == form.opp_sched_id.value %}changed{% else %}striped_table_row{% endif %}">
      <form method="POST" action="{{ manage_slot_url }}" enctype="multipart/form-data">
        {% csrf_token %}
	{% for field in form.visible_fields %}
	  <td>
          {{ field }}
          {% if field.errors %}
	    <span class="opps-errors">
              {{ field.errors }}
	    </span>
          {% endif %}
	  </td>
	{% endfor %}	    	
	{% for field in form.hidden_fields %}
	  {{field}}
	{% endfor %}
	  <td>
	    <div class="btn-group" role="group" aria-label="...">
	      <a href="#" data-toggle="tooltip" title="Edit">
                <button class="btn btn-default btn-xs" type="submit" name="edit_slot" value="Edit">
	          <i class="fa fa-pencil" aria-hidden="true"></i>
	        </button>
	      </a>
	      <a href="#" data-toggle="tooltip" title="Copy">
  	        <button class="btn btn-default btn-xs" type="submit" name="duplicate_slot" value="Copy">
	          <i class="fa fa-clone" aria-hidden="true"></i>
                </button>
	      </a>
	      <a href="#" data-toggle="tooltip" title="Delete">
	        <button class="btn btn-default btn-xs" type="submit" name="delete_slot" value="Delete">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </button>
	      </a>
	    </div>
	  </td>
      </form>	      
    </tr>
    {% endfor %}
    <tr class="striped_table_row">
      <form method="POST" action="{{ manage_slot_url }}" 
      	    enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in createslotform.visible_fields %}
	  <td>
	    {{ field }}
	    {% if field.errors %}
	      <span class="opps-errors">
		{{ field.errors }}
	      </span>
	    {% endif %}
	  </td>
	{% endfor %}	    		      
	{% for field in createslotform.hidden_fields %}
	  {{field}}
	{% endfor %}
 	<td>
	  <div class="btn-group" role="group" aria-label="...">
	    <a href="#" data-toggle="tooltip" title="Create New">
              <button class="btn btn-default btn-xs" type="submit" name="create_slot" value="Create">
	        <i class="fa fa-plus" aria-hidden="true"></i>
	      </button>
	    </a>
	  </div>
	</td>

      </form>	      
    </tr>
  </table>
  <br><br>
</div>
