   <div class="dropdown">
    <button class="btn gbe-btn-light dropdown-toggle m-2" type="button" id="{{ field.label }}MenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ field.label }}</button>
   <div class="dropdown-menu" aria-labelledby="{{ field.label }}MenuButton"><div class="form-group">
     {% for checkbox in field %}
      <div class="form-check-inline">
      <label class="checkbox-label gbe-filter" id="{{ checkbox.id_for_label }}">
      {{ checkbox.tag }}{{ checkbox.label_tag }}{{ checkbox.choice_label }}
      </label>
      </div>{% endfor %}
   </div></div>
   {% if field.errors %}<font class="gbe-form-error">{{ field.errors }}</font>{% endif %}</div>
