{% extends "base.html" %}
{% load static sekizai_tags %}
{% block title %}
    {{title}}
{% endblock %}
{% block head %}

    {# Include Bootstrap 4 and jQuery #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Form media -->
  {{forms.0.1.media}}
<!-- end form media -->
{% endblock %}
{% block content %}
<h2 class="gbe-title">{{header}}</h2>
<p>
{{intro}}
</p>
  <table>
    {% for day, form in forms %}
<form method="POST" action="{% url 'scheduling:schedule_conference' day.pk %}" enctype="multipart/form-data">
{% csrf_token %}
{% for hidden in form.hidden_fields %}
  {{ hidden }}
{% endfor %}
  <tr><td colspan=3><h4>{{day.conference.conference_slug}}</h4></td>
  <tr>
    <td style="padding: 3px"><b>Current Start Day:</b> {{day.day|date:"l - M j, Y"}}</td>
    <td style="padding: 3px">{{form.day}}
      {% if form.day.errors %}<br><font class="gbe-form-error">{{ form.day.errors }}</font>{% endif %}</td>
  </tr></table> 
  <div class="col-12 text-right">
    <input class="btn gbe-btn-primary" type="submit" name="submit" value="{{button}}">
  </div>
  {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
</form>
    {% endfor %}
   
{% endblock %}
