{% extends "gbe/gbe_table.tmpl" %}
{% block title %}
  Manage Expo Schedule
{% endblock %}
{% block before_table %}
<form action="" method="get" enctype="multipart/form-data">
<div class="container review"><div class="row">
  <div class="col-md-8">
    <h2 class="gbe-title">{{view_title}}{% if conference.status != "completed" %}
      <a href="{% url 'scheduling:create_event_wizard' conference.conference_slug %}" role="button" class="btn btn-secondary">+ Create New Event</a>{% endif %}</h2>
   </div><div class="col-md-4 text-right">
  <div class="dropdown show">
    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{conference.conference_slug}}</a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
 {% for slug in conference_slugs %}
        <a class="dropdown-item" href="{% url 'scheduling:manage_event_list' slug %}?{{ request.GET.urlencode }}">{{slug}}</a>
 {% endfor %}
    </div></div></div></div>
 <div class="gbe-tab-area my-2">
  <div class="btn-group row">
   {% include "gbe/scheduling/manage_event_field.tmpl" with field=selection_form.day %}
   {% include "gbe/scheduling/manage_event_field.tmpl" with field=selection_form.event_style %}
   <div class="dropdown col col-md-auto">
    <button class="btn btn-light dropdown-toggle m-2" type="button" id="staffMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     {{ selection_form.staff_area.label | safe }}</button>
    <div class="dropdown-menu pb-0" aria-labelledby="staffMenuLink">
     {% for checkbox in selection_form.staff_area %}
      <div class="dropdown-item">
      <label class="checkbox-label gbe-filter mb-0" id="{{ checkbox.id_for_label }}">
      {{ checkbox.tag }}
      {{ checkbox.choice_label }}
      {% if conference.status != "completed" %}
      <a href="{% url "scheduling:edit_staff" checkbox.data.value %}" data-toggle="tooltip" title="Edit" class="detail_link ml-1">
       <i class="fa fa-pencil-square" aria-hidden="true"></i>
      </a>
     {% endif %}
      <a href="{% url "scheduling:copy_staff_schedule" checkbox.data.value %}" data-toggle="tooltip" title="Copy" class="detail_link ml-1">
       <i class="fa fa-files-o" aria-hidden="true"></i>
      </a>
      </label></div>
     {% endfor %}
     <input type="submit" class="btn btn-secondary w-100 mt-2" name="filter" value="Apply">
    </div>
      {% if selection_form.staff_area.errors %}
        <font class="gbe-form-error">{{ selection_form.staff_area.errors }}</font>
      {% endif %}
  </div>
    {% include "gbe/scheduling/manage_event_field.tmpl" with field=selection_form.calendar_type %}
  </div></div>
   
   Yellow = volunteers for this event must be approved.
   <div class="row"><div class="col-12">&nbsp;</div></div>
{% endblock %}
{% block tbody %}
    {% for occurrence in occurrences %}
      <tr class="gbe-table-row{% if occurrence.id in success_occurrences %} gbe-table-success{% endif %}">
       <td>{{ occurrence.title}}</td>
       <td>{% if occurrence.parent_title %}<a href="{{occurrence.parent_link}}" class="gbe-table-link" data-toggle="tooltip" title="Edit">{{ occurrence.parent_title}}</a>{% endif %}</td>
       <td>{% for area in occurrence.staff_areas %}
        {% if conference.status != "completed" %}<a href="{% url "scheduling:edit_staff" area.pk %}"  class="gbe-table-link" data-toggle="tooltip" title="Edit">{% endif %}{{area.slug}}{% if conference.status != "completed" %}</a>{% endif %}{% endfor %}</td>
       <td>{{ occurrence.location}}</td>
       <td>{{ occurrence.start|date:"M j, Y, g:i A" }}</td>
       <td>{{ occurrence.duration }}</td>
       <td>{{ occurrence.type }}</td>
       <td class="{% if occurrence.approval_needed%}approval_needed{%endif%}">{% if occurrence.current_acts %}{{ occurrence.current_acts }} acts{% else %}{{ occurrence.current_volunteer }}{% endif %}</td>
       <td class="{% if occurrence.approval_needed%}approval_needed{%endif%}">{% if occurrence.max_commitments %}{{ occurrence.max_commitments }} acts{% else %}{{ occurrence.max_volunteer }}{% endif %}</td>
       <td><div class="btn-group" role="group" aria-label="...">
        <a href="{{ occurrence.detail_link }}" data-toggle="tooltip" title="View" class="btn gbe-btn-table btn-sm" id="action-button">
         <i class="fa fa-eye" aria-hidden="true"></i></a>
        {% if occurrence.edit_link %}
        <a href="{{ occurrence.edit_link }}" data-toggle="tooltip" title="Edit" class="btn gbe-btn-table btn-sm" id="action-button">
         <i class="fa fa-pencil" aria-hidden="true"></i></a>{% endif %}
        {% if occurrence.copy_link %}
        <a href="{{ occurrence.copy_link }}" data-toggle="tooltip" title="Copy" class="btn gbe-btn-table btn-sm" id="action-button">
         <i class="fa fa-files-o" aria-hidden="true"></i></a>{% endif %}
        <a href="{{ occurrence.delete_link }}?next={{ request.get_full_path }}" data-toggle="tooltip" title="Delete" class="btn gbe-btn-table btn-sm" id="action-button">
         <i class="fa fa-trash-o" aria-hidden="true"></i></a></div>
        {% if occurrence.type == 'Show' %}
          <br>
          <a href="{% url 'scheduling:show_dashboard' occurrence.id %}" class="btn gbe-btn-secondary btn-sm mt-2">Dashboard</a>{% endif %}
       </td>
      </tr>
    {% endfor %}
{% endblock %}
{% block after_table %}
 </div>
</div>
</form>
{% endblock %}


