<div class="row">
  <div class="col-md-6"><h2 class="gbe-subtitle">Volunteer Management</h2></div>
    {% if report_url %}
      <div class="col-md-6 text-right"><a href="{{report_url}}" role="button" class="btn gbe-btn-primary">Display Staff</a></div>{% endif %}
</div>
  <p># = Number of Volunteers Needed<br>
     Approve = Approval Needed for Volunteering</p>
  <i class="fa fa-pencil" aria-hidden="true"></i> - Edit &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-clone" aria-hidden="true"></i> - Copy &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-users" aria-hidden="true"></i> - Setup Staff &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-times" aria-hidden="true"></i> - Delete &nbsp;&nbsp;||&nbsp;&nbsp;
  <i class="fa fa-plus" aria-hidden="true"></i> - Create
  <br><br>
  <table class="striped_table">
    <tr> 
    {% for header in actionheaders %}
      <th class="vol_header">{{ header }}</th>
    {% endfor %}
      <th>Action</th>
    </tr>
    {% for form in actionform %}
    <tr class="{% if changed_id == form.opp_sched_id.value %}gbe-table-success {% endif %}striped_table_row">
      <form method="POST" action="{{ manage_vol_url }}" enctype="multipart/form-data">
        {% csrf_token %}
	{% for field in form.visible_fields %}
	  <td>
          {{ field }}
          {% if field.errors %}
	    <span class="opps-errors gbe-form-error">
              {{ field.errors }}
	    </span>
          {% endif %}
	  </td> 	{% endfor %}	    	
	{% for field in form.hidden_fields %}
	  {{field}}
	{% endfor %}
	  <td>
	    <div class="btn-group" role="group" aria-label="...">
        <button class="btn gbe-btn-light gbe-btn-xs" data-toggle="tooltip" title="Edit" type="submit" name="edit" value="Edit">
	          <i class="fa fa-pencil" aria-hidden="true"></i></button>
  	    <button class="btn gbe-btn-light gbe-btn-xs" data-toggle="tooltip" title="Copy" type="submit" name="duplicate" value="Copy">
	          <i class="fa fa-clone" aria-hidden="true"></i></button>
	      <button class="btn gbe-btn-light gbe-btn-xs" data-toggle="tooltip" title="Setup Staff" type="submit" name="allocate" value="Staff">
         	  <i class="fa fa-users" aria-hidden="true"></i></button>
	      <button class="btn gbe-btn-light gbe-btn-xs" data-toggle="tooltip" title="Delete" type="submit" name="delete" value="Delete">
            <i class="fa fa-times" aria-hidden="true"></i></button>
	    </div>
	  </td>
      </form>	      
    </tr>
    {% endfor %}
    <tr class="striped_table_row">
      <form method="POST" action="{{ manage_vol_url }}" enctype="multipart/form-data">
	{% csrf_token %}
	{% for field in createform.visible_fields %}
	  <td>
          {{ field }}
          {% if field.errors %}
	    <span class="opps-errors">
              {{ field.errors }}
	    </span>
          {% endif %}
	  </td>
	{% endfor %}	    		      
	{% for field in createform.hidden_fields %}
	  {{field}}
	{% endfor %}
 	<td>
	  <div class="btn-group" role="group" aria-label="...">
	    <a href="#" data-toggle="tooltip" title="Create New">
              <button class="btn gbe-btn-light gbe-btn-xs" type="submit" name="create" value="Create">
	        <i class="fa fa-plus" aria-hidden="true"></i>
	      </button>
	    </a>
	  </div>
	</td>

      </form>	      
    </tr>
  </table>
  <br><br>
