   <div class="dropdown col col-md-auto">
    <button class="btn btn-light dropdown-toggle m-2" type="button" id="{{ field.label }}MenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ field.label }}</button>
   <div class="dropdown-menu pb-0" aria-labelledby="{{ field.label }}MenuButton">
     {% for checkbox in field %}
      <div class="dropdown-item">
      <label class="checkbox-label gbe-filter mb-0" id="{{ checkbox.id_for_label }}">
      {{ checkbox.tag }}{{ checkbox.label_tag }}{{ checkbox.choice_label }}
      </label>
      </div>{% endfor %}
      <input type="submit" class="btn btn-secondary w-100 mt-2" name="filter" value="Apply">
   </div>
   {% if field.errors %}<font class="gbe-form-error">{{ field.errors }}</font>{% endif %}</div>
