{% extends "gbe/gbe_table.tmpl" %}
{% block title %}
  Manage Expo Schedule
{% endblock %}
{% block before_table %}
<form class="form-inline" action="" method="get" enctype="multipart/form-data">
 {% for form in other_forms %}
  {{ form }}
 {% endfor %}
<div class="container review">
 <ul class="nav nav-tabs" id="inner">
 {% for slug in conference_slugs %}
  <li role="presentation"><a href="{% url 'scheduling:manage_event_list' slug %}?{{ request.GET.urlencode }}" class="{% if conference.conference_slug == slug %}gbe-tab-active{% else %}gbe-tab{% endif %}">{{slug}}</a></li>
 {% endfor %}
 </ul>
 <div class="gbe-tab-area">
   {% include "gbe/scheduling/manage_event_field.tmpl" with field=selection_form.day %}
   {% include "gbe/scheduling/manage_event_field.tmpl" with field=selection_form.calendar_type %}
   <div class="form-row">
   <div class="form-group col-md-2 col-12">
    <label class="form-check-label horizontal-label" id="{{ selection_form.staff_area.name }}"><b>
     {% if selection_form.staff_area.errors %}
      <font class="gbe-form-error">!&nbsp;&nbsp;
     {% endif %}
     {{ selection_form.staff_area.label }}:&nbsp;&nbsp;
     {% if selection_form.staff_area.errors %}
      </font>
     {% endif %}</b></label>
   </div>
   <div class="form-group col-md-10 col-12">
     {% for checkbox in selection_form.staff_area %}
      <div class="form-group col-md-4 col-sm-4 col-12 checkbox-box{%if alt_id|slugify == checkbox.data.value|slugify %} checkbox-box-success{%endif%}">
      <div class="form-check-inline">
      <label class="form-check-label staff-checkbox-label" id="{{ checkbox.id_for_label }}">
      {{ checkbox.tag }}
      {{ checkbox.choice_label }}&nbsp;
      {% if conference.status != "completed" %}
      &nbsp;<a href="{% url "scheduling:edit_staff" checkbox.data.value %}" data-toggle="tooltip" title="Edit" class="detail_link">
       <i class="fa fa-pencil-square" aria-hidden="true"></i>
      </a>
     {% endif %}
      &nbsp;<a href="{% url "scheduling:copy_staff_schedule" checkbox.data.value %}" data-toggle="tooltip" title="Copy" class="detail_link">
       <i class="fa fa-files-o" aria-hidden="true"></i>
      </a>
      </label></div>
     </div>
     {% endfor %}
      {% if selection_form.staff_area.errors %}
        <font class="gbe-form-error">{{ selection_form.staff_area.errors }}</font>
      {% endif %}
   </div></div>
   <div class="form-row">
   <div class="form-group col-12" id="filter-button"><br>
      <input type="submit" class="btn gbe-btn-primary" name="filter" value="Filter">
   {% if conference.status != "completed" %}
      <a href="{% url 'scheduling:create_event_wizard' conference.conference_slug %}" role="button" class="btn gbe-btn-primary">Create</a>
   {% endif %}</div></div>
   Yellow = volunteers must be approved.
   <div class="row"><div class="col-12">&nbsp;</div></div>
{% endblock %}
{% block tbody %}
    {% for occurrence in occurrences %}
      <tr class="gbe-table-row{% if occurrence.id in success_occurrences %} gbe-table-success{% endif %}">
       <td>{{ occurrence.title}}</td>
       <td>{% if occurrence.parent_title %}<a href="{{occurrence.parent_link}}" class="gbe-table-link" data-toggle="tooltip" title="Edit">{{ occurrence.parent_title}}</a>{% endif %}</td>
       <td>{% for area in occurrence.staff_areas %}
        {% if conference.status != "completed" %}<a href="{% url "scheduling:edit_staff" area.pk %}"  class="gbe-table-link" data-toggle="tooltip" title="Edit">{% endif %}{{area.slug}}{% if conference.status != "completed" %}</a>{% endif %}{% endfor %}</td>
       <td>{{ occurrence.location}}</td>
       <td>{{ occurrence.start|date:"M j, Y, g:i A" }}</td>
       <td>{{ occurrence.duration }}</td>
       <td>{{ occurrence.type }}</td>
       <td class="{% if occurrence.approval_needed%}approval_needed{%endif%}">{% if occurrence.current_acts %}{{ occurrence.current_acts }} acts{% else %}{{ occurrence.current_volunteer }}{% endif %}</td>
       <td class="{% if occurrence.approval_needed%}approval_needed{%endif%}">{% if occurrence.max_commitments %}{{ occurrence.max_commitments }} acts{% else %}{{ occurrence.max_volunteer }}{% endif %}</td>
       <td><div class="btn-group gbe-btn-group" role="group" aria-label="...">
        <a href="{{ occurrence.detail_link }}" data-toggle="tooltip" title="View" class="btn gbe-btn-table btn-sm" id="action-button">
         <i class="fa fa-eye" aria-hidden="true"></i></a>
        {% if occurrence.edit_link %}
        <a href="{{ occurrence.edit_link }}" data-toggle="tooltip" title="Edit" class="btn gbe-btn-table btn-sm" id="action-button">
         <i class="fa fa-pencil" aria-hidden="true"></i></a>{% endif %}
        {% if occurrence.copy_link %}
        <a href="{{ occurrence.copy_link }}" data-toggle="tooltip" title="Copy" class="btn gbe-btn-table btn-sm" id="action-button">
         <i class="fa fa-files-o" aria-hidden="true"></i></a>{% endif %}
        <a href="{{ occurrence.delete_link }}?next={{ request.get_full_path }}" data-toggle="tooltip" title="Delete" class="btn gbe-btn-table btn-sm" id="action-button">
         <i class="fa fa-trash-o" aria-hidden="true"></i></a>
       </div></td>
      </tr>
    {% endfor %}
{% endblock %}
{% block after_table %}
 </div>
</div>
</form>
{% endblock %}


