{% extends 'gbe/scheduling/event_wizard.tmpl' %}
{% block head %}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
    <script>{% include "tiny-mce-admin-settings.tmpl" %}</script>
{% endblock %}
{% block second_form %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
      {% include "gbe/scheduling/event_booking.tmpl" with form=second_form %}

  <div class="form-row pull-right">
  {% if volunteer_scheduling %}
    <input type="submit" class="next" name="set_event" value="Save and Return to List">
    <input type="submit" class="next" name="set_event" value="More...">
  {% else %}
    <input type="submit" class="next" name="set_event" value="Finish">
  {% endif %}
  </div>
</form>
{% endblock %}