{% extends "base.html" %}
{% load static sekizai_tags %}
{% block title %}
  Volunteer Sign-Up
{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/styles/calendar.css">
{% endblock %}

{% block content %}
{% if conference %}
<h2 class="gbe-title">Volunteer for {{ conference }}</h2>
<div>{{ view_header_text | safe }}</div><br>
<div class="container calendar-container">
 <div class="row header1">
    <div class="col-lg-12">{{conference.conference_name}} Calendar</div>
 </div>
 <div class="row header2">
  {% if this_day %}
   <div class="col-1 backward">
    {% if prev_date %}<a href="?day={{ prev_date }}" data-toggle="tooltip" title="{{ prev_date }}">
      <button class="btn btn-default" type="submit" name="{{ prev_date }}" value="{{ prev_date }}">
    {% else %}<a href="#">
      <button class="btn btn-default disabled">
    {% endif %}
        <i class="fa fa-step-backward" aria-hidden="true"></i>
      </button>
    </a></div>
    <div class="col-10">{{ this_day.day | date:"l" }} - {{ this_day }}</div>
    <div class="col-1 forward">
     {% if next_date %}<a href="?day={{ next_date }}" data-toggle="tooltip" title="{{ next_date }}">
      <button class="btn btn-default" type="submit" name="{{ next_date }}" value="{{ next_date }}">
     {% else %}<a href="#">
      <button class="btn btn-default disabled">
     {% endif %}
        <i class="fa fa-step-forward" aria-hidden="true"></i>
      </button>
    </a></div>
  {% else %}
    <div class="col-12">This calendar is not currently available.</div>
  {% endif %}
 </div>
{% if not occurrences %}
   <div class="row event-row" style="text-align: center;">
    <div class="col-lg-12">There are no volunteer events scheduled for this day.</div>
  </div>
{% else %}
<div class="row"><div class="col-lg-12 vol_shift_div">
<table class="vol_shift_table" border="1px">
  <thead><tr>{% for is_hour, hour, time, wrap in grid_list %}
    {% if is_hour %}
    <th class="vol_shift_header" colspan="{{col_per_hour}}">{{ hour }}</th>
    {% endif %}
  {% endfor %}</tr></thead>
  <tbody><tr class="vol-shift-row">{% for is_hour, hour, time, wrap in grid_list %}
    <td width="{{col_fraction}}%" class="{% if is_hour %}vol_shift_hour{%else%}vol_shift_mid{% endif %} vol_shift_cell">&nbsp;</td>
  {% endfor %}
</tr>
{% for occurrence in occurrences %}
<tr>
  {% for is_hour, hour, time, wrap in grid_list %}
    {% if time == occurrence.object.start_time.time %}
    <td class="vol_shift_event" id="{{occurrence.highlight|slugify}}" colspan="{{occurrence.colspan}}">
      <a class="gbe-link" href="#" data-toggle="modal" data-target="#Modal{{occurrence.object.pk}}" data-backdrop="true" >
    {% include "gbe/scheduling/volunteer_icon.tmpl" with icon_class="volunteer-icon" %}
    {{ occurrence.start }}-{{ occurrence.end }} <b>{% if occurrence.object.parent and occurrence.object.parent.slug %}{{occurrence.object.parent.slug}}: {% endif %}{{ occurrence.title}}</b>{% if occurrence.peer %} <i class="fas fa-link" title="Paired with another event"></i>{% endif %}</a>
    {% include "gbe/scheduling/event_modal.tmpl"%}
    </td>
      {% if occurrence.object.start_time.time > occurrence.object.end_time.time %}
       <td width="{{col_fraction}}%" class="{% if is_hour %}vol_shift_hour{%else%}vol_shift_mid{% endif %} vol_shift_cell">&nbsp;</td>
      {% endif %}
    {% elif occurrence.object.end_time.time > occurrence.object.start_time.time %}
      {% if time < occurrence.object.start_time.time or time >= occurrence.object.end_time.time %}
        <td width="{{col_fraction}}%" class="{% if is_hour %}vol_shift_hour{%else%}vol_shift_mid{% endif %} vol_shift_cell">&nbsp;</td>
      {% endif %}
    {% else %}
      {% if time < occurrence.object.start_time.time and not wrap or time > occurrence.object.end_time.time and wrap %}
        <td width="{{col_fraction}}%" class="{% if is_hour %}vol_shift_hour{%else%}vol_shift_mid{% endif %} vol_shift_cell">&nbsp;</td>
      {% endif %}
    {% endif %}
  {% endfor %}
</tr>
{% endfor%}
   <tr class="vol-shift-row">{% for is_hour, hour, time, wrap in grid_list %}
    <td width="{{col_fraction}}%" class="{% if is_hour %}vol_shift_hour{%else%}vol_shift_mid{% endif %} vol_shift_cell">&nbsp;</td>
  {% endfor %}
</tr></tbody>
<tfoot><tr>{% for is_hour, hour, time, wrap in grid_list %}
    {% if is_hour %}
    <th class="vol_shift_header" colspan="{{col_per_hour}}">{{ hour }}</th>
    {% endif %}
  {% endfor %}</tr></tfoot>
</table>
</div></div>
{% endif %}
</div>
{% else %}
<h2>Please come back soon...</h2>
There are no active openings for volunteers at this time.
{% endif %}
{% endblock %}