     {% if sched_event.volunteer_link and sched_event.volunteer_link != "disabled" and  sched_event.volunteer_link != "full" %}
         {% if sched_event.approval_needed %}
           {%if sched_event.highlight == "volunteer" %}
             <img src="/static/img/approved.gif" class="volunteer-icon" alt="You're approved to volunteer"/>
           {% elif sched_event.highlight == "pending volunteer" %}
             <img src="/static/img/awaiting_approval.gif" class="volunteer-icon" alt="Volunteer Offer awaits approval"/>
           {% elif not sched_event.highlight %}<img src="/static/img/needs_approval.gif" class="volunteer-icon" alt="This event needs approval"/>{% endif %}
         {% else %}
           {%if sched_event.highlight == "volunteer" %}
             <img src="/static/img/volunteered.gif" class="volunteer-icon" alt="You've signed up"/>
           {% elif not sched_event.highlight %}<img src="/static/img/not_yet_volunteered.gif" class="volunteer-icon" alt="Volunteer shift available"/>{% endif %}
         {% endif %}
     {% elif sched_event.volunteer_link %}
       <i class="fas fa-hand-paper {{size}}" aria-hidden="true"></i>
     {% endif %}
