{% extends 'gbe/scheduling/event_wizard.tmpl' %}

{% block head %}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
    <script>{% include "tiny-mce-admin-settings.tmpl" %}</script>
{% endblock %}

{% block second_form %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% if second_form.errors %}
    <p class="gbe-form-error"> There is an error on the form.</p>
  {% endif %}
  <font class="gbe-form-error">{{ second_form.non_field_errors }}</font>
    <div class="form-group">
      <h4>Add the volunteer opportunity to a Show, Special Event, or Staff Area, or make
      a standalone volunteer slot:</h4>
      {{ second_form.volunteer_topic }}
        {% if second_form.volunteer_topic.errors %}
          <font class="gbe-form-error">{{ second_form.volunteer_topic.errors }}</font>
        {% endif %}
    </div>
  <div class="form-row justify-content-end">
    <input type="submit" class="btn gbe-btn-primary" name="pick_topic" value="Next">
  </div>
</form>
{% endblock %}

{% block third_form %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
      {% include "gbe/scheduling/event_booking.tmpl" with form=third_form %}

  <div class="form-row justify-content-end">
    <input type="submit" class="btn gbe-btn-primary" name="set_opp" value="Finish">
  </div>
</form>
{% endblock %}