<!DOCTYPE html>{% load i18n static cms_tags cms_static menu_tags sekizai_tags %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% page_attribute page_title %} - {{ request.site.name }}{% endblock title %}</title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    {% render_block "css" %}
    {{ ALDRYN_SNAKE.render_head }}
<link rel="stylesheet" type="text/css" href='{% static "styles/base.css" %}' media="all"/>
<link rel="stylesheet" type="text/css" href='{% static "styles/menus.css" %}' media="all"/>
<link rel="stylesheet" type="text/css" href='{% static "styles/gallery.css" %}' media="all"/>
<link rel="shortcut icon" href='{% static "img/favicon.ico" %}' type="image/x-icon"/>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap" rel="stylesheet">
    {% block theme %}
    <link href="{% url 'themes:theme_style' %}" rel="stylesheet">
    {% endblock theme %}
  {% block head %}
  {% endblock head %}
  </head>
  <body class="{% if not view.is_popup %}gbe-body{% else %}gbe-bg-light{% endif %}">
    {% cms_toolbar %}
  {% if not view.is_popup %}
    <nav class="sticky-top navbar navbar-expand-lg navbar-default gbe-navbar-default">
      <a class="navbar-brand px-3" href="#"><img src="{% static 'img/logo - white.png' %}" height="46" width="105"></a>
      <button class="navbar-toggler mr-2 collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
        <div class="close-icon py-1"><i class="fas fa-times"></i></div>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% with dropdown=True %}{% show_menu 0 100 100 100 "menu.html" %}{% endwith %}
        </ul>
      {% static_placeholder 'buttons' %}
	    {% if not user.is_authenticated %}
	    {% include "registration/login_popover.tmpl" %}
	    {% endif %}
      </div>
    </nav>
    <div class="container">
    <div class='banner'>{% static_placeholder 'banner' %}</div>
  {% endif %}
    <div class="card gbe-panel">
        <div class="card-body">
        {% include "subway_map.tmpl" %}
        {% if messages %}
	{% for message in messages %}
	{% if message.tags == "error" %}<div class="alert gbe-alert-danger">{% else %}<div class="alert gbe-alert-{{message.tags}}">{% endif %}
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>{{message.tags|capfirst}}:</strong> {{message|safe}}
  </div>
	{% endfor %}
        {% endif %}

        {% block content %}
        {% endblock content %}
	</div>
      </div> <!-- panel for main content -->
  {% if not view.is_popup %}
      <div class='container gbe-footer footer'>{% static_placeholder 'footer'%}</div>
    </div>
  {% endif %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        (function($){
    $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
      if (!$(this).next().hasClass('show')) {
        $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
      }
      var $subMenu = $(this).next(".dropdown-menu");
      $subMenu.toggleClass('show');

      $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
        $('.dropdown-submenu .show').removeClass("show");
      });

      return false;
    });
    })(jQuery)
    </script>
    {% render_block "js" %}
    {{ ALDRYN_SNAKE.render_tail }}
  </body>
</html>
