 <ul class="nav nav-tabs" id="inner">
 {% for slug in conference_slugs %}
  <li role="presentation"><a href="{{ request.path }}?conference={{slug}}" class="{% if conference.conference_slug == slug %}gbe-tab-active{% else %}gbe-tab{% endif %}" >{{slug}}</a></li>
 {% endfor %}
 </ul>
 