{% if conference_slugs %}
<div class="dropdown show">
      <a class="btn gbe-btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select Conference</a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for slug in conference_slugs %}
        <a class="dropdown-item {% if slug == conference.conference_slug %} active{% endif %}" href="?conf_slug={{ slug }}">{{ slug }}</a>
        {% endfor %}
      </div></div>
{% endif %}