   {% for slug in conference_slugs %}
     {% if conf_slug == slug %}<font style="font-weight: bold">
     {% else %}<font style="font-weight: normal">{% endif %}
     <a href = "{{target_link}}?conference={{ slug }}" class="gbe-link">
     {{slug}}</a></font>{% if not forloop.last %}&nbsp;|&nbsp;{% endif %}
   {% endfor %}p