{% extends 'downbase.tmpl' %}

{% block title %}
  GBE: Down for maintenance
{% endblock %}

{% comment %}
{# Regular down-for-maintenance content #}
{% block content %}


<H3>We'll be back in a few minutes</H3>
<br>The Great Burlesque Expo site is down for a few minutes while we make it better. Back in a flash!

{% endblock %}
{% endcomment %}


{# Parked site content for post-2015 #}
 
{% block content %}

  <p> The Great Burlesque Exposition of 2015 has come and gone and what a weekend 
  we had! We proved that neither snow nor rain nor more snow nor gloom of night 
  nor "Really?! More snow?!" could keep you from coming to Boston. Thank all of 
  you who participated and attended. You're what makes the Great Burlesque 
  Exposition truly great.</p>

  <p>Congratulations to the winners of the 2015 Howard Awards:
  <ul>
     <li> <b>Best Hybrid </b>Kiki Allure   </li>
    <li> <b>Most Humorous </b>Cherie Nuit  </li>
    <li> <b>Most Beautiful </b> Gala Delicious  </li>
    <li> <b>Most Classic </b>Mika Romantic  </li>
    <li> <b>Best Solo Performer </b>Sailor St. Claire </li>
  </ul>
  <p>We're taking advantage of a little bit of downtime to make some major 
  improvements to our already awesome website. Look for a prettier, easier to
  use, website sometime around June 1 -- and mark your calendars with these 
  important dates!</b>
  <ul>
     <li> <b>August 1, 2015: </b> Application period opens </li>
     <li> <b>November 5, 2015: </b> Applications close </li>
     <li> <b>December 5, 2015: </b>Acceptance notifications sent  </li>
     <li> <b>February 5-7, 2016: </b> The tenth Great Burlesque Exposition! </li>
  </ul>
{% endblock %}

