{% load i18n menu_tags cache mptt_tags %}
{% for child in children %}
  {%if child.children%}
    <li class="dropdown dropdown-submenu">
    	<a class="dropdown-toggle dropdown-item" href="#" id="gbe_dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	{{ child.get_menu_title }}</a>
  {%else%}
    <li><a class="dropdown-item "  id="gbe_dropdown" href="{{ child.attr.redirect_url|default:child.get_absolute_url }}">
        {{ child.get_menu_title }}
    </a>
  {%endif%}

    {% if child.children %}
        <ul class="dropdown-menu" aria-labelledby="dropdown-{{ child.get_menu_title|slugify }">
        {% show_menu from_level to_level extra_inactive extra_active "dropdown.tmpl" "" "" child %}
        </ul>
    {% endif %}
    </li>
{% endfor %}
