  {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
<div class="form-group"><div class="container"> <div class="row">
{% for field in form.visible_fields %}
	<div class="col-md-{%if field.label == 'color' %}4{%else%}2{%endif%} col-sm-12 text-right">
  {{ field }}
  {% include "label_horizontal.tmpl" %}
	</div>
{% endfor %}
</div>
<div class="row">
{% for field in form.visible_fields %}
  <div class="col-3 text-right">
  {% if field.errors %}
 	    <label for="{{field.name}}">	      
        <font class="gbe-form-error">{{ field.errors }}</font>
      </label>
  {% else %}&nbsp;
  {% endif %}
	</div>
{% endfor %}
</div></div></div>