  {% load static %}

    {% csrf_token %}
    
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
  {% if form.form_title %}
  <br>
  <span class="gbe-subtitle">{{ form.form_title }}</span>
  {% endif %}
  <font class="gbe-form-error">
  {% if form.errors %}
    <p> There is an error on the form.</p>
  {% endif %}
  {{ form.non_field_errors }}</font>

    {# Include the visible fields #}
<div class="container">
    {% for field in form.visible_fields %}
  <div class="form-group row pb-2">
    {% if two_col %}<div class="col-md-5">
    {% else %}<div class="col-md-4">{% endif %}
      {% if field.errors %}
        <font class="gbe-form-error">!</font>&nbsp;&nbsp;
	    {% elif field.css_classes == 'required' or field.name in submit_fields %}
        <font class="gbe-form-required">*</font>
      {% endif %} 
      {% if field.errors %}<font class="gbe-form-error">{% endif %}
      {% if field.name in draft_fields %}
	       <font class="gbe-draft">{{ field.label_tag }}</font>
	    {% else %}
	        {{ field.label_tag }}
	    {% endif %}
      {% if field.errors %}
        </font>
      {% endif %}
      {% if field.help_text %}
        <small class="form-text text-muted pb-1 mt-0">{{ field.help_text }}</small>
      {% endif %}
    </div>
    <div class="{% if two_col %}col-md-7{% else %}col-md-8{% endif %} form_field">
      {{ field }}
      {% if field.errors %}
        <font class="gbe-form-error">{{ field.errors }}</font>
      {% endif %}
    </div>
  </div>
    {% endfor %}
</div>