  {{ instructions | safe }}
  <p>
    <font class="gbe-form-required">*</font> indicates a required field
    {% if not nodraft and draft_fields %}
      <br>
      <font class="gbe-draft">bold text</font> indicates a field required for saving a draft
    {% endif %}
  </p>
    {% for form in forms %}
      {%if showheader%}
        <h4>{{form.prefix}}</h4>
      {%endif%}
    {% include "form_table.tmpl" %}
    {% endfor %}
