  {% load static %}

    {% csrf_token %}
    
    {# Include the hidden fields #}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
  {% if form.form_title %}
  </br>
  <span class="formtitle">{{ form.form_title }}</span>
  {% endif %}
  <font color="red">
  {% if form.errors %}
    <p style= "color:red"> There is an error on the form.</p>
  {% endif %}
  {{ form.non_field_errors }}</font>

    {# Include the visible fields #}
    {% for field in form.visible_fields %}
    <div class="form-group">
	<div class="container">
	<div class="row">
  {% if two_col %}<div class="col-md-5">
  {% else %}<div class="col-md-4">{% endif %}
	<label for="{{field.name}}" class="control-label">	      
            {% if field.errors %}
              <font color="red">!</font>&nbsp;&nbsp;
	    {% elif field.css_classes == 'required' or field.name in submit_fields %}
              <font color="red">*</font>
            {% endif %} 
            {% if field.errors %}
                <font color="red">
            {% endif %}
            {% if field.name in draft_fields %}
	        <b>{{ field.label_tag }}</b>
	    {% else %}
	        {{ field.label_tag }}
	    {% endif %}

            {% if field.errors %}
                </font>
            {% endif %} 

            {% if field.help_text %}
                <span class="dropt" title="Help">
                <img src= "{% static "img/question.png" %}" alt="?"/>
                  <span style="width:200px;float:right;text-align:left;">
                  {{ field.help_text }}
                  </span>
                </span>
            {% endif %}
	</label>
	</div>
  {% if two_col %}<div class="col-md-7{% if field.field.choices|length > 7 %} long_choice{%endif%}">
	{% else %}<div class="col-md-8{% if field.field.choices|length > 7 %} long_choice{%endif%}">
  {% endif %}
            {{ field }}
	</div>
	</div>
	</div>
        </div>

      {% if field.errors %}
	<div class="container">
        <div class="row">
	  <div class="col-md-2">&nbsp;</div>
	  <div class="col-md-4">
 	    <label for="field.name">	      
              <font color="red">{{ field.errors }}</font>
            </label>
	  </div>
	</div>
	</div>
      {% endif %}
    {% endfor %}
