    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/static/styles/gray_grids_css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/static/styles/gray_grids_css/responsive.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/static/styles/fonts/simple-line-icons.css"> 
