    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/static/styles/gray_grids_css/main.css">
    <!-- Icon -->
    <link rel="preload" href="/static/styles/fonts/simple-line-icons.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/static/styles/fonts/simple-line-icons.css"></noscript>