  {% load static %}
  <label for="{{field.name}}" class="control-label">
    {% if field.errors %}<font class="inventory-form-error">!</font>&nbsp;&nbsp;
    {% elif field.css_classes == 'required' %}
      <font class="inventory-form-required">*</font>{% endif %} 
    {% if field.errors %}<font class="inventory-form-error">{% endif %}
    {{ field.label }}
    {% if field.errors %}</font>{% endif %} 
    {% if field.help_text %}
      <span class="dropt" title="Help">
      <img src= "{% static "img/question.png" %}" alt="?"/>
        <span style="width:200px;float:right;text-align:left;">
          {{ field.help_text }}
        </span></span>
    {% endif %}
  </label>