{% load menu_tags %}

{% for child in children %}
    <li class="nav-item {% if child.children and dropdown %}dropdown icon-dropdown{% endif %}{% if child.selected or child.ancestor %} active{% endif %}">
        <a id="gbe_header_menu" class="gbe-header-item nav-link px-4 px-xl-3 pt-3 py-xl-3{% if child.children and dropdown %} dropdown-toggle{% endif %}"
 {% if child.children and dropdown %}data-toggle="dropdown" href="#" {% else %}
href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"{% endif %}>
            {{ child.get_menu_title }}
        </a>
        {% if child.children and dropdown %}
            <ul class="dropdown-menu gbe-dropdown-menu" aria-labelledby="dropdown-{{ child.get_menu_title|slugify }}">
                {% show_menu from_level to_level extra_inactive extra_active "dropdown.tmpl" "" "" child %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
