{% load thumbnail %}
<!-- People Modal Start -->
              <div class="modal" id="Modal{{item.pk}}" role="dialog">
              <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content gbe-modal-content">
                <div class="modal-header gbe-modal-header">
                    <h4 class="gbe-title">{{item.name}}{{item.b_title}}</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <div class="row">
                  {% if item.img %}
		                <div class="col-lg-4 col-6 order-2">
                         <a href="{{item.img.url}}">
			   {% if scale %}
		             <img src="{% thumbnail item.img 250x250%}" alt="Photo" >
			   {% else %}
		             <img src="{% thumbnail item.img 250x250 crop upscale subject_location=item.img.subject_location %}" alt="Photo" >
			   {% endif %}
		         </a>
                    </div>
                    <div class="col-lg-7 col-6 order-1">
                  {% else %}
                      <div class="col-12">
		              {%endif%}
                      {{item.bio | safe}}{{item.description | safe}}
                  {% include "social_media.tmpl" %}
                  {% if item.website %}
 		      <br><br>
		      <b><a href="{{item.website}}" class="btn gbe-btn-secondary btn-sm"><i class="icon-link"></i>&nbsp;&nbsp; Website</a></b>{% endif %}
                      </div>
                  </div>
                </div>
        <div class="modal-footer gbe-modal-header">
          <button type="button" class="btn gbe-btn-light" data-dismiss="modal">Close</button>
        </div>
              </div></div></div>
<!-- People Modal End -->
