   {% load static %}
   {% if not hide_list_details %}
   <br><br>
   In lists of choices:
   <ul>
    <li><i>Italic choices</i> - were not selected</li>
    <li><b>Bold choices</b> - have been selected</li>
   </ul>
  {% endif %}
  <div class="container">
      {% for info in readonlyform %}
      	 {% if info.form_title %}
  <div class="row">
    <div class="col-12">
   	    <span class="readonlyform gbe-subtitle">{{info.form_title}}</span>
	  </div></div>
      	 {% elif info.prefix %}
        <tr>
  <div class="row">
    <div class="col-12">
 	    <h3 class="gbe-subtitle readonlyform">{{info.prefix}}</h3>
    </div></div>
	{% endif %}
        {% for field in info.visible_fields %}
  <div class="row">
    <div class="col-md-4 readonlyform form_label">
    {{ field.label_tag }}
    {% if field.help_text %}
     <span class="dropt" title="Help">
       <img src= "{% static "img/question.png" %}" alt="?"/>
       <span style="width:200px;float:right;text-align:left;">
         {{ field.help_text }}
       </span>
     </span>
    {% endif %}
    </div>
    <div class="col-md-8 readonlyform form_field">
          {% if field.value %}
            {% if field.field.widget.input_type == "url" %}
              <a href="{{field.value}}">Go to {{ field.label }}</a>
            {% elif field.field.widget.input_type == "file" %}
	      {% if field.name == 'upload_img'%}
	       <a href="{{field.value.url}}">Go to {{ field.label }}</a>
	      {% else %}
                <a href="{{MEDIA_URL}}{{field.value}}">Go to {{ field.label }}</a>
	      {% endif %}
            {% elif field.field.choices %}
              <ul>
                {% for choice_id, choice_label in field.field.choices %}
                  {% if choice_id and choice_id in field.value %}
                    {% if choice_id != 'SH1' or "u'SH1'" in field.value %}
                      <li>{{ choice_label }}</li>
                    {%endif%}
                  {% elif choice_id and choice_id == field.value %}
                    </ul>{{ choice_label }}<ul>
                  {% elif choice_id >= 0 and choice_id <= 100 %}
                    {% for idagain in choice_id|make_list %}
                      {% if idagain and idagain in field.value %}
                        <li>{{ choice_label }}</li>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </ul>
            {% else %}
              {{ field.value }}
            {% endif %}
          {% else %}
               <ul class="long_choice">
              {% for choice_id, choice_label in field.field.choices %}	
                    <li><i>{{ choice_label }}</i></li>
	      {% endfor %}
               </ul>
          {% endif %} 
         </div>
        </div>
        {% endfor %}
     {% endfor %}
    </div>
    
    