{% for link in item.links.all %}
<b><a href="{{link.get_url}}" class="gbe-link">{{ link.get_icon | safe}}&nbsp;&nbsp; {{link.social_network}}{% if link.get_display_text %} - {{link.get_display_text}}{% endif %}</a></b><br>
{% endfor %}