    <div class="subway_container">
        <ul class="progressbar items_4">
            <li class="progressbar_completed">Create Account</li>
            <li class="progressbar_completed">Create Bio</li>
            <li class="progressbar_active">Apply</li>
            <li class="progressbar_upcoming">Payment</li>
        </ul>
    </div>
<br>