  <div class="dedicated-sched"><br>
    Buy any of these tickets to get into this great event!<br>
    <ul class="ticket_list">
    {% for ticket in tickets %}
      <li class="ticket_list_item">
        {{ ticket.title }} - 
        <a href="http://www.brownpapertickets.com/event/ID-{{ user_id }}/{{ ticket.bpt_event_id }}/" target="_blank" class="gbe-link">
            Buy it now!</a>
      </li>{% endfor %}
    </ul></div>
