tinymce.init({
  selector: 'textarea#admin-tiny-mce',
  plugins: 'print preview paste importcss searchreplace autolink directionality code visualblocks visualchars fullscreen link codesample table charmap hr nonbreaking anchor toc insertdatetime advlist lists wordcount textpattern noneditable help charmap quickbars emoticons',
  menubar: 'edit view insert format tools table help',
  toolbar: 'undo redo | bold italic underline strikethrough | fontselect fontsizeselect formatselect | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | backcolor removeformat | charmap emoticons | fullscreen code | insertfile link anchor | ltr rtl',
  toolbar_sticky: true,
  content_css: [
    '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
    '//www.tiny.cloud/css/codepen.min.css'
  ],
  link_list: [
    { title: 'GBE Main', value: 'http://burlesque-expo.com' },
    { title: 'GBE Account Home', value: 'http://burlesque-expo.com/gbe' }
  ],
  importcss_append: true,
  height: 400,
  template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
  template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
  branding: false,
  quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quicktable',
  quickbars_insert_toolbar: 'quicktable quicklink',
  noneditable_noneditable_class: "mceNonEditable",
  toolbar_drawer: 'sliding',
  contextmenu: "link table",
 });
