{% extends "base.html" %}
{% load static cms_tags %}
{% block head %}
  {% include "gray_grids_css.tmpl" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/static/styles/gray_grids_css/main.css">
<link rel="stylesheet" href="/static/styles/fonts/simple-line-icons.css">
{% endblock head %}

{% block title %}
  Great Burlesque Exposition
{% endblock %}

{% block content %}

    <!-- Pricing Table Section Start -->
    <section id="pricing" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="gbe-title">
                Ticket Purchase Options for {{ site_name }}</h2>
            <p>{{ introduction|safe }}</p>
          </div>
        </div>
{% for item in events %}
    {% ifchanged item.conference %}
        {% if not forloop.first %}</div>{% endif %}
        <div class="row">
          <div class="col-md-12">
            <h2 class="gbe-subtitle">
                {{ item.conference }}</h2>
          </div>
        </div>
        <div class="row">
    {% endifchanged %}
    {% if item.visible %}
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table">
              {% if request.user.is_superuser %}<div class="edit-icon">
                <a href="/admin/ticketing/ticketingevents/{{item.pk}}" target="_blank">
                    <i class="icon-pencil"></i>
                </a></div>{% endif %}
              <div class="table-icon">
                <i class="{{ item.display_icon }}"></i>
              </div>
              <h3>{{ item.title }}</h3>
              <ul class="plan-info">
                {% for detail in item.eventdetail_set.all %}
                <li><i class="icon-star"></i> {{ detail.detail }}</li>
                {% endfor %}
              </ul>
              <div class="button-area">
                <a href="{{ item.link }}" target="_blank" class="btn gbe-btn-common">
                    ${{ item.min_price|floatformat:2 }}
                {% if item.min_price < item.max_price%}
                - ${{ item.max_price|floatformat:2 }}{% endif %}</a>
              </div>
            </div>
          </div>
        {% if forloop.last %}</div>{% endif %}
    {% endif %}
{% endfor %}

      </div>
    </section>
    <!-- Pricing Table Section End -->


{% endblock %}
