{% if user.profile %}{% if can_edit %}
<a href="{% url 'gbe:admin_profile' user.profile.resourceitem_id %}?next={{ request.get_full_path }}">
{% endif %}{{ user.profile.display_name }}
{% if can_edit %}</a>{% endif %}{% else %}
{{ purchaser.last_name }}, {{ purchaser.first_name }} <br>({{ purchaser.matched_to_user }}){% endif %}