{% extends "base.html" %}
{% load static cms_tags %}
{% block head %}
  {% include "gray_grids_css.tmpl" %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
{% endblock head %}

{% block title %}
  Great Burlesque Exposition
{% endblock %}

{% block content %}

    <!-- Pricing Table Section Start -->
    <section id="pricing" class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 class="gbe-title">
                Ticket Purchase Options for {{ site_name }}</h2>
            <p>Welcome!
            <br>
            Thanks for your interest in the Great Burlesque Expo.
            Below are the ticket options available for purchase.
            There are many ways you can be a part of the convention, so
            please read the descriptions carefully.</p>
          </div>
        </div>
{% for item in events %}
    {% ifchanged item.conference %}
        {% if not forloop.first %}</div>{% endif %}
        <div class="row">
          <div class="col-md-12">
            <h2 class="gbe-subtitle">
                {{ item.conference }}</h2>
          </div>
        </div>
        <div class="row">
    {% endifchanged %}
    {% if item.visible %}
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="pricing-table">
              {% if request.user.is_superuser %}<div class="edit-icon">
                <a href="/admin/ticketing/ticketingevents/{{item.pk}}" target="_blank">
                    <i class="icon-pencil"></i>
                </a></div>{% endif %}
              <div class="table-icon">
                <i class="{{ item.display_icon }}"></i>
              </div>
              <h3>{{ item.title }}</h3>
              <ul class="plan-info">
                {% for detail in item.eventdetail_set.all %}
                <li><i class="icon-star"></i> {{ detail.detail }}</li>
                {% endfor %}
              </ul>
              <div class="button-area">
                <a href="https://www.eventbrite.com/e/{{ item.event_id }}" target="_blank" class="btn gbe-btn-common">
                    ${{ item.min_price|floatformat:2 }}
                {% if item.min_price < item.max_price%}
                - ${{ item.max_price|floatformat:2 }}{% endif %}</a>
              </div>
            </div>
          </div>
        {% if forloop.last %}</div>{% endif %}
    {% endif %}
{% endfor %}

      </div>
    </section>
    <!-- Pricing Table Section End -->


{% endblock %}
