{% extends "base.tmpl" %}
{% load staticfiles %}
{% block title %}
  Great Burlesque Exposition 
{% endblock %}
{% block content %}
<h2 class="subtitle">Edit Ticket Items</h2>
<p class="font_large">Click on a type of ticket to edit or delete it, or click
the button below to add.</p>
<p class="hint">
Note:  The Show to Public flag below indicates of the ticket item is displayed
to end users.  By default it is "false".</p>
<p class="hint">
<span class="visible">Items that look like this</span> are currently visible under lists for
tickets on the site.</p><br>
<p class="font_large">To add a new ticket item,
<a href={% url 'ticketing:ticket_item_edit' %}> click here</a>.
</p>

<div class="conf_list">
   {% include "conference_list.tmpl" %}
</div>

<table class="ticketing">
  <tr class="header ticketing">
    <th class="ticketing">Event</th>
    <th class="ticketing">Purpose</th>
    <th class="ticketing">Events</th>
    <th class="ticketing">Reg Info</th>
  </tr>
{% for event in events %}
  <tr class="dark_row ticketing"><td class="ticketing" colspan=4>
  {{ event.title }}
  </td></tr>
  <tr class="dark_row ticketing">
    <td class="ticketing"><a href="{% url 'ticketing:bptevent_edit' event.id %}">{{event}}</a></td>
    <td class="ticketing">{% if event.primary %}Primary, {%endif%}
    {% if event.act_submission_event %}Act Fee, {%endif%}
    {% if event.vendor_submission_event %}Vendor Fee, {%endif%}
    </td>
    <td class="ticketing">
      {% if event.include_conference %}Includes Conference,{% endif %}
      {% if event.include_most %}All Except Master Class,{% endif %}
    </td>
    <td class="ticketing">{% if event.badgeable %}Badges Given{%endif%}
    {% if event.badgeable and event.ticket_style %}<br>{% endif %}
    {% if event.ticket_style %}Ticket Notes: {{event.ticket_style}}{% endif %}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=3>
<table>
{% for item in event.ticketitems.all %}
<tr {% if item.active %}class="visible"{% endif %}>    
  <td class="ticket_item">
  <a href="{% url 'ticketing:ticket_item_edit' item.id %}">{{item.ticket_id}}</a>
  </td>
  <td class="ticket_item">{{ item.title | safe }}</td>
  <td class="ticket_item">{% if item.active %}Visible{% else %}Hidden{% endif %}</td>
  <td class="ticket_item">${{ item.cost }}</td>
  <td class="ticket_item">{{ item.modified_by }}</td>
  <td class="ticket_item">{{ item.datestamp }}</td>
<tr>   
{% endfor %}  
</table>
    </td>
  </tr>
{% endfor %}   
</table>

<br>

<form method="POST" action={% url 'ticketing:ticket_items' %} enctype="multipart/form-data">
{% csrf_token %}
    <input type="hidden" name="Import" value="1">
    <input type="submit" value="Synchronize with Brown Paper Tickets"> 
</form>

{% endblock %}
