{% extends "base.tmpl" %}
{% load staticfiles %}
{% block title %}
  Edit Ticket Item
{% endblock %}
{% block content %}

<h2 class="subtitle">{{title}}</h2>
<p>{{intro}}</p>
<br>
{% if is_ticket %}
Notes:  Ticket Item Id must be unique.  Changing it will create a new Ticket Item.
<br><br>
{% endif %}
{% if error %}
<font color=red>
<br>
<br>
{{error}}
<br>
<br>
</font>
{% endif %}

<form action="" method="post">
{% include "form_table_wrapper.tmpl" %}
<br>
<input type="submit" value="Save Ticket Item">
{% if can_delete %}
<input type="submit" value="Delete Ticket Item" name="delete_item">
{% endif %}
</form>

{% endblock %}



