{% for event in events %}
<div class="row"><div class="col-xs-8 col-sm-9 col-md-10">
<h3>{{event.title}} - ({{event}})</h3>
</div><div class="col-xs-4 col-sm-3 col-md-2 text-right">
<div class="btn-group" role="group" aria-label="...">
  <a href="{% url 'ticketing:ticket_item_edit' %}?bpt_event_id={{event.bpt_event_id}}" data-toggle="tooltip" title="Add Tickets" class="btn btn-default btn-sm" id="action-button">
    <i class="fa fa-plus text-muted" aria-hidden="true"></i><i class="fa fa-ticket text-muted" aria-hidden="true"></i></a>
  <a href="{% url 'ticketing:bptevent_edit' event.id %}" data-toggle="tooltip" title="Edit" class="btn btn-default btn-sm" id="action-button">
    <i class="fa fa-pencil text-muted" aria-hidden="true"></i></a>
  <a href="{% url 'ticketing:bptevent_edit' event.id %}?delete_item=True" data-toggle="tooltip" title="Delete" class="btn btn-default btn-sm" id="action-button">
    <i class="fa fa-trash-o text-muted" aria-hidden="true"></i></a></div>
</div></div>
<div class="row">
{% if event.linked_events.count > 0 %}
  <div class="col-6">
    <b>Linked Events for this Ticket Type:</b><ul>
    {% for cal_event in event.linked_events.all %}
    <li><a href="{% url 'scheduling:detail_view' cal_event.eventitem_id  %}">{{ cal_event }}</a></li>
    {% endfor %}
  </ul></div>{% endif %}
<div class="col-6">
<ul>
{% if event.include_conference %}<li>Includes all Conference Classes</li>{% endif %}
{% if event.include_most %}<li>Includes all events except Master Classes</li>{% endif %}
{% if event.badgeable %}<li>Badges are given by reg desk</li>{%endif%}
{% if event.ticket_style %}<li>Ticket Notes: {{event.ticket_style}}</li>{% endif %}
</ul></div>
</div>

<table>
  <tr class="header ticketing">
    <th class="ticketing">Ticket Item ID</th>
    <th class="ticketing">Title</th>
    <th class="ticketing">Visibility to Users</th>
    <th class="ticketing">Payment Format</th>
    <th class="ticketing">Cost</th>
    <th class="ticketing">Source of Input</th>
    <th class="ticketing">Last Modified Date</th>
    <th class="ticketing" id="ticket_action">Action</th>
  </tr>
{% for item in event.ticketitems.all %}
<tr class="{% if item.active %}visible {% endif %} ticketing">    
  <td class="ticket_item">{{item.ticket_id}}</td>
  <td class="ticket_item">{{ item.title | safe }}</td>
  <td class="ticket_item">{% if item.start_time and item.end_time %}
    Valid: <br>{{ item.start_time | date:'m/d/Y' }} - <br>
    {{ item.end_time | date:'m/d/Y'}}
  {% elif item.start_time %}Valid After: <br>{{ item.start_time | date:'m/d/Y'}}
  {% elif item.end_time %}Valid Before: <br>{{ item.end_time | date:'m/d/Y'}}
  {% elif item.has_coupon %}Requires Coupon
  {% elif item.live %}Visible{% else %}Hidden
  {% endif %}</td>
  <td class="ticket_item">{% if item.is_minimum %}Minimum Donation
    {% elif item.add_on %}Optional Add-On{% else %}Regular Fee{% endif %}</td>
  <td class="ticket_item">${{ item.cost }}</td>
  <td class="ticket_item">{{ item.modified_by }}</td>
  <td class="ticket_item">{{ item.datestamp }}</td>
  <td class="ticket_item" id="ticket_action">
    <div class="btn-group" role="group" aria-label="...">
      <a href="{% url 'ticketing:ticket_item_edit' item.id %}" data-toggle="tooltip" title="Edit" class="btn btn-default btn-sm" id="action-button">
        <i class="fa fa-pencil text-muted" aria-hidden="true" id="ticket_button"></i></a>
      <a href="{% url 'ticketing:ticket_item_edit' item.id %}?delete_item=True" data-toggle="tooltip" title="Delete" class="btn btn-default btn-sm" id="action-button">
        <i class="fa fa-trash-o text-muted" aria-hidden="true" id="ticket_button"></i></a></div></td>
</tr>   
{% endfor %}  
</table>
{% endfor %}   
