{% extends "base.tmpl" %}
{% load staticfiles %}
{% block title %}
  Great Burlesque Exposition 
{% endblock %}
{% block content %}

<h2 class="subtitle">Edit Ticketing</h2>
<br><br>
Notes:  Ticket Item Id must be unique.  Editing it will create a new Ticket Item.

{% if error %}
<font color=red>
<br>
<br>
{{error}}
<br>
<br>
</font>
{% endif %}

<form action="" method="post">
{% include "form_table_wrapper.tmpl" %}
<br>
<input type="submit" value="Save Ticket Item">
{% if can_delete %}
<input type="submit" value="Delete Ticket Item" name="delete_item">
{% endif %}
</form>

{% endblock %}



