{% extends "base.html" %}
{% load static %}
{% block title %}
  Edit Ticket Item
{% endblock %}
{% block head %}

    {# Include Bootstrap 4 and jQuery #}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<!-- Form media -->
  {{forms.0.media}}
<!-- end form media -->
{% endblock %}
{% block content %}

<h2 class="gbe-title">{{title}}</h2>
<p>{{intro}}</p>
<br>
{% if is_ticket %}
Note:  Ticket Item Id must be unique.  Changing it will create a new Ticket Item.
<br><br>
{% endif %}
<form action="" method="post">
{% include "form_table_wrapper.tmpl" %}
<br>

<div class="col-12 text-right">
{% if can_delete %}
<input type="submit" value="Delete" name="delete_item" class="btn gbe-btn-secondary">
{% endif %}<a href="{{cancel_url}}"><input type="button" name="cancel" value="Cancel" class="btn gbe-btn-light"></a>
<input type="submit" value="{{button_text}}" name="submit_done" class="btn gbe-btn-primary">
<input type="submit" value="{{another_button_text}} >" name="submit_another" class="btn gbe-btn-primary">
</div>
</form>

{% endblock %}



