{% load static sekizai_tags %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
  <h3 class="gbe-subtitle">Check Ticket to Event Assignments - {{conference.conference_slug}}</h3>
<br>  <p>{{ check_intro }}</p>
  <table id="ticket_check">
    <thead>
      <tr class="gbe-table-header">
        <th>&nbsp;</th>
      {% for ticketing_event in events %}
        <th><div><span>
        <a href="{% url 'ticketing:bptevent_edit' ticketing_event.id %}" class="gbe-table-link">{{ ticketing_event.title }}</a>
        </span></div></th>
      {% endfor %}
      {% for ticket_type in ticket_types %}
        <th><div><span>
        <a href="{% url 'ticketing:ticket_type_update' ticket_type.id %}" class="gbe-table-link">{{ ticket_type.title }}</a>
        </span></div></th>
      {% endfor %}
      {% for package in packages %}
        <th><div><span>
        <a href="{% url 'ticketing:ticket_package_update' package.id %}" class="gbe-table-link">{{ package.title }}</a>
        </span></div></th>
      {% endfor %}
      </tr>
    </thead>
    <tfoot>
      <tr class="gbe-table-header">
        <th>&nbsp;</th>
      {% for ticketing_event in events %}
        <th><div><span>
        <a href="{% url 'ticketing:bptevent_edit' ticketing_event.id %}" class="gbe-table-link">{{ ticketing_event.title }}</a>
        </span></div></th>
      {% endfor %}
      {% for ticket_type in ticket_types %}
        <th><div><span>
        <a href="{% url 'ticketing:ticket_type_update' ticket_type.id %}" class="gbe-table-link">{{ ticket_type.title }}</a>
        </span></div></th>
      {% endfor %}
      {% for package in packages %}
        <th><div><span>
        <a href="{% url 'ticketing:ticket_package_update' package.id %}" class="gbe-table-link">{{ package.title }}</a>
        </span></div></th>
      {% endfor %}
      </tr>
    </tfoot>
    <tbody>
    {% for gbe_event in gbe_events %}
      <tr class="gbe-table-row">
        <td><a href="{% url 'scheduling:detail_view' gbe_event.pk  %}" class="gbe-table-link">{{gbe_event.title}}</a></td>
      {% for ticketing_event in events %}
        <td class="text-center">
          {% if gbe_event in ticketing_event.linked_events.all %}
          <a href="{% url 'ticketing:set_ticket_to_event' ticketing_event.pk 'TicketingEvents' 'off' gbe_event.pk %}" data-toggle="tooltip" title="Remove Event from Ticket">
            <i class="fas fa-check gbe-text-success active-check"></i></a>
          {% elif ticketing_event.include_most and gbe_event.event_style != "Master Class" %}<i class="fas fa-check" data-toggle="tooltip" title="To change, edit ticket and remove 'Includes Most'"></i>
          {% else %}<a href="{% url 'ticketing:set_ticket_to_event' ticketing_event.pk 'TicketingEvents' 'on' gbe_event.pk %}?next={{ request.get_full_path }}" data-toggle="tooltip" title="Add Event to Ticket"><i class="fas fa-plus link-events-plus"></i></a>{% endif %}
        </td>
      {% endfor %}
      {% for ticketing_event in ticket_types %}
        <td class="text-center">
          {% if gbe_event in ticketing_event.linked_events.all %}
          <a href="{% url 'ticketing:set_ticket_to_event' ticketing_event.pk 'TicketType' 'off' gbe_event.pk %}" data-toggle="tooltip" title="Remove Event from Ticket">
            <i class="fas fa-check gbe-text-success active-check"></i></a>
          {% elif ticketing_event.include_most and gbe_event.event_style != "Master Class" %}<i class="fas fa-check" data-toggle="tooltip" title="To change, edit ticket and remove 'Includes Most'"></i>
          {% else %}<a href="{% url 'ticketing:set_ticket_to_event' ticketing_event.pk 'TicketType' 'on' gbe_event.pk %}?next={{ request.get_full_path }}" data-toggle="tooltip" title="Add Event to Ticket"><i class="fas fa-plus link-events-plus"></i></a>{% endif %}
        </td>
      {% endfor %}
      {% for package in packages %}
        <td class="text-center">
          {% if gbe_event in package.linked_events %}
            <i class="fas fa-check" data-toggle="tooltip" title="To change, go to Humanitix and remove any ticket type linked to this event"></i>
          {% elif package.whole_shebang and gbe_event.event_style != "Master Class" %}<i class="fas fa-check" data-toggle="tooltip" title="To change, edit package and remove 'Whole Shebang'"></i>
          {% else %}<i class="fas fa-plus link-events-plus" title="To change, edit package select Whole Shebang or select a ticket type that links to this event"></i>{% endif %}
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
      <tr class="gbe-table-row">
        <td><i>All Conference Classes</i></td>
        {% for ticketing_event in events %}
        <td class="text-center">
          {% if ticketing_event.include_conference or ticketing_event.include_most %}<i class="fas fa-check" data-toggle="tooltip" title="To change, edit ticket and remove 'Includes Most' or 'Includes Conference'"></i>{% else %}&nbsp;{% endif %}
        </td>
        {% endfor %}
        {% for ticketing_event in ticket_types %}
        <td class="text-center">&nbsp;</td>
        {% endfor %}
        {% for ticketing_event in packages %}
        <td class="text-center">
          {% if ticketing_event.conference_only_pass or ticketing_event.whole_shebang %}<i class="fas fa-check" data-toggle="tooltip" title="To change, edit package and remove 'Whole Shebang' or 'Conference Only Pass'"></i>{% else %}&nbsp;{% endif %}
        </td>
        {% endfor %}
    </tr>
    </tbody>
  </table>
{% addtoblock "js" %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script>
  $(document).ready(function() {
    var table = $('#ticket_check').DataTable({
        "paging": false});

    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
    } );
} );
  </script>
  <script> $(".active-check").hover(function () {
        $(this).addClass('fa-times');
        $(this).addClass('gbe-text-danger');
        $(this).removeClass('fa-check');
        $(this).removeClass('gbe-text-success');
    }, function () {
        $(this).removeClass('fa-times');
        $(this).removeClass('gbe-text-danger');
        $(this).addClass('fa-check');
        $(this).addClass('gbe-text-success');
    });
  </script>
{% endaddtoblock %}
{% endblock %}


