{% load static sekizai_tags %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">
{% endblock %}

{% block content %}
  <h3 class="gbe-subtitle">Check Ticket to Event Assignments - {{conference.conference_slug}}</h3>
<br>  <p>{{ check_intro }}</p>
  <table id="ticket_check" class="order-column" cellspacing="0" width="100%">
    <thead>
      <tr class="gbe-table-header">
        <th>&nbsp;</th>
      {% for bpt_event in events %}
        <th><div><span>
        <a href="{% url 'ticketing:ticket_item_edit' bpt_event.id %}" class="gbe-table-link">{{ bpt_event.title }}</a>
        </span></div></th>
      {% endfor %}
      </tr>
    </thead>
    <tfoot>
      <tr class="gbe-table-header">
        <th>&nbsp;</th>
      {% for bpt_event in events %}
        <th><div><span>
        <a href="{% url 'ticketing:ticket_item_edit' bpt_event.id %}" class="gbe-table-link">{{ bpt_event.title }}</a>
        </span></div></th>
      {% endfor %}
      </tr>
    </tfoot>
    <tbody>
    {% for gbe_event in gbe_events %}
      <tr class="gbe-table-row">
        <td><a href="{% url 'scheduling:detail_view' gbe_event.eventitem_id  %}" class="gbe-table-link">{{gbe_event.e_title}}</a></td>
      {% for bpt_event in events %}
        <td class="text-center">
          {% if gbe_event in bpt_event.linked_events.all %}
          <a href="{% url 'ticketing:set_ticket_to_event' bpt_event.bpt_event_id 'off' gbe_event.eventitem_id %}" data-toggle="tooltip" title="Remove Event from Ticket">
            <i class="fas fa-check gbe-text-success active-check"></i></a>
          {% elif bpt_event.include_most and gbe_event.type != "Master Class" %}<i class="fas fa-check" data-toggle="tooltip" title="To change, edit ticket and remove 'Includes Most'"></i>
          {% else %}<a href="{% url 'ticketing:set_ticket_to_event' bpt_event.bpt_event_id 'on' gbe_event.eventitem_id %}?next={{ request.get_full_path }}" data-toggle="tooltip" title="Add Event to Ticket"><i class="fas fa-plus link-events-plus"></i></a>{% endif %}
        </td>
      {% endfor %}
      </tr>
    {% endfor %}
      <tr class="gbe-table-row">
        <td><i>All Conference Classes</i></td>
        {% for bpt_event in events %}
        <td class="text-center">
          {% if bpt_event.include_conference or bpt_event.include_most %}<i class="fas fa-check" data-toggle="tooltip" title="To change, edit ticket and remove 'Includes Most' or 'Includes Conference'"></i>{% else %}&nbsp;{% endif %}
        </td>
      {% endfor %}
    </tr>
    </tbody>
  </table>
{% addtoblock "js" %}
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script>
  $(document).ready(function() {
    var table = $('#ticket_check').DataTable({
        "paging": false,
        "columnDefs": [{"targets": [ 2 ], "visible": false },]});

    $('a.toggle-vis').on( 'click', function (e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
    } );
} );
  </script>
  <script> $(".active-check").hover(function () {
        $(this).addClass('fa-times');
        $(this).addClass('gbe-text-danger');
        $(this).removeClass('fa-check');
        $(this).removeClass('gbe-text-success');
    }, function () {
        $(this).removeClass('fa-times');
        $(this).removeClass('gbe-text-danger');
        $(this).addClass('fa-check');
        $(this).addClass('gbe-text-success');
    });
  </script>
{% endaddtoblock %}
{% endblock %}


