{% extends "base.tmpl" %}
{% load staticfiles sekizai_tags %}
{% block title %}
  Great Burlesque Exposition 
{% endblock %}
{% block content %}
<div class="container review">
 <ul class="nav nav-tabs" id="inner">
 {% for slug in conference_slugs %}
  <li role="presentation" {% if conf_slug == slug %}class="active"{% endif %}><a href="?conference={{slug}}" class="gbe-tab" >{{slug}}</a></li>
 {% endfor %}
 </ul>
 <div class="scheduling-area">
<h2 class="subtitle">Edit Ticket Items</h2>
<p class="font_large">Click on a type of ticket to edit or delete it, or click
the button below to add.</p>
<p class="hint">
Note:  The Show to Public flag below indicates of the ticket item is displayed
to end users.  By default it is "false".</p>
<p class="hint">
<span class="visible">Items that look like this</span> are currently visible under lists for
tickets on the site.</p><br>
<p class="font_large">To add a new ticket item,
<a href={% url 'ticketing:ticket_item_edit' %}> click here</a>.
</p>

<div class="conf_list">
   {% include "conference_list.tmpl" %}
</div>

<div id="accordion" class="gbe_accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
Act Fees
          <span class="fa-stack fa-sm">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-plus fa-stack-1x text-muted"></i>
          </span>
        </button>
      </h2>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
Act Stuff
     </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Vendor Fees
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-plus fa-stack-1x text-muted"></i>
          </span>
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
Vendor Stuff
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h2 class="mb-0">
        <button class="d-flex align-items-center justify-content-between btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Tickets
          <span class="fa-stack fa-2x">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-plus fa-stack-1x text-muted"></i>
          </span>
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
<table class="ticketing">
  <tr class="header ticketing">
    <th class="ticketing">Event</th>
    <th class="ticketing">Purpose</th>
    <th class="ticketing">Events</th>
    <th class="ticketing">Reg Info</th>
  </tr>
{% for event in events %}
  <tr class="dark_row ticketing"><td class="ticketing" colspan=4>
  {{ event.title }}
  </td></tr>
  <tr class="dark_row ticketing">
    <td class="ticketing"><a href="{% url 'ticketing:bptevent_edit' event.id %}">{{event}}</a></td>
    <td class="ticketing">{% if event.primary %}Primary, {%endif%}
    {% if event.act_submission_event %}Act Fee, {%endif%}
    {% if event.vendor_submission_event %}Vendor Fee, {%endif%}
    </td>
    <td class="ticketing">
      {% if event.include_conference %}Includes Conference,{% endif %}
      {% if event.include_most %}All Except Master Class,{% endif %}
    </td>
    <td class="ticketing">{% if event.badgeable %}Badges Given{%endif%}
    {% if event.badgeable and event.ticket_style %}<br>{% endif %}
    {% if event.ticket_style %}Ticket Notes: {{event.ticket_style}}{% endif %}</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td colspan=3>
<table>
{% for item in event.ticketitems.all %}
<tr {% if item.active %}class="visible"{% endif %}>    
  <td class="ticket_item">
  <a href="{% url 'ticketing:ticket_item_edit' item.id %}">{{item.ticket_id}}</a>
  </td>
  <td class="ticket_item">{{ item.title | safe }}</td>
  <td class="ticket_item">{% if item.active %}Visible{% else %}Hidden{% endif %}</td>
  <td class="ticket_item">${{ item.cost }}</td>
  <td class="ticket_item">{{ item.modified_by }}</td>
  <td class="ticket_item">{{ item.datestamp }}</td>
</tr>   
{% endfor %}  
</table>
    </td>
  </tr>
{% endfor %}   
</table>
</div></div></div>
</div>



<br>

<form method="POST" action={% url 'ticketing:ticket_items' %} enctype="multipart/form-data">
{% csrf_token %}
    <input type="hidden" name="Import" value="1">
    <input type="submit" value="Synchronize with Brown Paper Tickets"> 
</form>
</div></div>
{% addtoblock "js" %}
<script>
$("#accordion").on("hide.bs.collapse show.bs.collapse", e => {
  $(e.target)
    .prev()
    .find("i:last-child")
    .toggleClass("fa-minus fa-plus");
});
</script>
{% endaddtoblock %}
{% endblock %}

