{% extends "base.tmpl" %}
{% load staticfiles %}
{% block title %}
  Edit Ticket Item
{% endblock %}
{% block content %}

<h2 class="subtitle">{{title}}</h2>
<p>{{intro}}</p>
<br>
{% if is_ticket %}
Note:  Ticket Item Id must be unique.  Changing it will create a new Ticket Item.
<br><br>
{% endif %}
<form action="" method="post">
{% include "form_table_wrapper.tmpl" %}
<br>
{% if can_delete %}
<input type="submit" value="Delete" name="delete_item" class="btn btn-secondary">
{% endif %}
<div class="float-right">
<a href="{{cancel_url}}"><input type="button" name="cancel" value="Cancel" class="btn btn-secondary"></a>
<input type="submit" value="{{button_text}}" name="submit_done" class="btn btn-primary">
<input type="submit" value="{{another_button_text}} >" name="submit_another" class="btn btn-primary">
</div>
</form>

{% endblock %}



