{% for transaction in transactions %}
<tr id="clear-row" class="gbe-table-row{% if transaction.status == "canceled" %} gbe-table-danger{% endif %}">
<td>{% include "email_crop.tmpl" with email=purchaser.email %}</td>
<td>{{transaction.status}}</td>
<td>{{ transaction.ticket_item.ticket_id }}
<td>{{ transaction.ticket_item.ticketing_event.title }} - {{ transaction.ticket_item.title }}{% if transaction.ticket_item.ticketing_event.vendor_submission_event %} - Vendor{% elif transaction.ticket_item.ticketing_event.act_submission_event %} - Act{% endif %}</td><td>{{ transaction.import_date|date:"M j, Y, g:i A" }}</td></tr>{%endfor %}
