Dear {{ name }},

This is a reminder to please fill out your act tech details for your act {{act.b_title}}.  Signing up for a rehearsal slot, uploading your music, and giving us details about your act help our awesome tech crew make your act the best it can be!  The form is here:

  {{ act_tech_link }}
  
We look forward to seeing you at the Expo!
