Hello Admin!
<br>
An error has occured while performing {{activity}} at {% now DATETIME_FORMAT %} (approximately).
<br>
<br>
The error was: {{error | safe}}
<br>
<br>
{% if target_link %}
The system was performing work on <a href="{{target_link}}">this object</a> 
when the error occurred.<br>
<br>
{% endif %}


- The GBE Web System