{% extends 'base.tmpl' %}

{% block title %}
   {{page_title}}
{% endblock %}
{% block head %}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
    <script>{% include "tiny-mce-admin-settings.tmpl" %}</script>
{% endblock %}
{% block content %}
<h2 class="gbe-title">{{view_title}}</h2>
<h3>Template:  {{ name|title }}</h3>


{% if errors %}{% for error in errors %}
  <p class="gbe-form-error">{{error}}</p>
{% endfor %}{% endif %}
<p>
HTML entered in this form will be transformed into plain text for email
systems which require text-only messages.  Any links will be removed, so be
sure give readers some context for any links.
</p>
{% if description %}
<div class="card round gbe-panel-list mx-2 my-4">
  <div class="card-header gbe-bg-dark">Using this Template</div>
  <div class="card-body">{{ description |linebreaks }}</div>
</div>
{% endif %}
<br>
  <form action="" method="post" enctype="multipart/form-data">

   {% include "form_table_wrapper.tmpl" %}

   {% if nodraft %}
    <input type="submit" class="btn gbe-btn-primary float-right" name="submit" value="{{nodraft}}">
   {% else %}
   <input type="submit" class="btn gbe-btn-secondary float-right" name="draft" value="Save Draft">
   <input type="submit" class="btn gbe-btn-primary float-right" name="submit" value="Submit For Approval">
   {% endif %}
   </form>

{% endblock %}
