      <div class="form-group col-md-2 col-xs-12" style="align-items: left;">
        <label class="form-check-label email-label" id="{{ field.name }}">
          {% if field.errors %}
            <font color="red">!&nbsp;&nbsp;
          {% elif field.css_classes == 'required'%}
            <font color="red">*</font>
          {% endif %}
          {{ field.label }}:&nbsp;&nbsp;</label>
          {% if field.errors %}
            </font>
          {% endif %}
      </div>
      <div class="form-group col-md-9 col-xs-12">
      {% for checkbox in field %}
        <div class="form-check-inline">
        <label class="form-check-label checkbox-label" id="{{ checkbox.id_for_label }}">
          {{ checkbox.tag }}{{ checkbox.choice_label }}
        </label></div>{% endfor %}
        {% if field.errors %}
          {{ field.errors }}
        {% endif %}
      </div>
