      <div class="form-group col-md-2 col-12">
        <label class="form-check-label horizontal-label gbe-draft" id="{{ field.name }}">
          {% if field.errors %}
            <font class="gbe-form-error">!&nbsp;&nbsp;
          {% elif field.css_classes == 'required'%}
            <font class="gbe-form-required">*</font>
          {% endif %}
          {{ field.label }}:&nbsp;&nbsp;
          {% if field.errors %}</font>{% endif %}
        </label>
      </div>
      <div class="form-group col-md-9 col-12">
      {% for checkbox in field %}
        <div class="form-check-inline px-3">
        <label class="form-check-label checkbox-label ml-2" id="{{ checkbox.id_for_label }}">
          {{ checkbox.tag }}{{ checkbox.choice_label }}
        </label></div>{% endfor %}
        {% if field.errors %}
          {{ field.errors }}
        {% endif %}
      </div>
