{% extends 'base.html' %}

{% block head %}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
    <script>{% include "tiny-mce-admin-settings.tmpl" %}</script>
{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<div class="card round gbe-panel-list mx-2 my-4">
  <div class="card-header gbe-bg-dark">
    <div class="row email-select justify-content-end">
        <form class="form-inline" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn gbe-btn-primary" type="submit" name="everyone" value="Everyone">
        <i class="fas fa-envelope"></i>&nbsp;&nbsp;Email Everyone</button>
        </form>
    </div>
  </div>
</div>
{% endif %}
<div class="card round gbe-panel-list mx-2 my-4">
  <div class="card-header gbe-bg-dark">
    <h3 class="card-title">
      {% if everyone %}<a data-toggle="collapse" href="#collapse1"  class="gbe-panel-link">Select Recipients</a>
      {% else %}Select Recipients{% endif %}</h3>
  </div>
  {% if everyone %}<div id="collapse1" class="panel-collapse collapse">{% endif %}
  <div class="card-body">
  <font class="gbe-form-error">
  {% if selection_form.errors %}
    <p class="gbe-form-error"> There is an error on the selection form.</p>
  {% endif %}
  {{ selection_form.non_field_errors }}</font>
  {% block select_recipent_form %}{% endblock %}
  </div>
  {% if everyone %}</div>{% endif %}
</div>
{% if email_form %}
<form action="" method="post" enctype="multipart/form-data"> 
<div class="card round gbe-panel-list mx-2 my-4">
  <div class="card-header gbe-bg-dark">
    <h3 class="card-title">Send Email</h3>
  </div>
  <div class="card-body">
    {% if group_filter_note %}
    {{ group_filter_note | safe }}<br/><br/>{% endif %}
      {% include "form_table_wrapper.tmpl" with forms=recipient_info %}
      {% if everyone %}
        {% csrf_token %}
        <input id="id_everyone" name="everyone" type="hidden" value="Everyone" />
      {% endif %}
      <div class="card round gbe-panel-list mx-2 my-4">
        <div class="card-header gbe-bg-light">
            <h3 class="card-title">
              <a data-toggle="collapse" href="#to_list" class="gbe-panel-link">Recipients ({{email_form.to|length}}{% if excluded_count is not None %}, Excluded:  {{excluded_count}}{% endif %})...</a>
            </h3>
          </div>
          <div id="to_list" class="panel-collapse collapse">
            <div class="card-body">
              {% include "filter_checkbox_horizontal.tmpl" with field=email_form.to %}
            </div>
          </div>
      </div><!-- end panel group -->
     {% if email_form.sender in email_form.visible_fields %}
       {% include "form_field.tmpl" with field=email_form.sender %}
       <!-- end sender -->
     {% else %}
      {{ email_form.sender }}
     {% endif %}
     {% if email_form.sender_name in email_form.visible_fields %}
       {% include "form_field.tmpl" with field=email_form.sender_name %}
       <!-- end sender_name -->
     {% else %}
      {{ email_form.sender_name }}
     {% endif %}
     {% include "form_field.tmpl" with field=email_form.subject %}
     <!-- end subject -->
     {% include "form_field.tmpl" with field=email_form.html_message %}
     <!-- end message -->
      <input type="submit" class="btn gbe-btn-primary float-right" name="send" value="Send">
  </div><!-- end panel body -->
</div><!-- end panel primary -->
</form>
{% endif %}
{% endblock %}
