{% extends 'base.tmpl' %}

{% block head %}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
    <script>{% include "tiny-mce-email-settings.tmpl" %}</script>
{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row email-select justify-content-end">
        <form class="form-inline" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button class="btn btn-lg email-button" type="submit" name="everyone" value="Everyone">
        <i class="fas fa-envelope"></i>&nbsp;&nbsp;Email Everyone</button>
        </form>
    </div>
  </div>
</div>
{% endif %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">
      {% if everyone %}<a data-toggle="collapse" href="#collapse1">Select Recipients</a>
      {% else %}Select Recipients{% endif %}</h3>
  </div>
  {% if everyone %}<div id="collapse1" class="panel-collapse collapse">{% endif %}
  <div class="panel-body">
  <font color="red">
  {% if selection_form.errors %}
    <p style= "color:red"> There is an error on the selection form.</p>
  {% endif %}
  {{ selection_form.non_field_errors }}</font>
  {% block select_recipent_form %}{% endblock %}
  </div>
  {% if everyone %}</div>{% endif %}
</div>
{% if email_form %}
<form action="" method="post" enctype="multipart/form-data"> 

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Send Email</h3>
  </div>
  <div class="panel-body">
    {% if group_filter_note %}
    {{ group_filter_note | safe }}<br/><br/>{% endif %}
      {% include "form_table_wrapper.tmpl" with forms=recipient_info %}
      {% if everyone %}
        <input id="id_everyone" name="everyone" type="hidden" value="Everyone" />
      {% endif %}
      <div class="panel-group">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#to_list">Recipients ({{email_form.to|length}}{% if excluded_count is not None %}, Excluded:  {{excluded_count}}{% endif %})...</a>
            </h4>
          </div>
          <div id="to_list" class="panel-collapse collapse">
            <div class="panel-body">
              {% include "gbe/email/filter_checkbox_horizontal.tmpl" with field=email_form.to %}
            </div>
          </div>
        </div>
      </div><!-- end panel group -->
     {% if email_form.sender in email_form.visible_fields %}
       {% include "form_field.tmpl" with field=email_form.sender %}
       <!-- end sender -->
     {% else %}
      {{ email_form.sender }}
     {% endif %}
     {% include "form_field.tmpl" with field=email_form.subject %}
     <!-- end subject -->
     {% include "form_field.tmpl" with field=email_form.html_message %}
     <!-- end message -->
      <input type="submit" class="email-submit" name="send" value="Send">
  </div><!-- end panel body -->
</div><!-- end panel primary -->
</form>
{% endif %}
{% endblock %}
