  <h3>{{ badge_name }}'s Schedule {% if day %}for {{ day}}{% endif %}</h3>
  <i>Welcome!  Here's a schedule for your participation in the expo!
  Keep in mind that some times (like rehearsals) are generalities and that late
  shifts in class schedules could not be printed.</i><br><br>
  
  {% include 'gbe/email/schedule_table.tmpl' %}
<br>
{% include 'gbe/email/unsub_footer.tmpl' %}
