{% load gbe_tags %}

<p>Hello {{bid_type}} Coordinators and Event Staff,</p>

<p>{{ bidder }} has updated their {{ bid_type }} and triggered at least one schedule
conflict which affects your area or an event you are running.  The conflicts created
were:
</p>

{% list_warnings warnings %}

<p>
These conflicts have been fixed by removing {{ bidder }} from the given events.
Please review these events to see if they remain correctly staffed.
</p>
<p>
The new schedule for {{ bidder }} is:
</p>

{% volunteer_schedule bidder %}

<p>Please plan accordingly and reach out to the {{bid_type}} Coordinator
if necessary to fix any issues.</p>

<p>Thank you for all of your help with The Great Burlesque Exposition!</p>
