{% load gbe_tags %}

Hello {{bid_type}} Coordinators and Event Staff,

{{ bidder }} has updated their {{ bid_type }} and triggered at least one schedule
conflict which affects your area or an event you are running.  The conflicts created
were:

{% list_warnings_plaintext warnings %}

These conflicts have been fixed by removing {{ bidder }} from the given events.
Please review these events to see if they remain correctly staffed.

The new schedule for {{ bidder }} is:

{% volunteer_schedule_plaintext  bidder %}

Please plan accordingly and reach out to the {{bid_type}} Coordinator
if necessary to fix any issues.

Thank you for all of your help with The Great Burlesque Exposition!
