{% extends 'base.tmpl' %}

{% block title %}
  Send Email
{% endblock %}

{% block head %}
  {{ email_form.media }}
{% endblock %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Send Email</h3>
  </div>
  <div class="panel-body">
    <form action="" method="post" enctype="multipart/form-data"> 
      {% include "form_table.tmpl" with form=email_form %}
      <input type="submit" class="email-submit" name="send" value="Send">
    </form>
  </div>
</div>
{% endblock %}
