{% extends 'base.html' %}

{% block title %}
  Send Email
{% endblock %}

{% block head %}
    <script type="text/javascript" src="/static/tinymce/tinymce.min.js"></script>
    <script>{% include "tiny-mce-admin-settings.tmpl" %}</script>
{% endblock %}

{% block content %}
<div class="card round gbe-panel-list mx-2 my-4">
  <div class="card-header gbe-bg-dark">
    <h3>Send Email</h3>
  </div>
  <div class="card-body">
    <form action="" method="post" enctype="multipart/form-data"> 
      {% include "form_table.tmpl" with form=email_form %}
      <input type="submit" class="btn gbe-btn-primary float-right" name="send" value="Send">
    </form>
  </div>
</div>
{% endblock %}
