Dear {{ name }},

This is a reminder to please go to the Expo website and sign your forms prior to coming to the {{conference.conference_name}}!  It really helps us keep registration moving to get this done ahead of time!

  {{ sign_form_url }}
  
We look forward to seeing you at the Expo!
