Dear {{ name }},
<br><br>

This is a reminder to please go to the Expo website and sign your forms prior to coming to the {{conference.conference_name}}!  It really helps us keep registration moving to get this done ahead of time!
<br><br>

  {{ sign_form_url }}
<br><br>

We look forward to seeing you at the Expo!
