<br><br><div style="text-align: center;"><small>
This email has been sent by the www.burlesque-expo.com email system<br>
<a href="http://{{ site }}{{unsubscribe_link}}">
Update email preferences</a><small></div>
