Hello {{ badge_name }},

We're sorry to see you go!
  
... but you can update any of your email preferences here - 
{{ unsubscribe_link }}.

This email was triggered by a request to our site.  If you did not request 
an unsubscription link, rest assured that no changes have been made and you can
 ignore this mail.


{% include 'gbe/email/unsub_footer_plain.tmpl' %}
