  Hello {{ badge_name }},

  <i>We're sorry to see you go!</i><br><br>
  
... but you can update any of your email preferences here - 
{{ unsubscribe_link }}.
<br><br>
This email was triggered by a request to our site.  If you did not request 
an unsubscription link, rest assured that no changes have been made and you can
 ignore this mail.

<br><br>
{% include 'gbe/email/unsub_footer.tmpl' %}
