{% load gbe_tags %}

<p>Dear {{ profile.display_name }},</p>

<p>Thank you for participating in The Great Burlesque Exposition! An update has
been made to your volunteer schedule. Your current volunteer schedule is listed
below; you can also check your schedule at anytime by logging in to the site and
looking at your {{ landing_page_link }}</p>

{% volunteer_schedule profile %}

<p>Please try to report for each volunteer shift a few minutes before it begins. If
for any reason you will not be able to make the commitments on your schedule,
please contact us immediately at info@burlesque-expo.com. In case of emergency
during the BurlExpo, you may call us at (617) 869-2000.</p>

<p>Thank you for being part of The Great Burlesque Exposition!</p>
<br>
{% include 'gbe/email/unsub_footer.tmpl' %}
