/* Base CSS styling for burlexpo */
body {
  margin: 0px;
  border: 0px;
  padding: 0px;
}

.gbe-draft {
  font-weight: bold;
}
.gbe-title {
  font-family: 'Vast Shadow', cursive;
  font-size: 24px;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  vertical-align: middle;
}

/* Used in django CMS provided styles, do not delete */
.gbe-subtitle, .subtitle{
  font-family: 'Vast Shadow', cursive;
  font-size: 20px;
  color: #000;
  letter-spacing: normal;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  vertical-align: middle;
}

.font_large{
  color: #000;
  font-size: 15.4px;
  line-height: 1.5;
  font-family: Lucida Grande,Tahoma,Verdana,sans-serif;
  font-weight: normal;
  text-transform: none;
  font-style: normal;
  letter-spacing: normal;
	
}
/* END: Used in django CMS provided styles, do not delete */

.table-bordered {border-color: black;}
.table-bordered > thead > tr > th {border-color: black;}
.table-bordered > tfoot > tr > th {border-color: black;}
.table-bordered > tbody > tr > td {border-color: black;}

div.container {
    top:0;
}

    
div.banner {
  left: 0px;
  top: 0px;
  padding: 10px 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}


.big_block {
  width: inherit;
  box-sizing: initial;
}

div.banner > a > img {
    display: block;
    margin: auto;
    width: 100%;
}

div.footer{
  margin: 0px;
  text-align: center;
  font-size: 11px;
  line-height: 16.5px;
  font-family: Lucida Grande,Tahoma,Verdana,sans-serif;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  letter-spacing: normal;
}

div.login_text{
  padding: 5px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    clear:both;
    padding:14px;
    width: 100%;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp .bottom{
        border-top:0 none;
    }
}

button.login-button {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 3px;
  margin-right: 3px;
  margin-bottom: 7px;
  border-radius: 4px;
  font-family: 'Vast Shadow', cursive;
  font-size: 18px;
  padding-left: 16px;
  padding-right: 16px;
}
.login-button:hover  {
  color: light grey;
}

.email-button {
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
  background-color:rgb(107, 46, 46);
  border-color:#471f1f;
  margin-top: 3px;
  margin-right: 3px;
  font-size: 16px;
}
.email-button:hover  {
  color: light grey;
}

.email-margin-left {
  margin-left: 10px;
}
#action-button {
  padding: 3px 8px 3px 8px;
}

p.error {
  color: red;
}
div#middle {
    /* The menu scrolls are ugly and driving me crazy.  Change back if you want guys. -MDB */
    
    /* overflow:scroll; */
    overflow: hidden;
    padding: 10px 3px 10px 20px;
}

.special_functions
{
    width:27%;
    align: right;
    display: inline-block;
    border-style: double;
    background: white;
    border-radius: 8px;
    padding: 8px;
    float: right;
}

div.left_col {
    width:52%;
    float:left;
    padding: 10px;
    bottom: 10%;
}

div.right_col {
    width:46%;
    float:right;
    bottom: 10%;
}

table.conf_list {
    width: 100%;
}

div.reviewer_col{
}

div.side_box {
    border: 1px solid black;
    padding: 0 10px 0 10px;
}

@media (min-width:768px){.email-select{width:640px}
}
@media (min-width:992px){.email-select{width:860px}
}
@media (min-width:1200px){.email-select{width:1050px}
}
.email-select{padding:0px;}
#id_email-select-conference{width:250px}
.email-submit{text-align:center}

.form-inline label.horizontal-label{justify-content: flex-start;}

@media (min-width:768px){.bid_review{width:680px}
}
@media (min-width:992px){.bid_review{width:900px}
}
@media (min-width:1200px){.bid_review{width:1100px}
}

/* used in bid review and readonly forms */
div.review-pane {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    background-color: #E3E3E3;
}

h2.review-title
{
    margin: 0px;
    padding: 0px;
}

h3.readonlyform
{
    margin: 0px;
    padding: 0px;
}

@media (min-width:768px){.email_list{width:660px}
}
@media (min-width:992px){.email_list{width:900px}
}
@media (min-width:1200px){.email_list{width:1000px}
}
.email-list-even
{
  background-color: #CCC;
} 

.email-list-odd
{
  background-color: #EEE;
}

.sched-table
{
    border: 1px solid black;
    border-collapse:collapse;
    padding: 2px;
    vertical-align: top;
 }
.interested-sched {
  color: grey;
}
.dedicated-sched {
  font-weight: bold;
}
.sched-sub-box
{
  padding: 0px;
}
.sched-header
{
    border: 1px solid black;
    border-collapse:collapse;
    color: white;
    background-color: maroon;
    padding: 2px;
    vertical-align: top;
 }
.bid-table
{
    border: 1px solid black;
    border-collapse:collapse;
    padding: 2px;
    vertical-align: top;
 }
#sub-table
 {  border: 1px solid black;
    border-collapse:collapse;
    padding: 0px;
    vertical-align: top;}
#clear-row {
  background-color: transparent;
}
.bid-form
{
    border: 1px solid black;
    border-collapse:collapse;
    padding: 2px;
    text-align: center;
 }
.approval_needed {
    background-color: #feffb9
}
.error_row
{
    color: red;
}
.errorlist
{
    padding: 0;
    font-weight: normal;
}

.how_volunteer
{
    width: 125;
 }
.volunteer-icon {
    height: 16px;
}
.volunteer-icon-large {
  float: right;
  width: 32px;
}
hr.bid-table
{
    border: 0; height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
}


/*used for help text*/
span.dropt {border-bottom: background: white;}
span.dropt:hover {text-decoration: none; background: #ffffff; z-index: 6; }
span.dropt span {position: absolute; left: -9999px; z-index: 6;
  margin: 4px 0 0 0px; padding: 3px 3px 3px 3px; 
  border-style:solid; border-width:1px;}
span.dropt:hover span {left: 30%; margin: 0px 0 0 0px; z-index:6;} 

.ticketing
{
    border: 2px solid black;
    padding: 2px;
}

.ticket_item
{
    padding: 4px;
}

.header
{
    background-color: #B28E8E;
    color: white;
    font-size: larger;
    font-weight: bold;
}
.dark_row
{
    font-weight: bold;
    background-color: #D5BBBB;
}

.visible
{
    font-weight: bold;

}

/* Used for the hover on the performer grid */
span.perfhover
{
  border-bottom: background: white;
  z-index: 1;
  position: relative;
}
span.perfhover:hover
{
  text-decoration: none;
  background: #ffffff;
  z-index: 6;
}
span.perfhover span
{
  position: absolute;
  left: -99999px;
  margin: 20px 0 0 0px;
  padding: 3px 3px 3px 3px;
  border-style:solid;
  border-color:black;
  border-width:1px;
  z-index: 6;
}
/*
span.perfhover span
{
  position: absolute;
  left: -9999px;
  margin: 4px 0 0 0px;
  padding: 3px 3px 3px 3px; 
  border-style:solid;
  border-color:black;
  border-width:1px;
}
*/
span.perfhover:hover span
{
  left: -200px;
  top: 20px;
  width: 500px;
  margin: 20px 0 0 170px;
  background: #ffffff;
  z-index:6;
} 


td.title
{
  border: solid 1px black; 
  width: 20%;
  padding: 2px;
}

td.describe
{
  border:solid 1px black; 
  width: 40%;
  padding: 2px;
}

.helptext
{
  font-style: italic;
  color: grey;
}

.listblock
{
  padding-right: 20px;
  padding-left: 20px;
}


.listheader
{
  font-family: 'Vast Shadow', cursive;
  font-size: 30px;
  color: #333333;
}

.perf-head
{
  font-family: 'Vast Shadow', cursive;
  font-size: 30px;
  color: white;
}

.perf-div
{
  background-color: #960320;
  margin-top: 20px;
}

.listsubheader
{
  font-family: Lucida Grande,Tahoma,Verdana,sans-serif;
  font-size: 20px;
  color: #333333;
}

.listdetails
{
}
.listlabel
{
 font-weight: bold;
}
.listdesc
{
  padding-top: 10px;
  padding-left: 30px;
  color: #000;
  font-size: 11px;
  font-family: Lucida Grande,Tahoma,Verdana,sans-serif;
  font-weight: 400;
  text-transform: none;
  font-style: normal;
  letter-spacing: normal;	
}
.listline
{
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  width: 90%
}
  
.listline:after
{
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: white;
}


/*Schedule detail view*/
.sched_block
{
    margin: 10px;
    width: 98%;
}
.sched_desc
{
  padding-top: 10px;
  align:left;
  width:70%;
  display: inline-block;
  vertical-align: top;
}
.sched_sidebar
{
  width:27%;
  align: right;
  display: inline-block;
}
.sched_times, .sched_side
{
  border-style: double;
  background: #C3BDBF;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 8px;
}
.act_tech_box {
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  margin: 3px;
}
.detail_link, .detail_link:visited {color: black;}
.sched-sub-box > .detail_link,  .sched-sub-box > .detail_link-detail_disable {
    text-align: center;
    display: inline-block;
    width: 45%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.volunteer-detail_link-disabled, .volunteer-detail_link-disabled:hover, .volunteer-detail_link-disabled:active, .volunteer-detail_link-disabled:visited {
  color: #807d7d;
}
.detail_link:hover, .detail_link:active {
    color: #6E6E6E;
}
.detail_link-disabled, .detail_link-disabled:hover, .detail_link-disabled:active, .detail_link-disabled:visited {
  color: #C3BDBF;
}
.detail_link-detail_disable, .detail_link-detail_disable:hover, .detail_link-detail_disable:active, .detail_link-detail_disable:visited
{color: #6E6E6E;}
.bio_block
{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
@media (min-width:768px){.bio_block{width:640px}
}
@media (min-width:992px){.bio_block{width:880px}
}
@media (min-width:1200px){.bio_block{width:1100px}
}

@media (min-width:768px){.bios{width:680px}
}
@media (min-width:992px){.bios{width:900px}
}
@media (min-width:1200px){.bios{width:1100px}
}

@media (min-width:768px){.review{width:650px}
}
@media (min-width:992px){.review{width:870px}
}
@media (min-width:1200px){.review{width:1070px}
}
.read-only-label
{
  font-weight: bold;
  min-height: 25px;
}
.read-only-info
{
  min-height: 25px;
}
.top-buffer { margin-top:20px; }

.sched_detail_title
{
  color: #333333;
  font-family: 'Vast Shadow', cursive;
  font-size: 30px;
}
.sched_detail
{
 font-weight: bold;
}


.ticket
{
  margin-left: 10px;
  font-weight: normal;
}
.conf_tickets
{
  font-weight: bold;
}

.ticket_list_item
{
  margin-left: 15px;
}
.ticket_name
{
 font-weight: bold;
}

div.performer
{
}
.gbe_no_pic
{
  width: 50px;
  height: 20px;
  display: inline-block;
  margin: 2px;
}
.gbe_thumb_block
{
  width: 50px;
  max-height: 75px;
  display: inline-block;
  margin: 2px;
}
.gbe_thumbnail
{
  width: 100%;
  height: auto;
}
.performer_text
{
  display: inline-block;
  width: 190px;
  vertical-align: middle;
  word-wrap:break-word;
}

.bio_name
{
  margin: 10px 0px;
}

table.events-table
{
    border:1px solid;
    
}

table.events-table th
{
    border:1px solid;
    text-align: left;
}

table.events-table td
{
    border:1px solid;
}

tr.event_edit_row
{
  vertical-align: top;
} 

tr.event_opp_row
{
  vertical-align: top;
} 

table.event_opps  tr.event_opp_row:nth-child(even)
{
  background-color: #CCC;
} 

table.event_opps  tr.event_opp_row:nth-child(odd)
{
  background-color: #EEE;
} 

tr.changed
{
  background-color: #BA8E70;
  vertical-align: top;
}

tr.blank_row
{
  background-color: #D0D0D0 ;
}

tr.event_opp_row > td
{
  padding: 3px;
  vertical-align: middle;
}

tr.changed > td
{
  padding: 3px;
  vertical-align: middle;
}

tr.changed > td > select
{
  padding: 4px 0 4px 0;
}

tr.event_opp_row > td > select
{
  padding: 4px 0 4px 0;
}

tr.changed > td
{
  padding: 3px;
}
div.gbe-alert 
{
    background-color: rgba(241, 221, 91, 01);
}


/* can remove above when we get rid of all 3 column templates in the old way, below is a nicer
 * boostrap way that lets us revert to tabs when the screen size is small */
/* small device */
/* --------------- Responsive Fixes --------------- */

.three-column-container {
  padding-right: 0px;
  padding-left: 0px;
  width:inherit
}

/* small device */
@media (max-width: 767px) {
  .device-big {
    display: none;
  }
  .device-small {
    display: block;
  }
}

.device-small > li:hover {
  border-bottom: 4px solid #C78785;
}

.device-small > li > a.active {
  border-bottom: 4px solid #8e0e0a;;
  position: relative;
}

.device-small > li > a {
  color: black;
}
  
.device-small > li.active > a {
  background-color: inherit;
}

.device-small > li.active > a:hover {
  background-color: inherit;
}

.device-small > li.active > a > li:hover {
  background-color: inherit;
}

/* big device */
@media only screen and (min-width : 768px) {
  .device-big, .tab-content > .tab-pane {
    display: block;
  }
  .device-small {
    display: none;
  }
  .tab-content > .tab-pane {
    display: block;
  }
}
/* --------------- / Responsive Fixes --------------- */


.landing_box{
	border: 1px solid black;
        padding: 10px;
}

/* Landing page, center blocks */

div.landing_box>div.schedule_section> div.event {
  /* set line-height here */
}

div.landing_box>div.ticket_section > div.ticket {
  /* set line-height here */
}

/* Landing page, right-column blocks */
div.sidebar>div.sidebar-text {
    border: solid;
    border-color: #C3BDBF;
    padding: 18px;
    margin-bottom: 10px;
}

div.sidebar>div.act_section {
    background-color:#C3BDBF;
    padding-left:5px;
    padding-top:5px;
}

div.bid_review_section{
    margin-top: 10px;
    background-color:#C3BDBF;
    padding-left:5px;
    padding-top:5px;
}

tr.flex_review_row>td, tr.flex_review_row>th{
  text-align: center;
  padding: 5px;
}
table.flex_review  tr.flex_review_row:nth-child(even)
{
  background-color: #CCC;
} 

table.flex_review  tr.flex_review_row:nth-child(odd)
{
  background-color: #EEE;
} 

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}
th.rotate-review {
  /* Something you can count on */
  height: 105px;
  white-space: nowrap;
  padding: 5px;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(0px, 51px)
    /* 45 is really 360 - 45 */
    rotate(270deg);
  width: 20px;
}
tr > th.rotate-review > div {
  transform: 
    /* Magic Numbers */
    translate(0px, 88px)
    /* 45 is really 360 - 45 */
    rotate(270deg);
  width: 10px;
}
tr > th.rotate-review > div.act-header {
  transform: 
    /* Magic Numbers */
    translate(0px, 2px)
    /* 45 is really 360 - 45 */
    rotate(270deg);
  width: 10px;
}
th.rotate > div > span {
}
th.rotate-review > div > span > a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

div.sidebar>div.class_section {
    margin-top: 10px;
    background-color:#E3DDDF;
    padding-left:5px;
    padding-top:5px;
}

div.sidebar>div.performer_section {
    background-color:#E3DDDF;
    padding-left:5px;
    padding-top:5px;
}


div.sidebar>div.show_section {
    margin-top: 10px;
    background-color:#E3DDDF;
    padding-left:5px;
    padding-top:5px;
}


div.sidebar>div.volunteer_section {
    margin-top: 10px;
    background-color:#C3BDBF;
    padding-left:5px;
    padding-top:5px;
}

div.sidebar>div.costume_section {
    margin-top: 10px;
    background-color:#E3DDDF;
    padding-left:5px;
    padding-top:5px;
}

div.sidebar>div.vendor_section {
    margin-top: 10px;
    background-color:#C3BDBF;
    padding-left:5px;
    padding-top:5px;
}

.filer_image.right {
  float: right;
}


.filer_image.left {
  float: left;
}

table.gbe_table {
  width: 100%;
}

td.form_label {
  width: 30%;
}

.form-group  > div > div > div > label > label {
  font-weight: normal;
}

.form-group  > div > div > div > ul {
  padding: 0;
}

td.form_field {
  width: 60%;
  padding: 5px;
}

.form-horizontal .control-label {
  text-align: left;
}

.horizontal-input > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.horizontal-input > ul > li {
    float: left;
    padding-right: 8px;
}

th.horizontal-input > ul > li {
  width: 25px;
}
td.horizontal-input > ul > li {
  width: 25px;
}
.long_choice > ul 
{
  border-top: 1px solid black;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

ul.long_choice
{
  border-top: 1px solid black;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
}

td.form_field > ul 
{
  padding: 5px 0px;
}

td.form_field.long_choice > ul > li
{
  width: 250px;
  height: 20px;
}

.form-group > div > div > div > ul > li
{
  list-style-type: none;
}
.form-group > ul > li
{
  list-style-type: none;
  font-size: larger;
  font-weight: bold;
}
.form-group > div > ul > li
{
  list-style-type: none;
}
.single-radio > ul > li > label
{
  font-size: smaller;
  font-weight: normal;
}
.checkbox-ticketing > ul > li > label
{
  font-weight: normal;
}
.checkbox-ticketing > ul {
  padding-left: 20px;
}
.form-group > ul > li > ul > li
{
  list-style-type: none;
  font-size: smaller;
  font-weight: normal;
}

.event_booking > .form-group > .row > div {
  min-height: 32px;
}
.event-booking-cell {
  min-height: 32px;
}


input#id_max_volunteer, input#id_new_opp-max_volunteer, input#id_new_slot-max_volunteer
{
  width: 40px
}
input#id_current_acts, input#id_new_slot-current_acts
{
  width: 40px
}

input#id_duration, input#id_new_opp-duration, input#id_new_slot-duration
{
  width: 70px
}

span.opps-errors > ul > li
{
  list-style-type: none;
  color: red;
}

span.opps-errors > ul 
{
  padding: 0px;
}

.calendar_table .cal_body TH
{
  width: 80px;
}

div.hierarchy-1
{
  padding-left: 20px;
}
#inner > li.active > a {
  background-color: rgb(221, 221, 221);
  color: rgba(180, 80, 80);
}

#inner > li > a {
  color: rgba(150, 150, 150);
}
.scheduling-area {
  background-color: rgb(221, 221, 221);
  padding: 15px;
}
.scheduling-area > .form-row > .form-group {
  min-height: 26px;
}
.gbe-filter {
  margin-left: 10px;
}
.checkbox-box {
    border-radius: 15px;
    border: 1px solid grey;
    padding-bottom: 3px;
}
.checkbox-box-success {
    border-radius: 15px;
    border: 1px solid grey;
    margin: 5px;
    padding: 0px 2px 5px 2px;
    background-color: rgb(223, 240, 216);
}
.vol_header {padding: 0 3px 0 3px;}

.gbe_accordion {
  margin: 20px auto;
}
 
.gbe_accordion .card,
.gbe_accordion .card:last-child .card-header {
  border-color:#585858;
}
.gbe_accordion .card-header {
    color: #fff;
    background-color: #aaaaaa;
    border-color: #aaaaaa;
}
.gbe_accordion .mb-0 {
    margin: 0px;
}
.gbe_accordion .fa-stack {
  font-size: 14px;
}
.gbe_accordion .card-body {
  background-color: #ebebeb;
}
.gbe_accordion button.btn {
  width: 100%;
  font-weight: bold;
  color: #fff;
  padding: 0;
  font-size: 16px;
}
.gbe_accordion a.btn {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}
#ticket_button {
    font-size: 12px;
}
#ticket_action {
  width: 70px;
  padding: 0px;
  text-align: center;
}
#ticket_action>div>a {
  margin: 2px 0px 2px 0px;
}
.gbe_accordion .btn-link:hover,
.gbe_accordion .btn-link:focus {
  text-decoration: none;
  outline: none;
}
.link-events-plus {
  color: gainsboro;
}
.link-events-plus:hover {
  color: black;
}
