@media (min-width:768px){.calendar-container{width:660px}
}
@media (min-width:992px){.calendar-container{width:900px}
}
@media (min-width:1200px){.calendar-container{width:1080px}
}

.time-row {text-align: center;padding: 5px;font-size: larger;border-style:  solid;}
.event-row {border-style:solid;}
.event-row > div {border-style:solid;}
div.shadow_event {
    background-color: #e6e6e6;
}
.backward {text-align: left; padding: 0px;}
.forward {text-align: right; padding: 0px;}
.calendar-container {border-style:  solid;}
.header1 {text-align: center;font-family: 'Montserrat', sans-serif;font-size: 20px;border-style:  solid;}
.header2 {text-align: center;font-family: 'Montserrat', sans-serif;font-size: 25px;border-style:  solid;}
.cal-favorite {float: right;}
.vol_shift_div {padding: 0px;}
.vol_shift_header {border-style:solid;font-size: 12px;padding-left: 2px;padding-right: 2px;}
.vol_shift_hour, .vol_shift_mid {border-right-style: solid; border-left-style: solid;}
.vol_shift_event {border-style: solid;}
