{% extends 'base.html' %}
{% load static sekizai_tags gbe_tags %}
{% block title %}
   {{page_title}}
{% endblock %}
{% block theme %}
    <link href="{% url 'themes:theme_style' version.pk %}" rel="stylesheet">
{% endblock %}
{% block content %}
<h2 class="gbe-title">{{title}}</h2>
<p>{{ instructions | safe }}</p>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if version_form %}
    <h4 class="gbe-subtitle">New Theme Settings</h4>
    {% include "form_table.tmpl" with form=version_form %}
    {% endif %} 
<div id="accordion" class="gbe_accordion my-3">
  {% for group_dict in groups %}
  <div class="card gbe-panel-list">
    <div class="card-header gbe-bg-dark" id="heading{{group_dict.group.pk}}">
      <h2 class="mb-0">
      <a data-toggle="collapse" href="#collapse{{group_dict.group.pk}}" role="button" aria-expanded="false" aria-controls="collapse{{group_dict.group.pk}}">
        {{group_dict.group}}</a>
      </h2>
    </div>
    <div id="collapse{{group_dict.group.pk}}" class="collapse">
      <div class="card-body gbe-bg-light">
{{group_dict.group.test_notes | safe}}
<ul>{% for test_url in group_dict.group.test_urls.all %}
  <li><a href="{{test_url.partial_url}}" class="gbe-link">{{test_url.display_name}}</a> - {{test_url.test_notes}}</li>
{% endfor %}</ul>
<table>
  <tbody><tr class="gbe-table-row">{% for element in group_dict.elements %}
    <td><div class="text-center">{{ element.sample_html|safe }}</div><br>
      <i>{{ element.description|safe }}</i></td>
  {% endfor %}</tr>
  {% for label in group_dict.labels %}
  <tr class="gbe-table-row"><td colspan="{{group_dict.elements|length}}"><b>{{label.name}}</b>
    {% if label.help_text %}<br>{{ label.help_text }}{% endif %}
    </td></tr>
  <tr class="gbe-table-row">
    {% if group_forms|testkey:label %}
    {% for element in group_dict.elements %}
        <td>{% if group_forms|keyvalue:label|testkey:element %}
          {% for form in group_forms|keyvalue:label|keyvalue:element %}
          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {% for field in form.visible_fields %}
            {{ field }}
          {% endfor %}
          <font class="gbe-form-error">{% if form.errors %}
          <p class="gbe-form-error"> There is an error on the form.</p>
          {% endif %}
          {{ form.non_field_errors }}
          {% for field in form.visible_fields %}{{ field.errors }}{% endfor %}</font>
        {% endfor %}{% else %}N/A{% endif %}</td>
    {% endfor %}
    {% else %}
    <td colspan="{{group_dict.elements|length}}">No properties available in this version</td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
     </div>
    </div>
  </div>
  {% endfor %}
    <div class="card gbe-panel-list">
    <div class="card-header gbe-bg-dark" id="headingEverything">
      <h2 class="mb-0">
      <a data-toggle="collapse" href="#collapseEverything" role="button" aria-expanded="false" aria-controls="collapseEverything">
      Everything Else
      </a></h2>
    </div>
    <div id="collapseEverything" class="collapse">
      <div class="card-body gbe-bg-light">

    {% for value, form in forms %}
    {% ifchanged value.style_property.selector.used_for %}<h3 class="gbe-subtitle">{{ value.style_property.selector.used_for }}</h3>{% endifchanged %}
    {% ifchanged value.style_property.selector %}<code><b>{{ value.style_property.selector }}</b></code><br><i>{{value.style_property.selector.description}}</i><br><br>{% endifchanged %}
    <div class="gbe-text-muted"><em>{{ value.style_property.style_property }}</em></div>
    {% if value.style_property.value_type == "image" %}
    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}
    <div class="row">
      <div class="form-group col-12 col-md-3">
        <font class="gbe-form-error">{% if form.errors %}
          <p class="gbe-form-error"> There is an error on the form.</p>
          {% endif %}
          {{ form.non_field_errors }}</font>
        {% include "label_horizontal.tmpl" with field=form.image %}
      </div>
      <div class="form-group col-12">
      {% for radio in form.image %}
        <div class="form-check-inline image_select_list text-center">
        <label class="form-check-label radio-label" id="{{ radio.id_for_label }}">
          {{ radio.choice_label }}<br>{{ radio.tag }}
        </label></div>{% endfor %}
      </div>
      <div class="form-group col-12">
        {% if form.image.errors %}
        <label for="{{form.image.name}}">          
        <font class="gbe-form-error">{{ form.image.errors }}</font>
        </label>
      {% else %}&nbsp;{% endif %}
      </div>
    </div>
    <div class="row"><div class="form-group col-12 col-md-3">
        {% include "label_horizontal.tmpl" with field=form.add_image %}
      </div>
      <div class="form-group col-md-9 col-12">
        {{form.add_image}}
    {% if form.add_image.errors %}
      <label for="{{form.add_image.name}}">          
        <font class="gbe-form-error">{{ form.add_image.errors }}</font>
      </label>
    {% else %}&nbsp;{% endif %}
    </div></div>
    {% else %}
    {% include "form_horizontal.tmpl" %}
    {% endif %}
    {% endfor %}
     </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-6 offset-md-6 col-lg-5 offset-lg-7 dropdown">
    {% if not version_form %}
    <button type="submit" id="dropdownMenuButton" class="btn gbe-btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clone Version</button>
    <div class="dropdown-menu px-4 py-3 gbe-form-dropdown" aria-labelledby="dropdownMenuButton">
        <div class="form-group">
            <label for="id_name"><font class="gbe-form-required">*</font>Version Name:</label>
            <input class="form-control" type="text" name="name" value="{{version.name}}" maxlength="128" id="id_name">
        </div>
        <div class="form-group">
            <label for="id_number"><font class="gbe-form-required">*</font> Version Number:</label>
            <input class="form-control" type="number" name="number" value="{{version.next_version|floatformat:1}}" min="0.1" step="any" id="id_number">
        </div>
        <div class="form-group">
          <input type="submit" name="clone" value="Clone" class="btn gbe-btn-primary" formaction="{% url 'themes:clone_theme' version.pk %}">
        </div>
    </div>
    {% endif %}
    <input type="submit" name="update" value="Update" class="btn gbe-btn-primary" >
    <input type="submit" name="finish" value="Finish" class="btn gbe-btn-primary" >
    <input type="submit" name="cancel" value="Cancel" class="btn gbe-btn-light" formnovalidate>
  </div>
</div>
</form>
{% addtoblock "js" %}
<script src="/static/js/jscolor.js"></script>
{% endaddtoblock %}
{% endblock %}
