{% load static %}
{% for selector, properties in selectors.items %}{{ selector | safe }} { {% for property, value in properties.items %}
    {{ property }}: {{ value }};{% endfor %}
}
{% endfor %}

li.progressbar_active:before{
  content: url({% static 'img/Navicon_Active.png' %});
}
li.progressbar_completed:before{
  content: url({% static 'img/Navicon_Completed.png' %});
}
li.progressbar_upcoming:before{
  content: url({% static 'img/Navicon_Upcoming.png' %});
}
